---
name: apply_discount_code
resource: modules/insites_ecommerce/cart
resource_owner: anyone
redirect_to: > 
    {{ context.params.slug }}
fields:
    properties:
        uuid:
        contact_uuid:
        discount_code_uuids:
        temp_discount_code:
            property_options:
                virtual: true
callback_actions: >
    {%- parse_json payload -%}
    {
        "check_duplicates": true,
        "form_update": true,
        "form_delete": true,
        "form_id": "{{ form.id }}",
        "contact_uuid": "{{ form.properties.contact_uuid }}",
        "discount_code": "{{ form.properties.temp_discount_code }}"
    }
    {%- endparse_json -%}
    {% log payload, type: "====payload in apply discount code====" %}
    {% include "modules/ecommerce/checkout/validate_discount_code" 
        payload: payload %}
---

{% comment %} Get the user uuid {% endcomment %}
{%  liquid
    if context.session.user_uuid and context.session.user_uuid != ''
        assign user_uuid = context.session.user_uuid
    else
        graphql user = 'modules/client/account/get_current_user'
        session user_uuid = user.current_user.external_id
        assign user_uuid = user.current_user.external_id
    endif
%}

<ins-accordion>
    <ins-accordion-item 
        class="discount-code-form"
        heading="Have a Discount Code?" 
        open-icon="icon-plus"
        close-icon="icon-minus">
        
        <div>
            {% form 
                html-id: "apply-discount-code" 
                html-novalidate: true 
                html-onsubmit:"return shoppingCart.methods.validateDiscountCode(event);" %}

                <input type="hidden" 
                    id="user-uuid-input"
                    name="{{ form.fields.properties.contact_uuid.name }}"
                    value="{{ user_uuid }}" >

                <div class="grid-x gap">
                    <ins-input required validate
                        id="discount-code-input"
                        class="flex-child-auto"
                        error-message="Discount Code is required"
                        label=""
                        placeholder="Enter Discount Code"
                        name="{{ form.fields.properties.temp_discount_code.name }}">
                    </ins-input>
                    <ins-button 
                        id="apply-discount-btn"
                        label="Apply"
                        type="submit">
                    </ins-button>
                </div>
            {% endform %}
        </div>

    </ins-accordion-item>
</ins-accordion>
