---
name: ticket_purchase
resource: modules/insites_ecommerce/order
resource_owner: anyone
redirect_to: /purchase-ticket
flash_alert: Error-PayBill
flash_notice: Success-PayBill
fields:
  properties:
    order_reference:    
      validation: 
        presence:
          message: Order Reference Number is required  
    subtotal_amount:    
      validation: 
        presence:  
          message: Minimum of 1, maximum of 983283.99
    uuid:
      validation: 
        presence: true
    total_tax_amount:    
      validation: 
        presence:
          message: Tax Amount is required  
    currency:    
      validation: 
        presence: true
    date_time:    
      validation: 
        presence: true

    total_amount:    
      validation: 
        presence: true
    total_discount_amount:    
      validation: 
        presence: true
    order_status:
    order_payment_status:
    order_shipping_status:
    notes:
    ticket_type: 
      validation: 
        presence:
          message: Please select a ticket
      property_options:
        virtual: true
    ticket_qty: 
      validation: 
        presence:
          message: Please select a quantity
      property_options:
        virtual: true
    capacity_per_group:
      validation: 
        presence: true
      property_options:
        virtual: true
    ticket_type_name:
      validation: 
        presence: true
      property_options:
        virtual: true
    ticket_orig_price:
      validation: 
        presence: true
      property_options:
        virtual: true
    ticket_orig_price_group:
      validation: 
        presence: true
      property_options:
        virtual: true
    venue_name:
      validation: 
        presence: true
      property_options:
        virtual: true
    venue_uuid:
      validation: 
        presence: true
      property_options:
        virtual: true
    event_uuid:
      validation: 
        presence: true
      property_options:
        virtual: true
    ticket_group_capacity:
      validation: 
        presence: true
      property_options:
        virtual: true

    # Other Details 
    stripe_credit_card:
      property_options:
          virtual: true   
          
    # DISCOUNT 
    discount_id:
      property_options:
          virtual: true
    discount_name:
      property_options:
          virtual: true      
    discount_usage_count:
      property_options:
          virtual: true    
          
    # Additional details for Events
    event_name:
      property_options:
          virtual: true
    event_reference:
      property_options:
          virtual: true
    event_start_date:
      property_options:
          virtual: true
    event_start_time:
      property_options:
          virtual: true
    event_location:
      property_options:
          virtual: true
    calendar_invitation:
      property_options:
          virtual: true
    event_region:
      property_options:
        virtual: true

default_payload: >
  {% graphql current_user = 'modules/client/account/get_current_user' | dig: 'current_user' %}

  {% assign crm_contact = current_user.crm_contact | first %}
  {% assign client = current_user.client | first %}

  {% function settings = "modules/client/pay_bills/get_settings" %}
  {%  assign uuid =  '' | uuid %}
  {
    "properties_attributes":{
        "user_id": "{{ context.current_user.id }}",
        "user_uuid": "{{ current_user.external_id }}",
        "company_uuid": "{{ client.company_uuid }}",
        "currency": "{{ settings.currency }}",
        "date_time": "{{ 'now' | date: '%Y-%m-%dT%H:%M:%S'}}",
        "is_enabled": true,
        "order_status": "Open",
        "order_payment_status": "Pending Funds",
        "shipping_status": "Not Applicable"
    }
  }  
callback_actions: >
  {%- include 'modules/client/pay_bills/callback_init', 
      context: context,
      form: form -%}      
---
{% comment %} Get event details {% endcomment %}
{% assign event_uuid = context.params.event %}

{%- graphql event = 'modules/events/events/get_event_by_uuid', uuid: event_uuid | dig: "items", "results" | first -%}
{%- graphql venue = 'modules/events/events/get_venue_area', venue_uuid: event.venue_uuid | dig: "items", "results" | first -%}
{% graphql venue_area = 'modules/events/events/get_event_venue_area', event_uuid: event_uuid | dig: "items", "results" | first %}

{% comment %} Get System Fields {% endcomment %}
{%- function system_field_names =  "modules/insites_events/controllers/utilities/advanced_filters/get_filter_options"  -%}
       
{% assign filter_options = '{}' | parse_json %}
{% for filter_option in system_field_names %}
    {% assign _data = '{}' | parse_json %}
    {% capture var %}filter-{{ forloop.index }}{% endcapture %}
    {% assign filter_options = filter_options | add_hash_key: var, _data %}
    {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_name", filter_option[0] %}
    {% if filter_option[1].options != blank %}
        {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_options", filter_option[1].options | parse_json %}
    {% endif %}
    {% comment %} Get ticket packages {% endcomment %}
    {% if filter_options[var].field_name == "Ticket Packages" %}
        {% assign ticket_groups = filter_options[var] %}
    {% endif %}
{% endfor %}

{% comment %} Isolate ticket group label {% endcomment %}
{% assign system_field_arr = event.system_fields_uuids %}
{% assign ticket_system_field  =  ticket_groups.field_options  %}

{% for object in ticket_system_field %}
  {% if system_field_arr contains object.uuid %}
    {% assign found = true %}
    {% assign ticket_group = object %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign ticket_group_label = ticket_group.value %}


{% comment %} Check if tickets are enabled {% endcomment %}
{% assign is_individual_ticket_enabled = venue_area.is_individual_ticket_enabled %}
{% assign is_enable_group_ticket = venue_area.is_group_ticket_enabled %}

{% comment %} Check venue capactiy {% endcomment %}

{% assign individual_capacity = venue_area.area_individual_tickets_remaining %}
{% assign capacity_per_group = venue_area.area_group_tickets_remaining %}
{% assign group_capacity = capacity_per_group |  divided_by: venue_area.capacity_per_group %}
{% assign capacity_count  = venue_area.capacity_per_group %}

{% comment %} Get venue details {% endcomment %}
{% assign area_name = venue_area.area_name %}
{% comment %} Steps {% endcomment %}
{%- form 
    html-id: "purchase-ticket-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit: "return Session.events.purchaseHandler(event);" -%}
    {%- assign props = form.fields.properties -%}
    {%  assign uuid =  '' | uuid %}
    
    <input type="hidden" id="bill-total-amount" name="{{ props.total_amount.name }}">
    <input type="hidden" id="bill-notes" name="{{ props.uuid.name }}" >
    <input type="hidden" id="bill-notes" value="{{uuid}}" name="{{ props.uuid.name }}" >

    <input type="hidden" id="invoice-number" name="{{ props.order_reference.name }}" value="{{ "" | uuid }}">
    <input type="hidden" id="bill-order-value" name="{{ props.subtotal_amount.name }}">
    <input type="hidden" id="tax-amount" name="{{ props.total_tax_amount.name }}" value="0" >

    <input type="hidden" id="total-discount-amount" name="{{ props.total_discount_amount.name }}" value="0">

    <input type="hidden" name="{{ props.capacity_per_group.name }}" value="{{ capacity_per_group |  default: 0 }}">
    <input type="hidden" id="ticket-type-name" name="{{ props.ticket_type_name.name }}">
    <input type="hidden" name="{{ props.ticket_orig_price.name }}" value="{{ individual_ticket_price |  default: 0 }}">
    <input type="hidden" name="{{ props.ticket_orig_price_group.name }}" value="{{ group_price |  default: 0 }}">
    <input type="hidden" name="{{ props.ticket_group_capacity.name }}" value="{{ capacity_count }}">

    <input type="hidden" name="{{ props.venue_name.name }}" value="{{ area_name }}">
    <input type="hidden" name="{{ props.venue_uuid.name }}" value="{{ event.venue_uuid }}">
    <input type="hidden" name="{{ props.event_uuid.name }}" value="{{ event_uuid }}">

    <input type="hidden" id="discount-id" name="{{ props.discount_id.name }}">
    <input type="hidden" id="discount-name" name="{{ props.discount_name.name }}">
    <input type="hidden" id="discount-usage-count" name="{{ props.discount_usage_count.name }}">

    
    {% comment %} ? ADDED FIELDS FOR EVENT DETAILS TO BE SAVED ON ORDERS -> CUSTOM FIELDS {% endcomment %}

    {% assign event_start_date = event.start_date_time %}
    {% assign event_start_time  = event.start_date_time | date: "%H:%M" %}

    {% comment %} ? CONVERT TIMEZONE ABBR {% endcomment %}
    {% function time_zone_abbr = "modules/events/my_events/set_timezone" %}

    <input type="hidden" id="event-name" name="{{ props.event_name.name }}" value="{{ event.event_name }}">
    <input type="hidden" id="event-reference" name="{{ props.event_reference.name }}" value="{{ event.reference_number }}">
    <input type="hidden" id="event-start-date" name="{{ props.event_start_date.name }}" value="{{ event_start_date }}">
    <input type="hidden" id="event-start-time" name="{{ props.event_start_time.name }}" value="{{ event_start_time }} {{ time_zone_abbr }}">

    {% comment %} ? ASSIGNING EVENT CUSTOM FIELDS {% endcomment %}
    {% assign event_custom_fields = event.custom_fields | first %}
   
    {% comment %} ? HOLDER OF INVITE LINK {% endcomment %}
    <input type="hidden" id="invite-link" name="{{ props.calendar_invitation.name }}" value="{{ event_custom_fields.calendar_invitation.url }}">

    {% comment %} ? HOLDER OF EVENT REGION {% endcomment %}
    <input type="hidden" id="event-region" name="{{ props.event_region.name }}" value="{{ event_custom_fields.event_region }}">

    {% comment %} ? Settings of Button if Email Exists {% endcomment %}
    {% comment %} {% if is_company_email_exists.is_company_email_exists == true %}
        {% assign is_disabled = "disabled='false'" %}
        {% assign is_visible = "style='display: none;'" %}
    {% else %}
        {% assign is_disabled = "disabled='true'" %} 
        {% assign is_visible = "style='display: block;'" %}       
    {% endif %} {% endcomment %}
    
    <div id="purchase-ticket-container">
        <div class="spacer xxxx-large"></div>
        <div id="ticket-purchase-header-container">
          <h1 id="ticket-purchase-header" class="heading-1-xsmall">Ticket purchase</h1>
          <div class="spacer x-large"></div>
        </div>
        <div class="purchase-page">
            {%- assign props = form.fields.properties -%}
            <div class="grid-x grid-padding-x invoice-details form-group" active>
                <div  class="large-7 medium-12 small-12 cell">
                    {% comment %} Step 1 {% endcomment %}
                    {% include "modules/events/purchase_ticket/ticket_selection_step", is_disabled: is_disabled, is_visible: is_visible  %}    
                    
                    {% comment %} Step 2 {% endcomment %}
                    {% include "modules/events/purchase_ticket/billing_form_step", is_disabled: is_disabled, is_visible: is_visible  %}    
                    
                    {% comment %} Step 3 {% endcomment %}
                    {% include "modules/events/purchase_ticket/payment_step", is_disabled: is_disabled, is_visible: is_visible  %}    


                </div> 
                <div  class="large-4 large-offset-1 medium-12 small-12 cell">
                    {% include "modules/events/purchase_ticket/payment_summary" %}
                </div>
            </div>

            <div class="spacer hide-for-large"></div>
            {% comment %} ? BUTTONS - Step 1 {% endcomment %}
            <div id="purchase-ticket-button-step-1" class="grid-x grid-padding-x">
              <div class="large-7 medium-12 small-12 cell">
                  <div class="grid-x">
                      <div class="cell large-6 medium-6 small-4"> 
                        <a onclick="history.back()">
                          <ins-button type="button" id="cancel-button" label="Cancel" icon="icon-close-1" outlined ></ins-button>
                        </a>
                      </div>
                      <div class="cell large-6 medium-6 small-8 text-right">
                        <ins-button {{ is_disabled }} type="button" id="submit-purchase" class="submit-btn" label="Contact & billing" icon-right="icon-arrow-forward" solid ></ins-button>
                      </div>
                  </div>                    
              </div> 
              <div class="large-4 large-offset-1 medium-12 small-12 cell"></div>
            </div>

            {% comment %} ? BUTTONS - Step 2 {% endcomment %}
            <div id="purchase-ticket-button-step-2" class="grid-x grid-padding-x hide">
              <div class="large-7 medium-12 small-12 cell">
                <div class="grid-x">
                  <div class="cell large-6 medium-6 small-4"> 
                    <a href="/">
                      <ins-button type="button" id="cancel-button" label="Back" icon="icon-arrow-left" outlined ></ins-button>
                    </a>
                  </div>
                  <div class="cell large-6 medium-6 small-12 text-right">
                    <ins-button type="button" id="submit-billing-info" class="submit-btn" label="Proceed to payment" icon-right="icon-arrow-forward" solid ></ins-button>
                  </div> 
                </div>                 
              </div> 
              <div class="large-4 large-offset-1 medium-12 small-12 cell"></div>
            </div>

        </div>
    </div>
  
    <div class="spacer xxxx-large"></div>
{%- endform -%}




