---
name: out_of_stock_inquire_email
to: '{{ form.properties.email }}'
delay: 0
enabled: true
trigger_condition: true
from: >
    {%- include 'modules/insites_core/email_layout/autoresponder_from' -%}
reply_to: >
    {%- include 'modules/insites_core/email_layout/autoresponder_reply_to' -%}
cc:
bcc:
subject: We have recieved your enquiry
layout: modules/insites_core/insites_admin/insites_external_email_layout
---
{%- comment -%}
Email template & content codes are provided by the designers.

Developers to identify and which part is the template,
and which part is the email body / content.
[ie. header, wrapper & footer should be on email template]

- Below should be the code for just the "email content / body".
- You can use the liquid filter 'html_safe' to manage the content with liquid
and still render the content as html.
[ie. <p>{{ greeting | html_safe }}</p>]
{%- endcomment -%}

{%- include 'modules/insites_core/email_layout/email_icon' -%}

<!-- Heading -->
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 24px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="font-size: 24px"><strong>Thank you for your enquiry</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- content -->
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="white-space: pre-wrap">We have sucessfully received your enquiry.</span></div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- content -->
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc.2" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 24px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="white-space: pre-wrap">We will notify you once we have re-stocked our inventory.</span></div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- product name --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc.1" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="white-space: pre-wrap"><strong>Product Name:</strong> {{ form.properties.product_name }}</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- sku --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc.1.1"
  data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="white-space: pre-wrap"><strong>Product SKU:</strong> {{ form.properties.product_sku }}</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{%- if form.properties.product_variant -%}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc.1.1"
  data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="white-space: pre-wrap"><strong>Product Variant:</strong> {{ form.properties.product_variant }}</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
{%- endif -%}
