{% comment %} ? GET DETAILS EVENT AND UUID OF LOGGED IN USER {% endcomment %}
{% assign event_uuid = event.uuid %}
<input hidden type="hidden" id="event_uuid" value="{{ event.uuid }}">
{% assign contact_uuid = context.current_user.external_id %}

{% comment %} ? GET ALL ORDERS USING LOGGED IN USER'S CONTACT UUID {% endcomment %}
{%- graphql get_orders_by_contact_uuid = 'modules/client/events/orders/get_orders_by_contact_uuid', order_contact_uuid: contact_uuid | dig: 'items', 'results' -%}

{% comment %} ? FOR EMPTY STATE {% endcomment %}
{% assign ticket_count = false %}

{% comment %} ? Get System Fields {% endcomment %}
{%- function system_field_names =  "modules/insites_events/controllers/utilities/advanced_filters/get_filter_options"  -%}
       
{% assign filter_options = '{}' | parse_json %}
{% for filter_option in system_field_names %}
    {% assign _data = '{}' | parse_json %}
    {% capture var %}filter-{{ forloop.index }}{% endcapture %}
    {% assign filter_options = filter_options | add_hash_key: var, _data %}
    {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_name", filter_option[0] %}
    {% if filter_option[1].options != blank %}
        {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_options", filter_option[1].options | parse_json %}
    {% endif %}

    {% comment %} ? Get ticket packages {% endcomment %}
    {% if filter_options[var].field_name == "Ticket Packages" %}
        {% assign ticket_groups = filter_options[var] %}
    {% endif %}
{% endfor %}

{% comment %} ? Isolate ticket group label {% endcomment %}
{% assign system_field_arr = event.system_fields_uuids %}
{% assign ticket_system_field  =  ticket_groups.field_options  %}

{% for object in ticket_system_field %}
  {% if system_field_arr contains object.uuid %}
    {% assign found = true %}
    {% assign ticket_group = object %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} ? System Field Label {% endcomment %}
{% assign ticket_group_label = ticket_group.value %}

{% comment %} ? LOOP ORDERS: RELATE TO CONTACT UUID OF LOGGED IN USER {% endcomment %}
{% for ticket_uuid in get_orders_by_contact_uuid %}
 
    {% comment %} ? GET ALL EVENT TICKETS FROM ORDERS {% endcomment %}
    {%- graphql get_event_tickets_from_orders = 'modules/client/events/tickets/get_event_tickets_from_orders', uuid: ticket_uuid.id, event_uuid: event_uuid | dig: 'items', 'results' -%}

    {% comment %} ? CHECK IF TICKETS IS RELATED TO ORDER {% endcomment %}
    {% assign ticket_size = get_event_tickets_from_orders | size %}
    {% if ticket_size > 0 %}

        {% comment %} ? FOR EMPTY STATE {% endcomment %}
        {% assign ticket_count = true %}

        {% comment %} ? TICKET DETAILS {% endcomment %}
        <div class="spacer xxx-large"></div>
        <label class="heading-2-xsmall">Ticket Details</label>
        <div class="spacer"></div>

        {% comment %} ? LABEL AND COUNT OF TICKET TYPE {% endcomment %}
        <span class="paragraph-body-title-case">
            {% for ticket_type in get_event_tickets_from_orders limit:1 %}
                {% if ticket_type.ticket_type == "individual" %}
                    {{ ticket_uuid.order_item.quantity }} x Individual Ticket
                {% else %}
                    {{ ticket_uuid.order_item.quantity }} x {{ ticket_group_label | default: "Group Tickets"}} 
                {% endif %}
            {% endfor %}
        </span>

        {% comment %} ? GUEST DETAILS {% endcomment %}
        <div class="spacer xxx-large"></div>
        <label class="heading-2-xsmall">Guest Details</label>
        <div class="spacer"></div>

    {% endif %}

    {% comment %} ? LOOP TICKETS: RELATE TO ORDER NUMBER AND EVENT UUID {% endcomment %}
    {% for ticket in get_event_tickets_from_orders %}
        <div class="allocation-cards">
            {% comment %} ? CARD COUNT {% endcomment %}
            <div class="allocation-card-count">
                <div class="allocation-card-number">
                    <span class="heading-4">
                        {{ forloop.index }}
                    </span>
                </div>
            </div>

            {% comment %} ? CARD DETAILS {% endcomment %}
            <div class="allocation-card-details">
                <div class="allocation-ticket-number-details">
                    <p class="p-body-bold">Ticket Number: {{ ticket.id }}</p>
                </div>

                {% if ticket.allocation_status == 'unallocated' %}
                    <p class="p-body txt-sub2">No guest assigned</p>
                {% else %}
                    <div class="allocation-customer-details">
                        <div class="allocation-details">
                            <p class="p-body">{{ ticket.contact_first_name }} {{ ticket.contact_last_name }} </p>
                        </div>
                        <div class="allocation-details">
                            <p class="p-body">{{ ticket.contact_email }} </p>
                        </div>
                        <div class="allocation-details">
                            <p class="p-body">{{ ticket.dietary_notes | default: "N/A" }} </p>
                        </div>
                    </div>        
                {% endif %}
            </div>

            {% comment %} ? Condition if Allocated or Not {% endcomment %}
            {% if ticket.allocation_status == 'unallocated' %}
                {% comment %} ? CARD BUTTON {% endcomment %}
                <div class="allocation-card-button">
                    <div data-id="{{ ticket.id }}" class="allocation-button">
                        <span class="allocate-button button-default-2">
                            Allocate Ticket
                            <i class="icon-arrow-forward"></i>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="spacer x-small"></div>
    {% endfor %}
{% endfor %}

{% comment %} ? ALLOCATE MODAL {% endcomment %}
<ins-modal id="allocationModal"
    data=""
    with-backdrop
    no-button
    class="allocationModal">

    <div class="allocationModalBodyContainer">
        <div class="allocationModalDetails">
            <label class="heading-2-xsmall">Allocate Ticket</label>
            <div class="spacer small"></div>
            <p class="p-body">
                Before submitting, please review your details carefully. Once submitted, changes cannot be made. Contact us if you need assistance.
            </p>
            <div class="spacer"></div>

            {% comment %} ? TICKET NUMBER {% endcomment %}
            <ins-input 
                id="allocate-ticket"
                disabled
                label="Ticket Number"
                name="" 
                value="">
            </ins-input>

            {% comment %} ? EMAIL ADDRESS {% endcomment %}
            <div class="allocationModalEmailAddress">
                <div class="allocationName">
                    <ins-input
                        id="allocate-email"
                        placeholder=""
                        label="Email Address*"
                        name=""
                        value="">
                    </ins-input>
                </div>
                <div class="allocationArrowEmail">
                    <ins-button id="searchEmailModal" solid label="" icon="icon-arrow-forward">

                    </ins-button>
                </div>
            </div>
            <p class="body-x-small">
                <i>Please click the red arrow once you have entered your email.</i>
            </p>

            {% comment %} ? ERROR MESSAGE {% endcomment %}
            <div id="error-message-on-email" class="allocationModalErrorMessage is_not_visible">
                <div class="allocationErrorIcon">
                    <i class="icon-warning"></i>
                </div>
                <div class="allocationErrorMessage">
                    <p class="body-x-small">
                        Email address is not yet registered in our system. Please enter their details.
                    </p>
                </div>
            </div>

            <span id="emailRequired" class="txt-red body-x-small is_not_visible">Required</span>
            <div class="spacer"></div>

            {% comment %} ? NAME {% endcomment %}
            <div class="allocationModalName">
                <div class="allocationName">
                    {% comment %} ? FIRST NAME {% endcomment %}
                    <ins-input 
                        id="allocate-first-name"
                        disabled
                        label="First Name*"
                        name="" 
                        value="">
                    </ins-input>
                    <span id="firstNameRequired" class="txt-red body-x-small is_not_visible">Required</span>
                </div>
                <div class="allocationName">
                    {% comment %} ? Last NAME {% endcomment %}
                    <ins-input 
                        id="allocate-last-name"
                        disabled
                        label="Last Name*"
                        name="" 
                        value="">
                    </ins-input>
                    <ins-input hidden id="allocate-external-id" disabled></ins-input>
                    <span id="lastNameRequired" class="txt-red body-x-small is_not_visible">Required</span>
                </div>
            </div>

            <div class="spacer"></div>

            {% comment %} ? Company Name {% endcomment %}
            <ins-input 
                id="allocate-company"
                label="Company Name"
                name="" 
                value="">
            </ins-input>

            {% comment %} ? DIETARY {% endcomment %}
            <ins-textarea 
                id="allocate-dietary" 
                name="" 
                label="Dietary Requirements" 
                placeholder=""
                value="">
            </ins-textarea>

        </div>
        <div class="allocationModalButton">
            <div class="cancelModalButton">
                <ins-button 
                    id="cancel"
                    type="button" 
                    class="card-form-cancel"
                    label="Cancel"
                    outlined>
                </ins-button>
            </div>
            <div class="allocateModalButton">
                <ins-button 
                    type="submit" 
                    id="submit-btn" 
                    label="Allocate" 
                    solid >
                </ins-button>
            </div>
        </div>
    </div>
</ins-modal>

{% comment %} ? SHOW EMPTY STATE {% endcomment %}
{% if ticket_count == false %}
    <div class="spacer xxxx-large"></div>
    <div class="empty-state text-center empty-box">
        <p>No Tickets available</p>
    </div> 
{% endif %}

{% comment %} ? JAVASCRIPT {% endcomment %}
<script>

    // SET SESSION ON ALLOCATE
    var is_allocated_hidden_value = document.getElementById("is_allocated_hidden_value");    
     
    // ALLOCATION MODAL
    var searchEmailModal = document.getElementById("searchEmailModal");
    var cancelButton = document.getElementById("cancel");
    var allocateButton = document.getElementById("submit-btn");
    var errorMessageOnEmail = document.getElementById("error-message-on-email");
    var modal = ''

    // DETAILS
    var event_uuid = document.getElementById("event_uuid");
    var allocateTicket = document.getElementById("allocate-ticket");
    var allocateEmail = document.getElementById("allocate-email");
    var allocateFirstName = document.getElementById("allocate-first-name");
    var allocateLastName = document.getElementById("allocate-last-name");
    var allocateExternalId = document.getElementById("allocate-external-id");
    var allocateDietary = document.getElementById("allocate-dietary");

    // REQUIRED FIELDS
    var requiredEmail = document.getElementById("emailRequired");
    var is_email_has_value = false; 
    var requiredFirstName = document.getElementById("firstNameRequired");
    var is_firstname_has_value = false;
    var requiredLastName = document.getElementById("lastNameRequired");
    var is_lastname_has_value = false;

    // SEARCH EMAIL RESULT
    var is_email_found = false;
    let allocationButton = document.querySelectorAll('.allocation-button')
    allocationButton.forEach(e => {
        e.addEventListener('click', () => {
            let id = e.getAttribute('data-id');
            modal = document.getElementById('allocationModal');
            allocateTicket.value = id;
            modal.open()
        })
    });

    // CANCEL
    cancelButton.addEventListener('insClick', event => {
        modal.close();
    });

    // SEARCH EMAIL
    searchEmailModal.addEventListener('insClick', async (event) => {
        let url = '/check-user-email-allocation?'+ 'email='+ allocateEmail.value ;
        let response = await apiServices.processRequest('get', url);
        
        if(response.state && response.data) {
            // IF EMAIL EXISTS 
            is_email_found = true;
            errorMessageOnEmail.classList.remove('is_not_visible');
            errorMessageOnEmail.classList.add('is_visible');
            if(response.data.email_status == "invalid"){
                errorMessageOnEmail.classList.remove('is_visible');
                errorMessageOnEmail.classList.add('is_not_visible');

                let firstNameInput = document.querySelectorAll('.allocationName #allocate-first-name');
                firstNameInput[0].setAttribute("disabled", "");

                let lastNameInput = document.querySelectorAll('.allocationName #allocate-last-name');
                lastNameInput[0].setAttribute("disabled", "");
    
                allocateFirstName.value = response.data.first_name;
                allocateLastName.value = response.data.last_name;   
                allocateExternalId.value = response.data.external_id;   

                // REQUIRED
                requiredFirstName.classList.remove('is_visible');
                requiredFirstName.classList.add('is_not_visible');
                requiredLastName.classList.remove('is_visible');
                requiredLastName.classList.add('is_not_visible');

            }else{
                is_email_found = false;
                errorMessageOnEmail.classList.remove('is_not_visible');
                errorMessageOnEmail.classList.add('is_visible');
                
                allocateFirstName.value = "";
                allocateLastName.value = "";
                allocateExternalId.value = "";

                let firstNameInput = document.querySelectorAll('.allocationName #allocate-first-name');
                firstNameInput[0].removeAttribute("disabled");
                let lastNameInput = document.querySelectorAll('.allocationName #allocate-last-name');
                lastNameInput[0].removeAttribute("disabled");

                // REQUIRED
                requiredFirstName.classList.remove('is_not_visible');
                requiredFirstName.classList.add('is_visible');
                requiredLastName.classList.remove('is_not_visible');
                requiredLastName.classList.add('is_visible');

            }
        } 
    });

    // ALLOCATE
    allocateButton.addEventListener('insClick', async (event) => {

        // email
        if(allocateEmail.value == '') {
            requiredEmail.classList.remove('is_not_visible');
            requiredEmail.classList.add('is_visible');
            is_email_has_value = false;
        }else{
            requiredEmail.classList.remove('is_visible');
            requiredEmail.classList.add('is_not_visible');
            is_email_has_value = true;
        }

        // first name
        if(allocateFirstName.value == '') {
            requiredFirstName.classList.remove('is_not_visible');
            requiredFirstName.classList.add('is_visible');
            is_firstname_has_value = false;
        }else{
            requiredFirstName.classList.remove('is_visible');
            requiredFirstName.classList.add('is_not_visible');
            is_firstname_has_value = true;
        }

        // last name
        if(allocateLastName.value == '') {
            requiredLastName.classList.remove('is_not_visible');
            requiredLastName.classList.add('is_visible');
            is_lastname_has_value = false;
        }else{
            requiredLastName.classList.remove('is_visible');
            requiredLastName.classList.add('is_not_visible');
            is_lastname_has_value = true;
        }
     
        // Get the current URL
        const currentUrl = window.location.href;
        // Remove any existing `allocate` query parameters
        const newUrl =  currentUrl.replace(/[?&]allocated=\d+/, '');
        if (newUrl.includes("allocated")) {
            var updatedUrl = `${newUrl}`;
        } else{
            var updatedUrl = `${newUrl}?allocated=true`;
        }

        if(is_email_has_value == true && is_firstname_has_value == true && is_lastname_has_value == true){
            allocateButton.loading = true;

            let url = "";
           
            if(is_email_found == true){
                url = '/allocate-ticket?' + 'event_uuid=' + event_uuid.value + '&ticket_id=' + allocateTicket.value + '&external_id=' + allocateExternalId.value + '&dietary_notes=' + allocateDietary.value + "&has_email=true";
            }else{
                url = '/allocate-ticket?' + 'event_uuid=' + event_uuid.value + '&ticket_id=' + allocateTicket.value + '&dietary_notes=' + allocateDietary.value + '&first_name=' + allocateFirstName.value + '&last_name=' + allocateLastName.value + '&email=' + allocateEmail.value + "&has_email=false";
            }

            setTimeout(async() => {
                let response = await apiServices.processRequest('post', url);
                if(response.state == true) {
                    window.location.href = updatedUrl;
                }else{
                    App.events.notyf("error", "Allocation failed");
                }
            }, 500);

        }else{
            allocateButton.loading = false;
        }
    });
</script>
