---
slug: payment-confirmation
layout: modules/ins_template_ecommerce/checkout-layout
# enable_profiler: true
searchable: "true"
max_deep_level: 3
metadata: {
    "status": "published",
    "page_type": "system", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Payment Successful",
    "og:description": "Payment Successful",
    "og:site_name": "",
    "meta_title": "Payment Successful",
    "page_title": "Payment Successful",
    "meta_description": "Payment Successful",
    "canonical_url": "",
    "search_engine_visibility": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
authorization_policies:
    - modules/ins_template_ecommerce/order_created_date_valid 
#    - modules/ins_template_ecommerce/customer_logged_in  ## commented out to allow 'guest customer' to view order confirmation
---

{%- graphql data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign account_verified = data.current_user.customer[0].is_activated -%}

<div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell text-center">
        <h1 class="heading-1">We've received your payment</h1>
        <div class="spacer small"></div> 
        <p>Your payment has been received with order number <strong>{{ context.params.order_id }}</strong></p>
    </div>
</div>
<div class="spacer xxxx-large"></div>

<div class="grid-x grid-padding-x confirmation__wrapper">
    <div class="large-2 medium-0 small-0 cell"></div>
    <div class="large-3 medium-5 small-12 cell">
        {% graphql order = "modules/ins_template_ecommerce/orders/get_order_details",
            id: context.params.order_id 
            | dig: 'items' | dig: 'results' | first %}
        
        {% graphql cart = "modules/ins_template_ecommerce/cart/get_cart",
            order_id: context.params.order_id 
            | dig: 'items' | dig: 'results' | first %}

        {%- comment -%} Contact & Invoice Details {%- endcomment -%}
        <div>
            <h3 class="heading-3">Invoice Details</h3>
            <div class="spacer small"></div>
            <p class="font-cabin">{{ cart.properties.product_name }} </p> {% comment %} invoice number {% endcomment %}
            {% if order.properties.billing_company_name %}
                <p class="font-cabin">{{ order.properties.billing_company_name }}</p> 
            {% endif %}

            <p class="font-cabin">{{ order.properties.billing_first_name | append: ' ' | append: order.properties.billing_last_name }}</p>
            <p class="font-cabin">{{ order.properties.billing_email }}</p>
            {% if order.properties.billing_phone %}
                <p class="font-cabin">{{ order.properties.billing_phone }}</p>
            {% endif %}
            <div class="spacer x-large"></div>
        </div>
        
        {%- comment -%} Payment Details {%- endcomment -%}
        <div>
            <h3 class="heading-3">Payment Details</h3>
            <div class="spacer small"></div>
            <p class="font-cabin">{{ order.payment.card_brand | upcase }} **** **** **** {{ order.payment.card_last4 }}</p>
            {%- assign month = order.payment.card_exp_month -%}
            {%- if order.payment.card_exp_month.size < 2 -%}
                {%- assign month = "0" | append: order.payment.card_exp_month -%}
            {%- endif -%}
            <p class="font-cabin">{{ month }} / {{ order.payment.card_exp_year }}</p>
            <div class="spacer x-large"></div>
        </div>
        
        {%- comment -%} Addresses Details {%- endcomment -%}
        <div>
            <h3 class="heading-3">Billing Address</h3>
            <div class="spacer small"></div>
            {%- assign billing_address = "" -%}
            {%- if order.properties.billing_address_1 and order.properties.billing_address_1 != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_address_1 | append : ", " -%}
            {%- endif -%}
            {%- if order.properties.billing_address_2 and order.properties.billing_address_2 != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_address_2 | append : ", " -%}
            {%- endif -%}
            {%- if order.properties.billing_address_3 and order.properties.billing_address_3 != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_address_3 | append : ", " -%}
            {%- endif -%}
            {%- if order.properties.billing_city and order.properties.billing_city != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_city | append : ", " -%}
            {%- endif -%}
            {%- if order.properties.billing_state and order.properties.billing_state != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_state | append : " " -%}
            {%- endif -%}
            {%- if order.properties.billing_postcode and order.properties.billing_postcode != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_postcode | append : ", " -%}
            {%- endif -%}
            {%- if order.properties.billing_country and order.properties.billing_country != '' -%}
                {%- assign billing_address = billing_address | append: order.properties.billing_country | append : " " -%}
            {%- endif -%}
            <p class="font-cabin">{{ billing_address }}</p>
        </div>
    </div>
    <div class="large-4 large-offset-1 medium-6 medium-offset-1 small-12 cell">
        <div class="spacer xxx-large show-for-small-only"></div>

        {% include 'modules/ins_template_ecommerce/pay_bills/payment_summary', 
            order_id: context.params.order_id %}

        {%- comment -%}
            Account verification: 
            Customer is not logged in or not yet verified
        {%- endcomment -%}
        {%- unless context.current_user.id and account_verified -%}
            <div class="spacer xxxx-large"></div>
            {% include_form "modules/ins_template_ecommerce/checkout_set_password", 
                id: order.properties.user_id
                data: order %}
        {%- endunless -%}
    </div>
</div>