{%- comment -%}
<!-- Load product information by getting the third slug -->
{%- endcomment -%}
{%- assign prod_slug = context.params.slug2 -%}
{%- graphql raw_product_info = 'modules/ins_template_ecommerce/shop/get_product_detail', slug: prod_slug -%}
{%- assign product_info = raw_product_info.items.results[0] -%}

{%- comment -%}SEO Settings{%- endcomment -%}
{%- content_for 'title' -%}{{ product_info.properties.meta_title }}{%- endcontent_for -%}
{%- content_for 'meta_description' -%}{{ product_info.properties.meta_description }}{%- endcontent_for -%}
{%- content_for 'search_engine_visibility' -%}{{ product_info.properties.search_engine_visibility }}{%- endcontent_for -%}
{%- content_for 'canonical_url' -%}{{ product_info.properties.canonical_url }}{%- endcontent_for -%}

{%- content_for 'og_title' -%}{{ product_info.properties.og_title }}{%- endcontent_for -%}
{%- content_for 'og_description' -%}{{ product_info.properties.og_description }}{%- endcontent_for -%}
{%- content_for 'og_site_name' -%}{{ product_info.properties.og_site_name }}{%- endcontent_for -%}
{%- content_for 'og_url' -%}{{ product_info.properties.og_url }}{%- endcontent_for -%}
{%- content_for 'og_type' -%}{{ product_info.properties.og_type }}{%- endcontent_for -%}
{%- content_for 'og_image' -%}{{ product_info.og_image.versions['1200x630'] }}{%- endcontent_for -%}

{%- comment -%}
<!-- Check if variants are enabled and load variants that have stock -->
{%- endcomment -%}
{%- if product_info.properties.variant_enabled and product_info.properties.variant_schema != blank -%}
{%- parse_json params -%}
{
    "name": "{{ product_info.properties.variant_schema }}"
}
{%- endparse_json -%}
{%- graphql raw_product_variants = 'modules/ins_template_ecommerce/shop/get_product_variants', args: params -%}
{%- comment -%}
<!-- Load the schema of the variants and create array for checking which variant will be included -->
{%- endcomment -%}
{%- graphql raw_variant_schema = 'modules/ins_template_ecommerce/shop/get_product_schema', name: product_info.properties.variant_schema -%}
{%- assign variant_array = "," | split: "," -%} 
{%- for variants in raw_variant_schema.items.results[0].properties -%}
{%- if variants.metadata.is_system_field == false -%}
{%- assign variant_array = variant_array | add_to_array: variants.name -%}
{%- endif -%}
{%- endfor -%}

{%- endif -%}

{%- comment -%}
<!-- Place the galleery of the product in a variable -->
{%- endcomment -%}
{%- if product_info.gallery_1 -%}
{%- assign gallery1 = product_info.gallery_1 -%}
{%- endif -%}

{%- comment -%}
<!-- place the galleery of the product in a variable -->
{%- endcomment -%}
{%- if product_info.properties.variant_enabled -%}
    {%- if raw_product_variants.items.total_entries > 0 -%}
    {% assign out_of_stock_flag = false -%}
    {%- else -%}
    {% assign out_of_stock_flag = true -%}
    {%- endif -%}
{%- else -%}
    {%- if product_info.properties.stock > 0 -%}
    {% assign out_of_stock_flag = false -%}
    {%- else -%}
    {% assign out_of_stock_flag = true -%}
    {%- endif -%}
{%- endif -%}

{%- assign product_variants = raw_product_variants.items.results -%}

<div class="product-detail grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        {%- assign sale_price = product_info.properties.sale_price  -%}
        {%- assign regular_price = product_info.properties.regular_price -%}

        <div class="gallery">
            
            {%- if product_info.properties.stock == 0 and product_info.properties.variant_enabled == false -%}
                <div class="out-of-stock"></div>
            {%- else -%}
                {%- if product_info.properties.variant_enabled and raw_product_variants.items.total_entries == 0 -%}
                    <div class="out-of-stock"></div>
                {%- endif -%}
            {%- endif -%}
            
            {%- if gallery1 and gallery1.size != 0 -%}
                <div class="main-gallery variant-gallery">
                    {%- if product_info.properties.on_sale -%}
                        {% if regular_price > sale_price %}
                            <span class="sale-tag">{{ regular_price | minus: sale_price | times: 100.0 | divided_by: regular_price | round }}% OFF</span>
                        {% endif %}
                    {% endif %}
                    <ins-gallery with-indicator slidable>
                        {%- for picture in gallery1 -%}
                        <ins-gallery-image
                            thumbnail="{{ picture.file.versions['56x42'] }}"
                            image="{{ picture.file.versions['712x534'] }}">
                        </ins-gallery-image>
                        {%- endfor -%}
                    </ins-gallery>
                </div>
                {%- assign product_variants = raw_product_variants.items.results -%}
                {%- for variant in product_variants -%}
                    <div id="vid-{{ variant.id }}" class="hidden-gallery variant-gallery">
                        <ins-gallery with-indicator>
                            {%- for picture in variant.gallery_1 -%}
                            <ins-gallery-image
                                thumbnail="{{ picture.file.versions['56x42'] }}"
                                image="{{ picture.file.versions['712x534'] }}">
                            </ins-gallery-image>
                            {%- endfor -%}
                        </ins-gallery>
                    </div>
                {%- endfor -%}
            {%- else -%}
                {%- if product_info.main_image and product_info.main_image.size > 0 -%}
                    <div class="main-gallery variant-gallery">
                        <ins-gallery with-indicator>
                            <ins-gallery-image
                                thumbnail="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}"
                                image="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}">
                            </ins-gallery-image>
                        </ins-gallery>
                        <!-- <img src="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}" alt="{{ product_info.properties.name }}" /> -->
                    </div>
                    {%- assign product_variants = raw_product_variants.items.results -%}
                    {%- for variant in product_variants -%}
                        <div id="vid-{{ variant.id }}" class="hidden-gallery variant-gallery">
                            <ins-gallery with-indicator>
                                {%- for picture in variant.gallery_1 -%}
                                <ins-gallery-image
                                    thumbnail="{{ picture.file.versions['56x42'] }}"
                                    image="{{ picture.file.versions['712x534'] }}">
                                </ins-gallery-image>
                                {%- endfor -%}
                            </ins-gallery>
                        </div>
                    {%- endfor -%}
                {%- elsif product_info.main_image and product_info.main_image.size > 1 -%}
                    <div class="main-gallery variant-gallery">
                        <ins-gallery with-indicator>
                            <ins-gallery-image
                                thumbnail="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}"
                                image="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}">
                            </ins-gallery-image>
                        </ins-gallery>
                        <!-- <img src="{{ product_info.main_image[0].file.versions['712x534'] | replace: ' ', '%20' }}" alt="{{ product_info.properties.name }}" /> -->
                    </div>
                    {%- assign product_variants = raw_product_variants.items.results -%}
                    {%- for variant in product_variants -%}
                        <div id="vid-{{ variant.id }}" class="hidden-gallery variant-gallery">
                            <ins-gallery with-indicator>
                                {%- for picture in variant.gallery_1 -%}
                                <ins-gallery-image
                                    thumbnail="{{ picture.file.versions['56x42'] }}"
                                    image="{{ picture.file.versions['712x534'] }}">
                                </ins-gallery-image>
                                {%- endfor -%}
                            </ins-gallery>
                        </div>
                    {%- endfor -%}   
                {%- else -%}
                    {%- include 'modules/ins_template_website/content/placeholder-image', size: 'large' -%}
                {%- endif -%}
            {%- endif -%}
        </div>
    </div>

    <div class="large-4 medium-12 small-12 large-offset-1 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <h1 class="heading-1">{{ product_info.properties.name }}</h1>
                {% if product_info.properties.sku %}
                    <p id="product-sku" class="body-paragraph">
                        SKU: {{ product_info.properties.sku }}
                    </p>
                {% endif %}
            </div>
            <div class="small-12 cell">
                <div class="spacer"></div>
                <p id="product-price" class="heading-2">
                    {%- if product_info.properties.on_sale -%}
                        {{ product_info.properties.sale_price | pricify }}
                    {%- else -%}
                        {{ product_info.properties.regular_price | pricify }}
                    {%- endif -%}
                </p>
                <p id="not-product-price" class="price-old">
                    {%- if product_info.properties.variant_enabled -%}
                        
                    {%- else -%}
                        {%- if product_info.properties.on_sale -%}
                            {{ product_info.properties.regular_price | pricify }}
                        {%- endif -%}
                    {%- endif -%}
                </p>
            </div>
            {% if product_info.properties.short_description %}
            <div class="small-12 cell spacer"></div>
            <div class="small-12 cell body-paragraph">
                {{ product_info.properties.short_description }}
            </div>
            {% endif %}
            <div class="small-12 cell spacer x-large"></div>
        </div>

        {%- if out_of_stock_flag -%}

            <div class="grid-x">
                <div class="small-12 cell">
                    <div class="no-stock text-center">
                        <p class="color-warning">This product is currently out of stock</p>
                    </div>
                </div>
                <div class="small-12 cell spacer x-large"></div>
                <div class="small-12 cell">
                    {%- include_form 'modules/ins_template_ecommerce/notify_out_of_stock', product_info: product_info -%}
                </div>
                <div class="small-12 cell spacer large"></div>
            </div>

        {%- else -%}

            {%- if product_info.properties.variant_enabled and raw_product_variants.items.total_entries > 0 -%}
                <div class="grid-x">
                    <div class="small-12 cell">
                        <ins-select 
                            id="variant-list" 
                            class="prod-variants" 
                            label="Variants"
                            placeholder="Select Variant"
                            error-message="Please select a variant"
                            small>
                            {%- for product_variants in raw_product_variants.items.results -%}
                                {%- assign prod_var_array = "," | split: "," -%} 
                                {%- for var_keys in variant_array -%}
                                {%- assign prod_var_array = prod_var_array | add_to_array: product_variants.properties[var_keys] -%}
                                {%- endfor -%}
                                {%- assign prod_var_combo = prod_var_array | join: ", " -%}

                                    <ins-select-option label="{{ prod_var_combo }}" value="{{ product_variants.id }}"></ins-select-option>
                                    
                            {%- endfor -%}
                        </ins-select>
                    </div>
                </div>
            {%- endif -%}
        
            <div id="has-stock-cont" class="grid-x">
                <div class="small-12 cell">
                    <ins-input-stepper
                        id="product-quantity"
                        label="Quantity" 
                        value="1"
                        step="1"
                        min="1"
                        max="100"
                        small>
                    </ins-input-stepper>
                    <div class="spacer x-large"></div>
                </div>
                <div class="small-12 cell">
                    {%- include_form 'modules/ins_template_ecommerce/add_to_cart', product_info: product_info  -%}
                </div>
            </div>

            <div id="no-stock-cont" class="hide grid-x">
                <div class="small-12 cell">
                    <div class="no-stock text-center">
                        <p class="color-warning">This product is currently out of stock</p>
                    </div>
                </div>
                <div class="small-12 cell spacer x-large"></div>
                <div class="small-12 cell">
                    {%- include_form 'modules/ins_template_ecommerce/notify_out_of_stock', product_info: product_info -%}
                </div>
                <div class="small-12 cell spacer large"></div>
                
            </div>

        {%- endif -%}
        
    </div>
    <div class="small-12 cell spacer section"></div>
    <div class="cell grid-x">
        <div class="large-7 medium-12 small-12 cell dynamic-content">
            {%- if product_info.properties.long_description != blank -%}
            <div>
                {{ product_info.properties.long_description  | html_safe }}
            </div>
            {%- endif -%}
            {%- if product_info.properties.custom_field_1 != blank -%}
            <div class="spacer"></div>
            <div>
                {{ product_info.properties.custom_field_1  | html_safe }}
            </div>
            {%- endif -%}
            {%- if product_info.properties.custom_field_2 != blank -%}
            <div class="spacer"></div>
            <div>
                {{ product_info.properties.custom_field_2  | html_safe }}
            </div>
            {%- endif -%}
            {%- if product_info.properties.custom_field_3 != blank -%}
            <div class="spacer"></div>
            <div>
                {{ product_info.properties.custom_field_3  | html_safe }}
            </div>
            {%- endif -%}
            {%- if product_info.properties.custom_field_4 != blank -%}
            <div class="spacer"></div>
            <div>
                {{ product_info.properties.custom_field_4  | html_safe }}
            </div>
            {%- endif -%}
        </div>
    
        <div class="large-5 medium-12 small-12 cell">
            &nbsp;
        </div>

    </div>

    <!-- <div class="small-12 cell spacer section"></div> -->
    
</div>

{%- if product_info.properties.variant_enabled -%}
<script>
let prodVarList = {{ raw_product_variants.items.results | json }}; 
</script>
{%- endif -%}
<style>
    .hidden-gallery {
        display: none;
    }
</style>
<script>
    let eventElement = document.getElementById('variant-list');
    let variantGalleries = document.querySelectorAll(`.variant-gallery`);
    if(eventElement) {
        eventElement.addEventListener('insSelectOptionClicked', function(event){
            let variantID = event.detail.value;
            let variantGallery = document.querySelector(`#vid-${variantID}`);

            for (const gallery of variantGalleries){
                gallery.classList.add('hidden-gallery');
            }
            variantGallery.classList.remove('hidden-gallery');
        });
    }
</script>