{%- comment -%} 
    Parameter from parent
    - parent_id (id of current category)
{%- endcomment -%} 

{%- comment -%} Step: Check if category or main product page {%- endcomment -%}
{%- if context.params.slug2 -%}    
    {%- comment -%} Sub-Step: Create a filter to get the subcategory of the parent category {%- endcomment -%}
    {%- parse_json params -%}
    {
        "parent_ids": ["{{ parent_id }}"]
    }
    {%- endparse_json -%}
    {%- graphql sub_category_data = 'modules/ecommerce/shop/get_category_ids', args: params -%}

    <div class="grid-x">
        <div class="small-12 cell">
            <div id="sub-categories" class="sub-category no-icons">
                {%- for subcat in sub_category_data.items.results -%}
                    {%- parse_json sub_params -%}
                    { 
                        "parent_ids": ["{{ subcat.id }}"]
                    }
                    {%- endparse_json -%}
                    {%- graphql lvl_two_cat_data = 'modules/ecommerce/shop/get_category_ids', args: sub_params -%}

                    {%- if lvl_two_cat_data.items and lvl_two_cat_data.items.total_entries > 0 -%}
                    <ins-accordion menu>
                        <ins-accordion-item id="sub-{{subcat.id}}"
                            class="sub-cat-accor ui-sidebar" 
                            heading="{{subcat.name}}" 
                            link="{{subcat.slug}}"
                            link-target="_self" 
                            open-icon="icon-plus"
                            close-icon="icon-minus"
                            {% if context.params.slug2 == 'subcat.slug'%}active{% endif %} 
                            arrow-activated>
                            {%- for lvltwosub in lvl_two_cat_data.items.results -%}
                                <a href="{{lvltwosub.slug}}">
                                    <div class="ui-sidebar" id="sub-{{lvltwosub.id}}">{{lvltwosub.name}}</div>
                                </a>
                            {%- endfor -%}
                        </ins-accordion-item>
                    </ins-accordion>
                    {%- else -%}
                    <a href="{{subcat.slug}}">
                        <div class="ui-sidebar" id="sub-{{subcat.id}}">{{subcat.name}}</div>
                    </a>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            <div class="spacer x-large"></div>
        </div>
    </div>

{%- else -%}

    {%- comment -%} Sub-Step: Get all the list of the parent category  {%- endcomment -%}
    {%- graphql parent_category = 'modules/ecommerce/shop/get_category_parent', page: 1, size: 100 -%}
    {%- if parent_category.items and parent_category.items.total_entries > 0 -%}

    <div class="grid-x">
        <div class="small-12 cell">
            <div id="main-categories" class="main-category no-icons">
            {%- for catMenu in parent_category.items.results -%}
                <a href="/products/{{catMenu.slug}}" class="cat ui-sidebar">
                    {{ catMenu.name }}
                </a>
            {%- endfor -%}
            </div>
            <div class="spacer x-large"></div>
        </div>
    </div>
    {%- endif -%}

{%- endif -%}
