---
metadata: {
    partial_name: 'Ecommerce | Layout | Order Summary'
}
---
{% assign params = context.params %}
{% function user_uuid = 'modules/ecommerce/user/get_user_uuid'  %}
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
{%- unless has_profile -%}
    {%- assign user_uuid = null -%}
{%- endunless -%}

{%- if is_ordered_items == true and order_uuid != '' -%}   

    {% comment %} Get Order Summary for already purchased item(s) {% endcomment %}
    {% graphql carts = 'modules/ecommerce/order_items/get_order_items', 
        order_uuid: order_uuid  | dig: 'items','results' %}

{%- else -%}

    {% comment %} Get Cart Items {% endcomment %}    
    {% if user_uuid != blank %}
        {% comment %} Logged in user {% endcomment %}
        {% include 'modules/ecommerce/carts/cart_items', user_uuid %}
        {% assign cart_items = context.exports.cart_items %}
        {% assign user_cart = cart_items.user_cart %}
        {% assign carts = cart_items.carts %}
        {% assign products = cart_items.products %}
        {% assign discounts = user_cart.discounts %}
    {% else %}
        {% comment %} Guest user {% endcomment %}
        {% assign carts = context.session.guest_cart %}
        
        {% comment %} Get product info {% endcomment %}
        {%  liquid  
            assign product_uuids = carts | array_map: 'product_uuid' | array_flatten
            graphql products = 'modules/ecommerce/products/get_cart_products', uuid: product_uuids, size: carts.size | dig: 'items','results'
        %}  

        {% if context.session.discount_uuids %}
            {% graphql discounts = 'modules/ecommerce/discount/get_discount_by_uuids', 
                uuids: context.session.discount_uuids | dig: 'items', 'results' %}
        {% endif %}
    {% endif %}
    
{%- endif -%}


{% comment %} No items in the Cart: Do not allow user to enter checkout pages {% endcomment %}
{%- if carts == null or carts.size <= 0 -%}
    {%- if context.params.slug == 'checkout' -%}
        {% redirect_to '/products' %}
    {%- endif -%}
{%- endif -%}


<div id="order-summary-main-wrap" class="show-for-medium">
    
    {% unless no_heading %}
        <h2 class="color-font-sub heading-2">Order Summary</h2>
        <div class="spacer x-large"></div>
    {% endunless %}
        
    <div id="order-summary-cart-wrap" class="order-summary">  
        {% comment %}
            - This is only for logged-in users
        {% endcomment %}
        {%- if show_product and user_uuid != blank -%}   

            {%- for item in carts -%}

                {%- if params.slug == 'confirmation' and params.id != '' -%}
                    {%  liquid 
                        assign cart = '' | parse_json
                        assign cart = cart | add_hash_key: 'product_name', item.order_item_name
                        assign cart = cart | add_hash_key: 'price', item.item_price
                    %}
                {%- else -%}
                    {% include 'modules/ecommerce/carts/cart_details', products, item, user_uuid %}
                    {% assign cart = context.exports.cart %}   
                {%- endif -%}
                                
            
                <div class="grid-x grid-padding-x body-large">
                    <div class="product-name large-6 medium-8 small-6 cell">
                        <p class="font-color-sub">{{ cart.product_name }}</p>
                    </div>
                    <div class="text-right large-3 medium-4 small-6 cell">                        
                        <p>{{ item.quantity }}x</p>
                    </div>
                    <div class="text-right large-3 medium-12 small-12 cell">
                        {%- assign item_amount = cart.price | advanced_format: '%.2f' | default: "0.00" -%}
                        {%- assign item_amount = item_amount | pricify -%}
                        {%- unless item_amount contains '.' -%}
                            {%- assign item_amount = item_amount | append: '.00' -%}
                        {%- endunless -%}
                        <p class="font-color-sub">{{ item_amount }}</p>
                    </div>
                </div>
                {%- unless forloop.last -%}
                <div class="spacer small"></div>
                {%- endunless -%}
            
            {%- endfor -%}
        {%- endif -%}
    </div>

    {%- if show_product and carts.size > 0 and user_uuid != blank -%}
        <div class="spacer"></div>
        <hr>
        <div class="spacer"></div>
    {%- endif -%}

    
    {% comment %}--- GET ORDER COMPUTATION SUMMARY ---{% endcomment %}
    {%- if is_ordered_items == true and order_uuid != '' -%}
        {% include 'modules/ecommerce/checkout/compute_completed_order_amounts', uuid: order_uuid %}
    {%- else -%}
        {%- include 'modules/ecommerce/checkout/compute_order_summary' 
            order_id, user_uuid, user_cart, carts, products, guest_discounts: discounts -%}
    {%- endif -%}
    {% assign computed = context.exports.computed %}


   {% comment %} Subtotal {% endcomment %}
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
            <p class="font-color-sub">Subtotal</p>
        </div>
        <div class="large-6 medium-6 small-6 cell text-right">
            {%- assign sub_total = computed.sub_total_amount | advanced_format: '%.2f' | default: "0.00" -%}
            {%- assign sub_total = sub_total | pricify -%}
            {%- unless sub_total contains '.' -%}
                {%- assign sub_total = sub_total | append: '.00' -%}
            {%- endunless -%}
            <p id="summary_subtotal">{{ sub_total }}</p>
        </div>
    </div>
    <div class="spacer x-small"></div>

    {% comment %} Delivery & Handling {% endcomment %}
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
            <p class="font-color-sub">Delivery & Handling</p>
        </div>
        <div class="large-6 medium-6 small-6 cell text-right">
            {%- assign shipping_cost = computed.shipping_amount | advanced_format: '%.2f' | default: "0.00" -%}
            {%- assign shipping_cost = shipping_cost | pricify -%}
            {%- unless shipping_cost contains '.' -%}
                {%- assign shipping_cost = shipping_cost | append: '.00' -%}
            {%- endunless -%}
            <p id="summary_delivery">{{ shipping_cost }}</p>
        </div>
    </div>     
    <div class="spacer x-small"></div>           
          
    
    {% comment %} Discounts {% endcomment %}
    {% if discounts.size > 0 %}
        <div class="list-discount-codes">
            <div class="grid-x">
                <div class="small-6 medium-6 large-8 cell">
                    <p class="font-color-sub">Discounts</p>
                </div>
                <div class="small-6 medium-6 large-4 cell text-right">
                    {%- if computed.total_discount_amount > 0 -%}
                        {%- assign total_discount_amount = computed.total_discount_amount | advanced_format: '%.2f' | default: "0.00" -%}
                        {%- assign total_discount_amount = total_discount_amount | pricify -%}
                        {%- unless total_discount_amount contains '.' -%}
                            {%- assign total_discount_amount = total_discount_amount | append: '.00' -%}
                        {%- endunless -%}
                        <p>{{ total_discount_amount | prepend: '- '}}</p>
                    {%- endif -%}
                </div>
            </div>
            <div class="spacer x-small"></div>

            {%- for item in discounts -%}
                {%- if order_id -%}
                    {%- assign code = item -%}
                {%- else -%}
                    {%- assign code = item -%}
                {%- endif -%}
                
                {%- assign type = code.discount_type | downcase -%}
                {%- if is_ordered_items == true -%}
                    {%- parse_json validate_code -%}{ "is_valid": true }{%- endparse_json -%}
                {%- else -%}

                    {% comment %} Run function to validate & auto delete invalid codes {% endcomment %}
                    {% parse_json payload %}
                    {
                        "check_duplicates": false,
                        "contact_uuid": "{{ user_uuid }}",
                        "discount_code": "{{ item.discount_code }}"
                    }
                    {% endparse_json %}
                    
                    {% function validate_code = "modules/ecommerce/checkout/validate_discount_code"
                        payload: payload %}
                    {% comment %} End Function {% endcomment %}
                {%- endif -%}

                {%- if validate_code.is_valid == true or validate_code.is_valid == 'true' -%}
                    {%- if type contains "fix" -%}
                        {%- assign value = code.discount_value | advanced_format: "%.2f" -%}
                        {%- assign value = value | pricify -%}
                        {%- unless value contains '.' -%}
                            {%- assign value = value | append: '.00' -%}
                        {%- endunless -%}
                        {%- assign value = value | append: " Off" -%}
                    {%- elsif type contains "percent" -%}
                        {%- assign value = code.discount_value | replace: '.00', '.0' -%}
                        {%- assign value = value | replace: '.0', '' -%}
                        {%- assign value = value | append: "% Off" -%}
                    {%- else -%}
                        {%- assign value = code.discount_type -%}
                    {%- endif -%}
                    {%- unless value contains "hipping" -%}{% comment %} <-- not a typo {% endcomment %}
                        {%- liquid 
                            if type contains "shipping"
                                assign value = value | append: " Shipping"
                            endif
                        -%}
                    {%- endunless -%}
                    

                    <div class="list-discount-codes--item" data-id="{{ item.id }}" data-uuid="{{ item.uuid }}">
                        <div class="body-small">
                            <p class="font-head bold">{{ code.discount_name }}</p>
                            <p>{{ code.discount_code }} - {{ value }}</p>
                            {%- if code.minimum_cart_value > 0 -%}
                            <div class="spacer xx-small"></div>
                            <p>Minimum ${{ code.minimum_cart_value | advanced_format: "%.2f" }} Purchase</p>
                            {%- endif -%}
                        </div>
                        
                        <div class="icon-close"></div>
                        
                    </div>

                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="spacer x-small"></div>                
    {%- endif -%}
    {% comment %} END Discount Codes {% endcomment %}


    {% comment %} Processing Fee {% endcomment %}
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
            <p class="font-color-sub">Processing Fee (1.7%)</p>
        </div>
        <div class="large-6 medium-6 small-6 cell text-right">
            {%- assign processing_fee = computed.processing_fee | advanced_format: '%.2f' | default: "0.00" -%}
            {%- assign processing_fee = processing_fee | pricify -%}
            {%- unless processing_fee contains '.' -%}
                {%- assign processing_fee = processing_fee | append: '.00' -%}
            {%- endunless -%}
            <p id="summary_processing_fee">{{ processing_fee }}</p>
        </div>
    </div>
    <div class="spacer x-small"></div> 


    {% comment %} Tax {% endcomment %}
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-6 cell">
            <p class="font-color-sub" id="summary_tax_label">{{ computed.tax_label | default: 'Tax' }}</p>
        </div>
        <div class="large-6 medium-6 small-6 cell text-right">
            {%- assign tax_amount = computed.tax_amount | advanced_format: '%.2f' | default: "0.00" -%}
            {%- assign tax_amount = tax_amount | pricify -%}
            {%- unless tax_amount contains '.' -%}
                {%- assign tax_amount = tax_amount | append: '.00' -%}
            {%- endunless -%}
            <p id="summary_tax">{{ tax_amount }}</p>
        </div>
    </div>
    <div class="spacer medium"></div>    
    <hr>
    <div class="spacer medium"></div>


    <div class="grid-x grid-padding-x font-color-head">
        <div class="large-6 medium-6 small-6 cell">
            <p class="order-total">Total</p>
        </div>
        <div class="large-6 medium-6 small-6 cell text-right">
            {%- assign total_amount = computed.total_amount | advanced_format: '%.2f' | default: "0.00" -%}
            {%- assign total_amount = total_amount | pricify -%}
            {%- unless total_amount contains '.' -%}
                {%- assign total_amount = total_amount | append: '.00' -%}
            {%- endunless -%}            
            <p id="summary_total" class="order-total">{{ total_amount }}</p>
        </div>
    </div>

    {% if context.params.slug == 'shopping-cart' %}
    <div class="spacer x-large"></div>
    <div class="notes-wrap">
        <p class="body-x-small bold">Notes</p>
        <ul class="body-x-small">
            <li>Shipping costs will be calculated during checkout.</li>
            <li>Tax and processing fees may be adjusted based on the shipping cost.</li>
        </ul>
    </div>
    {% endif %}

</div>

<div id="mobile-order-summary" class="show-for-small-only">
    <div class="total">
        <p class="color-ui-05 body-x-small">Total</p>
        <p class="order-total">{{ total_amount }}</p>
    </div>
    <ins-button type="button" id="view-order-summary-btn" label="VIEW ORDER SUMMARY"></ins-button>
</div>

<ins-drawer 
  custom-width="430px" 
  position="right" 
  bordered=false
  id="order-summary-drawer"
  class="mobile-order-summary inline">
    <div id="order-summary-drawer-content">       

    </div>
    {% if context.params.slug != 'checkout' %}
    <div class="spacer x-large"></div>
    <ins-button label="PROCEED TO CHECKOUT" solid color="blue" class="checkoutBtn proceed-to-checkout-btn full" onclick="document.location.href = '/checkout';"></ins-button>
    {% endif %}
</ins-drawer>

<script>
    let orderSummaryMainWrap = document.getElementById('order-summary-main-wrap');
    let orderSummaryHtmlContent = orderSummaryMainWrap.innerHTML;
    let viewOrderSummaryBtn = document.getElementById('view-order-summary-btn');
    let orderSummaryDrawer = document.getElementById('order-summary-drawer');
    let orderSummaryDrawerContent = document.getElementById('order-summary-drawer-content');    
    
    // Replace 'id' with 'data'
    let modifiedHTML = orderSummaryHtmlContent.replace(/\bid="([^"]+)"/g, 'data="$1"');

    viewOrderSummaryBtn.addEventListener('insClick', async event => {
        orderSummaryDrawer.setDrawerState(true); 
        orderSummaryDrawerContent.innerHTML = modifiedHTML;
    });    
</script>