
{%- if addresses.size > 0 -%}
    <div class="grid-x grid-padding-x grid-padding-y address-options" data-equalizer>
    {%- for data in addresses -%}
        {%- assign full_address = "" -%}
        {%- if data.properties.address_1 and data.properties.address_1 != '' -%}
            {%- assign full_address = full_address | append: data.properties.address_1 | strip | append : ", " -%}
        {%- endif -%}
        {%- if data.properties.address_2 and data.properties.address_2 != '' -%}
            {%- assign full_address = full_address | append: data.properties.address_2 | strip | append : ", " -%}
        {%- endif -%}
        {%- if data.properties.address_3 and data.properties.address_3 != '' -%}
            {%- assign full_address = full_address | append: data.properties.address_3 | strip | append : ", " -%}
        {%- endif -%}
        {%- if data.properties.city and data.properties.city != '' -%}
            {%- assign full_address = full_address | append: data.properties.city | strip -%}
        {%- endif -%}
        {%- comment -%}
        {%- if data.properties.state and data.properties.state != '' -%}
            {%- assign full_address = full_address | append: data.properties.state | strip | append : " " -%}
        {%- endif -%}
        {%- if data.properties.postcode and data.properties.postcode != '' -%}
            {%- assign full_address = full_address | append: data.properties.postcode | strip | append : ", " -%}
        {%- endif -%}
        {%- if data.properties.country and data.properties.country != '' -%}
            {%- assign full_address = full_address | append: data.properties.country | strip | append : " " -%}
        {%- endif -%}
        {%- endcomment -%}
        <div class="large-6 medium-6 small-12 cell">
            <ins-checkbox-card data-equalizer-watch
                name="{{ type }}-address-cards"
                selected-color="blue"
                value="{{ data.id }}"
                data-address="{{ full_address }}"
                data-address_1="{{ data.properties.address_1 }}"
                data-address_2="{{ data.properties.address_2 }}"
                data-city="{{ data.properties.city }}"
                data-state="{{ data.properties.state }}"
                data-postcode="{{ data.properties.postcode }}"
                data-country="{{ data.properties.country }}">
                <div>
                    <p><strong>{{ full_address }}</strong></p>
                    <p>{{ data.properties.state | strip }}, {{ data.properties.postcode | strip }}</p>
                    <p>{{ data.properties.country | strip }}</p>
                </div>
            </ins-checkbox-card>
        </div>
    {%- endfor -%}
    </div>
{%- endif -%}