<div id="account-details">
    <h2 class="heading-1 color-font-head">Account Details</h2>
    <div class="spacer xxx-large"></div>
        <h2 class="heading-2">Account Information</h2>
    <div class="spacer x-large"></div>

    <div class="grid-x grid-padding-x account-details">
        {%- graphql data = 'modules/ins_template_ecommerce/account/get_current_user' -%}

        <div class="large-12 medium-12 small-12 cell">
            <ins-input account-details-field
                class="label-input"
                label="Company Name" 
                placeholder="Company Name"
                field="text"
                id="billing-company-name"
                value=""
                name="{{ form.fields.properties.billing_company_name.name }}">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate account-details-field
                class="label-input"
                {% if context.current_user and context.current_user.first_name %} readonly {% endif %}
                label="First Name*" 
                placeholder="First Name"
                value="{{ context.current_user.first_name }}"
            name="{{ form.fields.properties.billing_first_name.name }}" 
                {% if form.errors['properties.billing_first_name'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.billing_first_name.validation.rules.presence.message }}">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate account-details-field
                class="label-input"
                {% if context.current_user and context.current_user.last_name %} readonly {% endif %}
                label="Last Name*" 
                placeholder="Last Name"
                value="{{ context.current_user.last_name }}"
                name="{{ form.fields.properties.billing_last_name.name }}" 
                {% if form.errors['properties.billing_last_name'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.billing_last_name.validation.rules.presence.message }}">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate account-details-field
                class="label-input"
                {% if context.current_user and context.current_user.email %} readonly {% endif %}
                label="Email*" 
                placeholder="Email"
                field="email"
                id="billing-email"
                value="{{ context.current_user.email }}"
                name="{{ form.fields.properties.billing_email.name }}" 
                {% if form.errors['properties.billing_email'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.billing_email.validation.rules.presence.message }}">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input-tel account-details-field
                class="label-input"
                id="billing_phone"
                label="Mobile Phone" 
                phonenum-value="{{ data.current_user.insites_contact_number[0].mobile_phone_number }}" 
                phonenum-placeholder="Mobile Phone" no-areacode>
            </ins-input-tel>

        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell text-right">
            <div class="spacer small"></div>
            <ins-button solid type="button" 
                class="checkout-step-btn"
                data=1
                label="Proceed to Shipping">
            </ins-button>
        </div>
    </div>
</div>