{% comment %} ? GET SLUG2 set as PARAMS {% endcomment %}
{% assign slug = context.params.slug2 %}

{% comment %} ? GET EVENT {% endcomment %}
{%- graphql event = 'modules/website/events/get_event', slug: slug | dig: "items", "results" | first -%}

{% comment %} ? REDIRECT TO 404 if EVENT IS DELETED {% endcomment %}
{% if event == '' or event == nil %}
    {%- redirect_to '/404' -%}
{% endif %}

{% comment %} ? SHOW IF ADDED PARAMS PREVIEW FOR CHECKING {% endcomment %}
{% if context.params.preview == "true" %}
    {% comment %} ? Do Nothing {% endcomment %}
{% else %}
    {% comment %} ? Redirect to 404 if event status is disabled {% endcomment %}
    {% if event.status == 'disabled' or event.status == 'archived' %}
        {%- redirect_to '/404' -%}
    {% endif %}
{% endif %}

{% comment %} ? GET GALLERY {% endcomment %}
{% assign gallery_1 = event.gallery_1 | replace: ", ", "," | replace: "]", "" | replace: "[", "" %}
{% assign gallery_2 = event.gallery_2 | replace: ", ", "," | replace: "]", "" | replace: "[", "" %}
{% assign joined_string = gallery_1 | append: "," | append: gallery_2 %}
{% assign final_array = joined_string | split: "," |  replace: '\"', "" %}

{% comment %} ? HIDDEN FIELDS FOR PAGINATION {% endcomment %}
{% assign page_num = context.params.page | default: 1 %}
{% assign per_page = context.params.per_page | default: 16 %}

{% parse_json filter_for_gallery %}
{
    "page": {{ page_num }},
    "size": {{ per_page }},
    "uuids": {{ final_array }}
}
{% endparse_json %}

{% parse_json filter_for_gallery_inner %}
{
    "uuids": {{ final_array }}
}
{% endparse_json %}

{%- graphql res_gallery = 'modules/website/events/get_event_gallery', args: filter_for_gallery -%}
{% assign get_gallery = res_gallery | dig: "items", "results" %}
{%- graphql get_gallery_for_inner = 'modules/website/events/get_event_gallery', args: filter_for_gallery_inner | dig: "items", "results"-%}

<input hidden type="text" id="total_entries" value="{{ res_gallery.items.total_entries }}">
<input hidden type="text" id="per_page" value="{{ per_page }}">
<input hidden type="text" id="page_num" value="{{ page_num }}">

{% comment %} ? GET DATE NOW + 8UTC {% endcomment %}
{% assign date_now_cards = "now" | add_to_time: 8, "h" | date: "%s" %}

{% comment %} ? GET SPEAKERS {% endcomment %}
{% assign event_uuid = event.uuid %}
{% parse_json event_uuid_json %}
    {
        "event_uuid": "{{ event_uuid }}"
    }
{% endparse_json %}
{% graphql get_event_speakers = 'modules/website/trigger_api_call', name: 'modules/website/get_event_speakers', data: event_uuid_json, sort: sort | dig: 'items', "response", "body" | parse_json
%}
{% assign speakers = get_event_speakers | dig: "items", "results" %}

{% comment %} ? GET SPONSORS {% endcomment %}
{% assign event_uuid = event.uuid %}
{% parse_json event_uuid_json %}
    {
        "event_uuid": "{{ event_uuid }}"
    }
{% endparse_json %}
{% graphql get_event_sponsors = 'modules/website/trigger_api_call', name: 'modules/website/get_event_sponsors', data: event_uuid_json, sort: sort | dig: 'items', "response", "body" | parse_json
%}
{% assign sponsors = get_event_sponsors | dig: "items", "results" %}

<section id="events-details-section">
    <div class="wrapper">
        <div class="grid-container" >

            {% comment %} ? BACK BUTTON {% endcomment %}
            <a href="/my-events?category=Upcoming">
                <span class="events-back-button button-default-2">
                    <i class="icon-arrow-back"></i>
                    Back to Events
                </span>
            </a>

            <div class="spacer xxxx-large"></div>

            {% comment %} ? STATUS {% endcomment %}
            <div class="status">
                {% assign end_date = event.end_date_time | date: '%s' %}
                
                {% if end_date < date_now_cards %}
                    <span class="previous"> Previous Events</span>
                    {% assign event_category = "Previous" %}
                {% else %}
                    <span class="upcoming"> Upcoming Events</span>
                    {% assign event_category = "Upcoming" %}
                {% endif %}
                <input hidden type="text" id="categoryStatus" value="{{ event_category }}">
            </div>

            <div class="spacer small"></div>

            {% comment %} ? EVENT NAME {% endcomment %}
            <label class="heading-1-small">{{ event.event_name }}</label>
            <div class="spacer xxx-large"></div>

            {% comment %} ? EVENT BANNER {% endcomment %}
            {% if event.event_image.url == nil %}
                <img class="event-details-banner" loading="lazy" src="{{ 'modules/website/images/default-event-banner.webp' | asset_url }}" alt="{{ event.event_name }}">
            {% else %}
                <img class="event-details-banner" loading="lazy" alt="image" src="{{ event.event_image.url }}">
            {% endif %}
            <div class="spacer xxx-large"></div>

            {% comment %} ? TAB {% endcomment %}
            <ins-tab>
                <ins-tab-item id="event_details" {% if context.params.allocated == "" or context.params.allocated == nil %} active {% endif %} label="Event Details">
                    <div class="event-details-tab">
                        {% include 'modules/website/content/events/details_sections/event_informations' %}   

                        {% comment %} ? SPEAKERS {% endcomment %}
                        {% assign speaker_size = speakers | size %}
                        <div class="speakers-container" {% if speaker_size == 0 %}hidden{% endif %}>
                            {% include 'modules/website/content/events/details_sections/speakers', data_speakers: speakers %}
                        </div> 

                        {% comment %} ? SPONSORS {% endcomment %}
                        {% assign sponsor_size = sponsors | size %}
                        <div class="speakers-container" {% if sponsor_size == 0 %}hidden{% endif %}>
                            {% include 'modules/website/content/events/details_sections/sponsors', data_sponsors: sponsors %} 
                        </div>

                        {% comment %} ? GALLERY {% endcomment %}
                        {% if event_category == "Previous" %}
                            {% if res_gallery.items.total_entries != 0 %}
                                {% include 'modules/website/content/events/details_sections/gallery', data_get_gallery: get_gallery, data_get_gallery_for_inner: get_gallery_for_inner %} 
                            {% endif %}
                        {% endif %}
                    </div>
                </ins-tab-item>

                <ins-tab-item id="ticket_and_guests_details" {% if context.params.allocated == "true" %} active {% endif %} label="Ticket and Guest Details">
                    {% comment %} ? Ticket Details Partial {% endcomment %}
                    {% include 'modules/client/my_events/detailsview/card_allocation' %}   
                </ins-tab-item>
            </ins-tab>

        </div>
    </div>
</section>

{% comment %} JAVASCRIPT {% endcomment %}
<script>
    // SPEAKER MODAL
    let speakerCard = document.querySelectorAll('.speaker-items-container')
    speakerCard.forEach(e => {
        e.addEventListener('click', () => {
            let id = e.getAttribute('data-id');
            let modal = document.getElementById('speakerModal'+id);
            modal.open()
        })
    });

    // SPONSOR MODAL
    let sponsorCard = document.querySelectorAll('.sponsor-items-container')
    sponsorCard.forEach(e => {
        e.addEventListener('click', () => {
            let id = e.getAttribute('data-id');
            let modal = document.getElementById('sponsorModal'+id);
            modal.open()
        })
    });

    // GALLERY MODAL 

    let galleryImg = {{ get_gallery }}
    let galleryContainer = document.getElementById('gallery-container')
    let galleryArray = [];
    
    galleryImg.forEach(e => {
        galleryArray.push(e.gallery );
    })

    const galleryImagesEL = galleryArray.map(img => `
    <div class="img-wrap">
        <img src="${img.url}" alt="sliders" />
    </div>
    `).join('');


    let galleryCard = document.querySelectorAll('.gallery-items-container')
    galleryCard.forEach(e => {
        e.addEventListener('click', () => {
            let id = e.getAttribute('data-index');
            let modal = document.getElementById('galleryModal');
            modal.open()
     
            galleryContainer.innerHTML = `
            <ins-carousel layout="1" bind-to="galleryCarousel" start-index="${id}">
                <div id="galleryCarousel">
                ${galleryImagesEL}
                </div>
            </ins-carousel>`;
        })
    });

    // PAGINATION
    // insBaseTable is declared at the partial - table
    
    // HIDDEN FIELDS
    var total_entries = document.getElementById('total_entries');
    var page_num = document.getElementById('page_num');
    var per_page = document.getElementById('per_page');
    var categoryStatus = document.getElementById('categoryStatus');

    if(categoryStatus.value == "Previous"){
        var insBaseTable = document.getElementById('insBaseTable');

        insBaseTable.pageSizeOptions = [16,32,64];
        insBaseTable.totalCount = total_entries.value;
        insBaseTable.pageNumber = page_num.value;
        insBaseTable.pageSize = per_page.value;

        if(insBaseTable){
            setTimeout(() => {
                insBaseTable.querySelector(".ibt-table-wrap__pagination>span").innerHTML='Items per page';
            },600);            
        }

        insBaseTable.addEventListener('insPaginationChange', tablePaginationHandler);

        function processTableData(){

            // Get the current URL
            const currentUrl = window.location.href;

            // Remove any existing `page` and `per_page` query parameters
            const newUrl = currentUrl.replace(/[?&]page=\d+/, '').replace(/[?&]per_page=\d+/, '');

            // Set the new `page` and `per_page` values
            const newPage = pageNumber;
            const newPerPage = pageSize;

            // Append the new `page` and `per_page` query parameters to the URL
            const updatedUrl = `${newUrl}?page=${newPage}&per_page=${newPerPage}`;

            // Navigate to the updated URL
            window.location.href = updatedUrl;
        }

        function tablePaginationHandler(event){
            pageSize = event.detail.pageSize;
            pageNumber = event.detail.pageNumber;
            processTableData()
        }
    }
</script>
{% comment %} END JAVASCRIPT {% endcomment %}