{% graphql event = 'modules/events/events/get_event', slug: context.params.slug2 | dig: 'items','results' | first -%}

{%- if event.id == null -%}
     {% comment %} {%- redirect_to '/404' -%} {% endcomment %}
{%- endif -%}

{% comment %} Banner {% endcomment %}
<div class="wrap event-details" >
     <div class="img-wrap">
          {% if event.event_image.url %}
               <img src="{{ event.event_image.url }}" loading="lazy" width="920" height="585">
          {% else %}
               {% include 'modules/website/layout/placeholder_image', size: 'medium' %}
          {% endif %}
     </div>
</div>
<div class="spacer xxxx-large hide-for-small-only"></div>
<div class="spacer xxx-large show-for-small-only"></div>

{% comment %}  
<section class="width-1296 event-details wrapper">

     {% comment %} Back {% endcomment %}
     <ins-button label="Back to events" icon="icon-arrow-back"></ins-button> 
     <div class="spacer xxxx-large hide-for-small-only"></div>
     <div class="spacer show-for-small-only"></div>

     <div class="grid-x">
          {% comment %} First Column {% endcomment %}
          <div class="large-7 medium-7 small-12 grid-y">
               {% comment %} Category {% endcomment %}
               <div class="event-card-wrap">
                    <div class="grid-x">
                         <i class="icon-bookmark-1"></i>
                         <span>{{ event.category.value }}</span>
                    </div>
               </div>
               <div class="spacer small"></div>

               {% comment %} Event Name {% endcomment %}
               <h1 class="heading-1-small">{{ event.event_name }}</h1>
               <div class="spacer xxx-large"></div>

               {% comment %} Date and time {% endcomment %}
               <h2 class="heading-2-xsmall">Date and time</h2>
               <div class="spacer"></div>
               <div class="event-card-wrap">
                    {% comment %} Date & time {% endcomment %}
                    {% include 'modules/events/events/event_date_time', item: event %}
               </div>
               <div class="spacer xxx-large"></div>

               {% comment %} Location {% endcomment %}
               <h2 class="heading-2-xsmall">Location</h2>
               <div class="spacer"></div>
               <div id="map-container"></div>
               <div class="spacer"></div>
               <div class="event-card-wrap">
                    {% include 'modules/events/events/event_location', item: event, show_address: true %}
               </div>
               <div class="spacer"></div>
               <a href="https://www.google.com/maps?q={{ event.venue_name | url_encode }}&ll={{ event.venue_geojson.coordinates[1] }},{{ event.venue_geojson.coordinates[0] }}" target="_blank">
                    <ins-button label="Get direction" icon="icon-navigation" outlined></ins-button>
               </a>
               <div class="spacer xxx-large"></div>

               {% comment %} About the event {% endcomment %}
               <h2 class="heading-2-xsmall">About the event</h2>
               <div class="spacer"></div>
               <div class="wrap">
                    {{ event.long_description }}
               </div>               
               <div class="spacer xxx-large"></div>               

          </div>
          {% comment %} Second Column {% endcomment %}
          <div class="large-5 medium-5 small-0"></div>
     </div>
     
</section>
{% endcomment %}

{% comment %} Speakers {% endcomment %}
{% comment %} {% include 'modules/events/events/speakers', event: event %} {% endcomment %}


{% comment %} Sponsors {% endcomment %}
{% comment %} {% include 'modules/events/events/sponsors', event: event %} {% endcomment %}


{% comment %} Photo library {% endcomment %}
{% include 'modules/events/events/faq', event: event %}




{% comment %} Google Maps {% endcomment %}
{% include 'modules/website/layout/googlemaps' %}
<script id="map-data" type="application/json">
{
     "lng": {{ event.venue_geojson.coordinates[0] | default: 0 }},
     "lat": {{ event.venue_geojson.coordinates[1] | default: 0 }},
     "location_name": "{{ event.venue_name }}"
}
</script>

{%- if context.environment == "staging" -%}
     <script src="{{ 'modules/events/scripts/event-details.js' | asset_url }}" defer></script>
{%- else -%}
     <script src="{{ 'modules/events/scripts/event-details.min.js' | asset_url }}" defer></script>
{%- endif -%}     