---
name: update_user_address
resource: modules/insites_core/crm_address
resource_owner: anyone
redirect_to: /account-information
flash_alert: "Error-UserAddress-{{ form.properties.submit_type }}"
flash_notice: "Success-UserAddress-{{ form.properties.submit_type }}"
fields:
  properties:
    address_1:
      validation: 
        presence: 
          message: Address is required
    address_2:
    suburb:
      validation: 
        presence: 
          message: suburb is required
    state:
      validation: 
        presence: 
          message: State is required
    postcode:
      validation: 
        presence: 
          message: Postal code is required
    country:
      validation: 
        presence: 
          message: Country is required
    source_id:
    source_name:
       property_options:
        default: "Users"
        readonly: true 
    submit_type:
      property_options:
        virtual: true
    is_enabled:
      property_options:
        default: true
        readonly: true
---

{%- graphql user_data = 'modules/ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- form 
    html-id: "update-address-form"
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}
    
    <div class="grid-x grid-x grid-padding-x">
        <div class="small-12 cell">
            <ins-input address-lookup 
                label="Search Addresss" 
                id="shipping-address-search"
                name="search"
                placeholder="Search Addresss"
                icon="icon-map-pin">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field validate
                id="search_address_1"
                label="Address 1"
                name="{{ form.fields.properties.address_1.name }}" 
                value="{{ form.fields.properties.address_1.value }}" 
                {% if form.errors['properties.address_1'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.address_1.validation.rules.presence.message }}"
                placeholder="Address 1">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field
                id="search_address_2"
                label="Address 2"
                name="{{ form.fields.properties.address_2.name }}" 
                value="{{ form.fields.properties.address_2.value }}" 
                {% if form.errors['properties.address_2'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.address_2.validation.rules.presence.message }}"
                placeholder="Address 2">
            </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field 
                id="search_suburb"
                label="Suburb"
                name="{{ form.fields.properties.suburb.name }}" 
                value="{{ form.fields.properties.suburb.value }}" 
                {% if form.errors['properties.suburb'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.suburb.validation.rules.presence.message }}"
                placeholder="Suburb">
            </ins-input>
        </div>

        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field validate
                id="search_state"
                label="State"
                name="{{ form.fields.properties.state.name }}" 
                value="{{ form.fields.properties.state.value }}" 
                {% if form.errors['properties.state'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.state.validation.rules.presence.message }}"
                placeholder="State">
            </ins-input>
        </div>

        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field validate
                id="search_postcode"
                label="ZIP / Postcode"
                name="{{ form.fields.properties.postcode.name }}" 
                value="{{ form.fields.properties.postcode.value }}" 
                {% if form.errors['properties.postcode'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.postcode.validation.rules.presence.message }}"
                placeholder="ZIP / Postcode">
            </ins-input>
        </div>

        <div class="large-6 medium-6 small-12 cell">
            <ins-input form-address-field validate
                id="search_country"
                label="Country"
                name="{{ form.fields.properties.country.name }}" 
                value="{{ form.fields.properties.country.value }}" 
                {% if form.errors['properties.country'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.country.validation.rules.presence.message }}"
                placeholder="Country">
            </ins-input>
            <div class="spacer small"></div>
        </div>
    </div>
    <div class="grid-x grid-padding-x hide-for-small-only">
        <div class="large-4 medium-4 small-12 cell">
        {%- if context.params.slug3 -%}
            <ins-button id="deleteAddressBtn2" type="button" color="red" label="Delete Address"></ins-button>
        {%- endif -%}
        </div>
        <div class="large-8 medium-8 small-12 cell text-right">
            <input type="hidden" name="{{ form.fields.properties.submit_type.name }}" value="{{ form.system_fields._method }}">
            <input type="hidden" name="{{ form.fields.properties.source_id.name }}" value="{{ user.id }}">
            {%- if form.system_fields._method and form.system_fields._method == 'patch' -%}
            {%- assign btn_label = 'Update Address' -%}
            {%- else -%}
            {%- assign btn_label = 'Add to Address Book' -%}
            {%- endif -%}
            <a href="/account-information" class="ins-button">
                <ins-button outlined label="Cancel" type="button"></ins-button>
            </a>
            <ins-button class="save-address-btn" solid 
                color="blue"
                label="{{btn_label}}" 
                type="submit" 
                size="normal">
            </ins-button>
        </div>
    </div>

    <div class="grid-x grid-padding-x show-for-small-only">
        <div class="small-12 cell btn-container">
            <ins-button class="save-address-btn" solid 
                color="blue"
                label="{{btn_label}}" 
                type="submit" 
                size="normal">
            </ins-button>
            <a href="/account-information" class="ins-button">
                <ins-button outlined label="Cancel" type="button"></ins-button>
            </a>
        </div>
    </div>
{%- endform -%}

{%- if context.params.slug3 -%}
<div class="grid-x grid-padding-x show-for-small-only">
    <div class="small-12 cell">
    {%- include_form 'modules/ecommerce/delete_user_address', id: context.params.slug3, class: "full" -%}
    </div>
{%- endif -%}
</div>

<script>
    let deletBtn = document.getElementById('deleteAddressBtn-main');
    let deleteBtnTrigger = document.getElementById('deleteAddressBtn2');
    if(deletBtn && deleteBtnTrigger) {
        deleteBtnTrigger.addEventListener('insClick', (ev) => {
            deletBtn.querySelector('button').click();
        })
    }
</script>