---
metadata: {
    partial_name: 'Ecommerce | Forms | Stripe Element'
}
---
<ins-modal id="stripe-modal" 
    no-button 
    with-backdrop
    height="255px" 
    width="520px"
    heading="Add New Card">
    <form id="card-form">
      <script src="https://js.stripe.com/v3/"></script>
        <div class="form-row">
            <div class="spacer small"></div>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <div id="card-errors" class="error-message">
            </div>
        </div>
        <div class="spacer"></div>

        <div class="grid-x hide-for-small-only">
          <div class="large-12 medium-12 small-12 cell text-right btn-container">
              <ins-button type="button" outlined 
                  class="card-form-cancel"
                  label="Cancel">
              </ins-button>
              <ins-button type="button" solid 
                  class="card-form-submit inline-block"
                  label="Add">
              </ins-button>
          </div>
        </div>
        <div class="grid-x grid-padding-x show-for-small-only">
          <div class="small-12 cell btn-container">
              <ins-button type="button" solid 
                  class="card-form-submit"
                  label="Add">
              </ins-button>
              <ins-button type="button" outlined 
                  class="card-form-cancel"
                  label="Cancel">
              </ins-button>
          </div>
        </div>
    </form>
</ins-modal>

{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
{% comment %} Set value depending if guest or logged in (with profile) {% endcomment %}
{%  liquid
    if has_profile
        assign email = context.current_user.email
        assign first_name = context.current_user.first_name
        assign last_name = context.current_user.last_name
    else
        assign email = context.session.billing_contact_email
        assign first_name = context.session.billing_contact_first_name
        assign last_name = context.session.billing_contact_last_name
    endif
%}

<input type="hidden" id="card_email" value="{{ email }}" >
<input type="hidden" id="card_first_name" value="{{ first_name }}" >
<input type="hidden" id="card_last_name" value="{{ last_name }}" >

<script>
    let payByCardField = document.getElementById('{{ cc_field_id }}');
    let email = "{{ email }}";
    let emailField = document.getElementById('card_email');
    let stripeFirstName = document.getElementById('card_first_name');
    let stripeLastName = document.getElementById('card_last_name');
    // Create a Stripe client.
    let stripe = Stripe('{{ public_key }}');
</script>

{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/portal/scripts/stripe/stripe-element.js' | asset_url }}"></script> 
    <script src="{{ 'modules/portal/scripts/stripe/stripe-model.js' | asset_url }}"></script> 
{%- else -%}
    <script src="{{ 'modules/portal/scripts/stripe/stripe-element.min.js' | asset_url }}"></script> 
    <script src="{{ 'modules/portal/scripts/stripe/stripe-model.min.js' | asset_url }}"></script> 
{%- endif -%}