---
metadata: {
    partial_name: 'Events | List | List'
}
---

{% comment %} 
     This partial is being used by pages:
     - /upcoming-events
     - /previous-events
     - /itinerary-upcoming
     - /itinerary-previous
{% endcomment %}

{%  liquid      
     ## Query Strings
     assign page_num = context.params.page | default: 1 | plus: 0
     assign per_page = context.params.per_page | default: 12 | plus: 0
     assign keyword = context.params.search | default: ""
     assign selected_category = context.params.category | default: ""
     assign selected_location = context.params.location | default: ""
     assign sort = context.params.sort

     ## Sort by     
     if sort == "Earliest to latest"
          assign order = "ASC"    
     elsif sort == "Latest to earlier"
          assign order = "DESC"
     endif
%}

{% comment %} Sort by {% endcomment %}
{% parse_json sort_by %}
{
     "properties": [
               { "name": "start_date_time", "order": "{{ order |  default: 'ASC' }}" }
          ]
}
{% endparse_json %}


{% comment %} Filter: Categories {% endcomment %}
{% if page == 'itinerary-upcoming' or page == 'itinerary-previous' %}

     {% parse_json filters %}
     {
          {% comment %} Upcoming || Previous list {% endcomment %}
          {% if page == 'itinerary-upcoming' %}
               "gt_date_now": "{{ 'now' | date: "%Y-%m-%d %H:%M" }}",
          {% elsif page == 'itinerary-previous' %}
               "lt_date_now": "{{ 'now' | date: "%Y-%m-%d %H:%M" }}",
          {% endif %}
          "uuids": {{ user_event_uuids |  default: '[]' }}
     }
     {% endparse_json %}
     {% graphql category_location = 'modules/events/events/get_filter_category_location', args: filters | dig: 'items','results' -%}
     {% liquid 
          assign category_options = 'All' | split: ','
          for category in category_location
               assign category_options = category_options | array_add: category.category.value
          endfor
          assign category_options = category_options | array_uniq | array_compact
     %}

{% else %}
     {% parse_json category_payload %}
     {
          "query_string": "system_field=event_category&page=1&size=50"
     }
     {% endparse_json %}
     {%- graphql categories = 'modules/website/trigger_api_call', 
          name: 'modules/events/get_system_fields', 
          data: category_payload
          | dig: 'items','response','body' | parse_json
          | dig: 'results' -%}  

     {% assign selected_category_uuid = categories | array_detect: value: selected_category | dig: 'uuid' %}     
     {% assign categories_name = categories | map: 'value' | array_uniq | sort %}     

     {% capture category_options %}  
          {{ categories_name | array_prepend: 'All' }}
     {% endcapture %}
{% endif %}

     
{% comment %} Filter: Locations {% endcomment %}
{% if page == 'itinerary-upcoming' or page == 'itinerary-previous' %}     
     {% liquid 
          assign location_options = category_location | map: 'venue_state' | array_uniq | array_compact
          assign has_online_event = category_location | map: 'event_type' | array_uniq | array_any: 'online_event'
          if has_online_event
               assign location_options = location_options | array_prepend: 'WEB'
          endif
          assign location_options = location_options | array_prepend: 'All'
     %}
{% else %}
     {% graphql locations = 'modules/events/venues/get_venue_states' | dig: 'items','results' -%}
     {% capture location_options %}  
          {{ locations | map: 'state' | array_uniq | array_prepend: 'WEB' | array_prepend: 'All'  }}
     {% endcapture %}
{% endif %}


{% comment %} 
     Note: We used the 'page' variable passed from the parent, rather than retrieving it from context.params.slug.
{% endcomment %}

{% comment %} Get Events {% endcomment %}
{% parse_json filters %}
{
     "page": {{ page_num }},
     "size": {{ per_page }},
     "keyword": "{{ keyword }}",
     {% comment %} Upcoming || Previous list {% endcomment %}
     {% if page == 'upcoming-events' or page == 'itinerary-upcoming' %}
          "gt_date_now": "{{ 'now' | date: "%Y-%m-%d %H:%M" }}",
     {% elsif page == 'previous-events' or page == 'itinerary-previous' %}
          "lt_date_now": "{{ 'now' | date: "%Y-%m-%d %H:%M" }}",
     {% endif %}
     {% comment %} Itinerary Upcoming || Previous list {% endcomment %}
     {% if page == 'itinerary-upcoming' or page == 'itinerary-previous' %}
          "uuids": {{ user_event_uuids |  default: '[]' }},
     {% endif %}
     {% comment %} Category {% endcomment %}
     {% if selected_category_uuid and selected_category_uuid != '' %}
          "category_uuid": "{{ selected_category_uuid }}",
     {% endif %}
     {% comment %} Event Type || Location {% endcomment %}
     {% if selected_location == 'WEB' %}
          "event_type": "online_event",
     {% elsif selected_location != '' %}
          "venue_state": "{{ selected_location }}",
     {% endif %}
     {% comment %} Search by name {% endcomment %}
     {% if keyword != '' %}
          "event_name": "{{ keyword }}",
     {% endif %}
     "sort_by": {{ sort_by }}
}
{% endparse_json %} 
{% graphql events = 'modules/events/events/get_events', args: filters | dig: 'items' -%}
     

     {% comment %} Filters | Search {% endcomment %}
     {% if events.total_entries == 0 and context.params.slug == 'itinerary-upcoming' or context.params.slug == 'itinerary-previous' %}
          {% comment %} Dont show filters when no events are found in itinerary-upcoming and itinerary-previous {% endcomment %}
     {% else %}
     <div class="wrapper width-1440">
        <div class="grid-container">
            <div class="grid-x gutter-medium grid-padding-x grid-padding-y">
                <div class="large-8 medium-12 small-12 cell filter-container-cell large-order-1 medium-order-1 small-order-2">
                    <ins-filter id="list-filter" label="Filter by:">
                        <ins-filter-item
                            name="Category"
                            options='{{ category_options }}'
                            selected="{{ context.params.category }}">
                        </ins-filter-item>
                        <ins-filter-item
                            name="Location"
                            options='{{ location_options }}'
                            selected="{{ context.params.location }}">
                        </ins-filter-item>
                        <ins-filter-item
                            name="Sort by"
                            options='["Earliest to latest", "Latest to earlier"]'
                            selected="{{ sort }}">
                        </ins-filter-item>
                    </ins-filter>
                </div>
                <div class="large-4 medium-12 small-12 cell search-container-cell small-order-1">
                    <div class="">
                        <ins-input                 
                            id="search-event"
                            class="search-award search-bars"
                            placeholder="Search by event name"
                            icon-event
                            icon="icon-search-1"
                            value="{{ context.params.search }}">
                        </ins-input>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="spacer large hide-for-small-only"></div>
     <div class="spacer xxx-large show-for-small-only"></div>
     {% endif %}

{% if events.total_entries == 0 %}

     <div class="wrapper width-1440">
          <div class="text-center">
               {% if context.params.search != blank %}
                    <p class="subHeading">No results found for keyword "<strong>{{ keyword  }}</strong>"</p>
               {% elsif context.params.slug == 'itinerary-upcoming' or context.params.slug == 'itinerary-previous' %}
                    <div class="empty-box">
                         <p class="body-large-bold">You have no upcoming events</p>
                    </div>
               {% else %}
                    <p class="subHeading">No results found</p>    
               {% endif %}
          </div>
          <div class="spacer section hide-for-small-only"></div>
          <div class="spacer xxx-large show-for-small-only"></div>
    </div>

{% else %}

     <div class="wrapper width-1440">     
          
          {% comment %} List {% endcomment %}
          <div class="grid-x grid-padding-x event-card-wrap">
               {% for item in events.results %}
                    <div class="cell large-4 medium-6 small-12">
                         {% include 'modules/events/events/card', item: item, list: true, page: page %}
                         <div class="spacer xxx-large hide-for-small-only"></div>
                    </div>                    
                    <div class="cell large-0 medium-0 small-12 spacer x-large show-for-small-only"></div>
               {% endfor %}	
          </div>

          {% comment %} Pagination {% endcomment %}
          <div class="spacer small show-for-small-only"></div>
          <ins-table no-wrap
               static-table
               id="paginationTable"
               class="event-pagination-table"
               without-search>    
          </ins-table>
     </div>
     <div class="spacer section hide-for-small-only"></div>
     <div class="spacer xxx-large show-for-small-only"></div>  

{% endif %}        


<script id="pagination-data" type="application/json">
{
     "totalCount": {{ events.total_entries | default: 0 }},
     "pageNumber": {{ page_num }},
     "pageSize": {{ per_page }},
     "pageSizeOptions": [12, 24, 30],
     "paginationText": "Items per page"
}
</script>

{%- if context.environment == "staging" -%}
     <script src="{{ 'modules/events/scripts/events-addon.js' | asset_url }}" defer></script>
     <script src="{{ 'modules/events/scripts/events-list.js' | asset_url }}" defer></script>
{%- else -%}
     <script src="{{ 'modules/events/scripts/events-addon.min.js' | asset_url }}" defer></script>
     <script src="{{ 'modules/events/scripts/events-list.min.js' | asset_url }}" defer></script>
{%- endif -%}

