---
slug: api/create-contact-company
format: json
method: post
searchable: false
---

{%- assign payload = context.params | parse_json -%}
{%- assign status = 400 -%}

{% comment %} Check if email already exists {% endcomment %}
{%- graphql user = "modules/portal/account/get_user_by_email" 
    email: payload.email | dig: "items","results" | first -%}

   
{% if user != nil %}

  {% comment %} Email already exists {% endcomment %}
  {% assign user_id = user.id %}

  {% comment %} Update contact {% endcomment %}
  {% assign payload = payload | add_hash_key: 'uuid', guest_email.uuid %}
  {% function update_contact = "crm/controller/contacts/update", uuid: payload.uuid, params: payload %}  

  {% comment %} Set Status {% endcomment %}
  {%- liquid
    if update_contact.id 
        assign status = 200
    endif    
  -%}
  
{% else %}

  {% comment %} Email does not exist {% endcomment %}

  {% comment %} Create contact {% endcomment %}
  {% function add_contact = "crm/controller/contacts/create", params: payload %}
  {% assign user_id = add_contact.id %}

  {% comment %} Create company {% endcomment %}
  {% parse_json company_details %}
      {
        "company_name": "{{ payload.company_name }}"
      }
  {% endparse_json %}   
  {% function add_company = "crm/controller/companies/create", params: company_details %}

  {% comment %} Associate contact with company {% endcomment %}
  {% parse_json update_contact_data %}
  {
      "uuid": "{{ add_contact.uuid }}",
      "email": "{{ add_contact.email }}",
      "company.uuid": "{{ add_company.uuid }}"
  }
  {% endparse_json %}
  {% function update_contact = "crm/controller/contacts/update", uuid: update_contact_data.uuid, params: update_contact_data %}  

  {% comment %} Set Status {% endcomment %}
  {%- liquid
      if add_contact.id 
            assign status = 200
      endif
  -%}
{% endif %}


{% comment %} Generate temporary token {% endcomment %}
{% graphql temporary_token = 'modules/portal/account/generate_user_temporary_token', 
      email: payload.email | dig: 'items','results' | first %}

{% comment %} Create user profile: 'modules/portal/portal' {% endcomment %}
{% graphql create_user_profile = 'modules/portal/account/create_user_profile', 
  id: user_id, token: temporary_token.temporary_token, is_enabled: true, primary_account_holder: true %}

{% log create_user_profile, type: '===TEST create_user_profile' %}



{% comment %} Add event {% endcomment %}
{% parse_json event_data %}
{
  "font_icon_color": "#048801",
  "log": {
    "data": {
      "created_at": "{{ add_contact.created_at }}",
      "id": "{{ add_contact.id }}",
      "updated_at": "{{ add_contact.updated_at }}",
      "properties": {{ add_contact |  default: '[]'}}
    },
    "action": "add_contact",
    "contact_uuid": "{{ add_contact.uuid }}"
  },
  "datetime": "{{ 'now' | date: '%s' }}",
  "font_icon": "icon-check-2",
  "module_feature": "crm_contact",
  "module_source": "insites_core",
  "administrator_uuid": "",
  "uuid": "{{ '' | uuid }}",
  "details": "",
  "description": "New user <a target='_blank' href='/admin/insites/#/crm/contacts/{{add_contact.id}}'>{{add_contact.first_name}} {{add_contact.last_name}}</a> from <a href='/admin/insites#/crm/companies/{{ add_company.company_uuid }}'>{{ add_company.company_name  }}</a> has been added via ticket purchase."
}
{% endparse_json %}
{% function add_event = "crm/controller/event-streams/create", params: event_data %}

{%- session guest_uuid = add_contact.uuid  -%}
{%- session contact_email = add_contact.email -%}
{% assign update_contact = update_contact | add_hash_key: 'guest', 'true' %}

{{ update_contact  }}
{%- response_status status -%}