---
name: checkout_set_password
resource: User
redirect_to: sign-up
resource_owner: anyone
flash_notice: Your account has been created
fields:
  email:
    validation: 
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address
  password:
    validation: 
      presence: 
        message: Password is required
  first_name: 
    validation: 
      presence: 
        message: First name is required
  last_name:
    validation: 
      presence: 
        message: Last name is required
  profiles:
    modules/insites_core/insites_customer:
      properties:
        is_enabled:
          property_options:
            default: true
            readonly: true
    modules/ins_template_ecommerce/customer:
      properties:
        is_enabled:
          property_options:
            default: true
            readonly: true
        is_activated:
          property_options:
            default: false
            readonly: true
api_call_notifications:
    - modules/ins_template_website/forms/create_crm_activity
default_payload: |-
  {
    "fields": {
      "profiles":{
        "modules/ins_template_ecommerce/customer":{
          "properties_attributes": {
            "is_enabled" : true,
            "is_activated" : false
          }
        }
      }
    }
  }
callback_actions: |-
  {% graphql g = 'modules/ins_template_ecommerce/account/generate_user_temporary_token', email: form.email %}
  {% if g.items.results[0] %}
    {% graphql res = 'modules/ins_template_ecommerce/account/set_email_verification_token', id: g.items.results[0].id, token: g.items.results[0].temporary_token %}
  {% endif %}
---

{% form 
    html-id: "checkout-set-password" 
    html-novalidate: true 
    html-onsubmit:"return CheckoutSteps.events.validateOrderPassword(event);" %}

{%- graphql user = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign account_verified = user.current_user.customer[0].is_activated -%}

    <div class="grid-x grid-padding-x">
        <div class="large-12 meduim-12 small-12 cell">
            {%- if context.current_user.id and account_verified != true -%}
                  {%- assign form_heading = "Verify Account" -%}
                  {%- assign subtext = "Verify your account" -%}
            {%- else -%}
                {%- assign form_heading = "Create Account" -%}
                {%- assign subtext = "Create an account" -%}
            {%- endif -%}
            <h2 class="heading-2">{{ form_heading }}</h2>
            <div class="spacer"></div>
            <p>{{ subtext }} with the details you’ve provided for a faster transaction on your next purchase.</p>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="hide">
            <input type="hidden" name="{{ form.fields.profiles['modules/insites_core/insites_customer'].properties.is_enabled.name }}" value="{{ form.fields.profiles['modules/insites_core/insites_customer'].properties.is_enabled.value }}">
            <input type="hidden" name="{{ form.fields.profiles['modules/ins_template_ecommerce/customer'].properties.is_enabled.name }}" value="{{ form.fields.profiles['modules/ins_template_ecommerce/customer'].properties.is_enabled.value }}">
            <input type="hidden" name="{{ form.fields.profiles['modules/ins_template_ecommerce/customer'].properties.is_activated.name }}" value="{{ form.fields.profiles['modules/ins_template_ecommerce/customer'].properties.is_activated.value }}">
        </div>
        <div class="large-12 meduim-12 small-12 cell hide">
            <ins-input readonly
                label="Email*"
                field="hidden"
                name="{{ form.fields.email.name }}" 
                value="{{ data.properties.billing_email }}" 
                {% if form.errors['email'] %} has-error {% endif %}
                error-message="{{ form.fields.email.validation.rules.presence.message }}"
                placeholder="Email Address">
            </ins-input>
            <ins-input readonly
                label="First Name*"
                field="hidden"
                name="{{ form.fields.first_name.name }}" 
                value="{{ data.properties.billing_first_name }}" 
                {% if form.errors['first_name'] %} has-error {% endif %}
                error-message="{{ form.fields.first_name.validation.rules.presence.message }}"
                placeholder="First Name">
            </ins-input>
            <ins-input readonly
                label="Last Name*"
                field="hidden"
                name="{{ form.fields.last_name.name }}" 
                value="{{ data.properties.billing_last_name }}" 
                {% if form.errors['last_name'] %} has-error {% endif %}
                error-message="{{ form.fields.last_name.validation.rules.presence.message }}"
                placeholder="Last Name">
            </ins-input>
        </div>
        <div class="large-12 meduim-12 small-12 cell">
            <ins-input required validate
                label="Password*"
                field="password"
                name="{{ form.fields.password.name }}" 
                error-message="{{ form.fields.password.validation.rules.presence.message }}"
                {% if form.errors['password'] %} has-error {% endif %}
                placeholder="Password">
            </ins-input>
            {% comment %} <p class="font-body-small">Password must Contain between 8–36 characters, 
                at least 1 upper-case letter and at least 1 number</p> 
            <div class="spacer x-large"></div>{% endcomment %}
        </div>
    </div>
        

    <div class="text-right btn-container">
        <ins-button solid
            id="checkout-set-pw"
            type="submit"
            label="{{ form_heading }}">
        </ins-button>
    </div>
    
    <script>
    let setPWBtn = document.getElementById('checkout-set-pw');
        setPWBtn.addEventListener('insClick',() => { setPWBtn.loading = true; });
    </script>
{% endform %}