---
name: checkout_update_user
resource: User
resource_owner: anyone
redirect_to: checkout/shipping
flash_alert: Sorry-AddUser
flash_notice: Success-AddUser
fields:
  email:
    validation: 
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address
  first_name:
    validation: 
      presence: 
        message: First name is required
  last_name:
    validation: 
      presence: 
        message: Last name is required
  
  company_name:
    property_options:
      virtual: true

  profiles:
    modules/insites_core/crm_contact:
      properties:
        mobile_phone_number:
        mobile_phone_country_code:

callback_actions: |-

  {%- if form.company_name -%}
  {%- include 'modules/ecommerce/checkout/create_crm_company_on_submit',
    user_id: form.id,
    company_name: form.company_name -%}
  {%- endif -%}
  
  {%- session account_company_name = form.company_name | default: "" -%}  
  {%- session account_mobile_number = form.profiles['modules/insites_core/crm_contact'].properties.mobile_phone_number | default: "" -%}
  {%- session account_mobile_country_code = form.profiles['modules/insites_core/crm_contact'].properties.mobile_phone_country_code | default: "" -%}

  {%- session latest_step = 2 -%}
---

{% assign fields = form.fields %}
{% assign prop = fields.properties %}
{% assign profiles_prop = fields.profiles['modules/insites_core/crm_contact'].properties %}

{%- form 
  html-id: "checkout-account-detail" 
  html-novalidate: true 
  html-enctype="multipart/form-data" 
  html-onsubmit:"return Checkout.events.accountSubmit(event);" -%}


  <div id="account-details">
    <h2 class="heading-1 font-color-head">Account Details</h2>
    <div class="spacer xxx-large"></div>
    <h2 class="heading-2">Account Information</h2>
    <div class="spacer x-large"></div>

    <div class="grid-x grid-padding-x account-details">

      <input type="hidden" 
        id="hidden-account-phone"
        name="{{ profiles_prop.mobile_phone_number.name }}"
        value="{{ profiles_prop.mobile_phone_number.value }}" >

      <input type="hidden" 
        id="hidden-account-phone-country-code"
        name="{{ profiles_prop.mobile_phone_country_code.name }}"
        value="{{ profiles_prop.mobile_phone_country_code.value }}" >


      <div class="large-12 medium-12 small-12 cell">
        <ins-input   
          class="label-input" 
          label="Company Name"
          placeholder="Company Name" 
          field="text" 
          value="{{ input_company_name | default: '' }}"
          name="{{ fields.company_name.name }}">
        </ins-input>
      </div>

      <div class="large-6 medium-6 small-12 cell">
        <ins-input required validate  class="label-input"
          label="First Name*"
          placeholder="First Name" 
          value="{{ fields.first_name.value }}"
          name="{{ fields.first_name.name }}" 
          {% if form.errors['first_name'] %} has-error {% endif %}
          error-message="{{ fields.first_name.validation.rules.presence.message }}">
        </ins-input>
      </div>

      <div class="large-6 medium-6 small-12 cell">
        <ins-input required validate  
          class="label-input"
          label="Last Name*"
          placeholder="Last Name" 
          value="{{ fields.last_name.value }}"
          name="{{ fields.last_name.name }}" 
          {% if form.errors['last_name'] %} has-error {% endif %}
          error-message="{{ fields.last_name.validation.rules.presence.message }}">
        </ins-input>
      </div>

      <div class="large-6 medium-6 small-12 cell">
        <ins-input required validate  
          class="label-input"
          {% if context.current_user and context.current_user.email %} readonly {% endif %} 
          label="Email Address*"
          placeholder="Email Address" 
          field="email" 
          value="{{ fields.email.value }}"
          name="{{ fields.email.name }}" 
          {% if form.errors['email'] %} has-error {% endif %}
          error-message="{{ fields.email.validation.rules.presence.message }}">
        </ins-input>
      </div>

      <div class="large-6 medium-6 small-12 cell">
        <ins-input-tel  
          class="label-input" 
          id="account-phone"
          label="Phone Number"
          country-code="{{ data.current_user.crm_contact[0].mobile_phone_country_code | default: '61' }}"  
          phonenum-value="{{ data.current_user.crm_contact[0].mobile_phone_number }}"
          phonenum-placeholder="Phone Number" 
          no-areacode>
        </ins-input-tel>
      </div>

    </div>

   <div class="spacer small"></div>
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 small-12 cell">
          <a href="/shopping-cart">
              <ins-button solid type="button" label="Cancel" outlined></ins-button>
          </a>
      </div>
      <div class="cell show-for-small-only spacer x-small"></div>
      <div class="large-6 medium-6 small-12 cell text-right">
        <ins-button solid type="submit" id="account-submit" class="w-100 checkout-btn" label="Continue To Shipping"></ins-button>
      </div>
    </div>
  </div>
        
{%- endform -%}