---
name: checkout_payment
resource: modules/insites_ecommerce/order
resource_owner: anyone
redirect_to: > 
    {% log form.properties, type: "==== form.properties checkout_payment form  ====" %}
    {%- if context.exports.payment_response.status == "succeeded" or context.exports.payment_response.status == "active" -%}
        confirmation?id={{ form.properties.uuid }}
    {%- else -%}
        {%- if context.exports.payment_response.error.code == "card_declined" -%}
        checkout/payment?status=payment-error&type={{ context.exports.payment_response.error.decline_code | default: "" }}
        {%- else -%}
        checkout/payment?status=payment-error&type={{ context.exports.payment_response.error.code | default: "" }}
        {%- endif -%}    
    {%- endif -%}
fields:
    properties:
        ## Shipping Details
        shipping_company_name:
        shipping_contact_first_name:
            validation:
                presence:  
                    message: First name is required
        shipping_contact_last_name:
            validation:
                presence:  
                    message: Last name is required 
        shipping_contact_email:
            validation:
                email: 
                    message: Please use a valid email address
                presence:  
                    message: Please use a valid email address
        shipping_contact_phone_number:
        shipping_contact_phone_country_code:
        shipping_address_id:
            property_options:
                virtual: true
        shipping_address_1:
            validation:
                presence:  
                    message: Address is required 
        shipping_address_2:
        shipping_address_3:
        shipping_city:
        shipping_state:
            validation:
                presence:  
                    message: State is required 
        shipping_postcode:
            validation:
                presence:  
                    message: Postcode is required 
        shipping_country:
            validation:
                presence:  
                    message: Country is required 
        additional_shipping_cost:
            property_options:
                virtual: true
        shipping_instructions:      
        
        ## Payment Details
        billing_company_name:
        billing_contact_first_name:
            validation:
                presence:  
                    message: First name is required 
        billing_contact_last_name:
            validation:
                presence:  
                    message: Last name is required 
        billing_contact_email:
            validation:
                email: 
                    message: Please use a valid email address
                presence:  
                    message: Please use a valid email address
        billing_contact_phone_number:
        billing_contact_phone_country_code:
        billing_address_id:
            property_options:
                virtual: true
        billing_address_1:
            validation:
                presence:  
                    message: Address is required 
        billing_address_2:
        billing_address_3:
        billing_city:
        billing_state:  
            validation:
                presence:
                    message: State is required 
        billing_postcode:
            validation:
                presence:  
                    message: Postcode is required 
        billing_country:
            validation:
                presence:  
                    message: Country is required 
        
        ## Payment Gateway
        gateway_id: 
            property_options:
                virtual: true
        stripe_credit_card:
            property_options:
                virtual: true
        statement_descriptor:
            property_options:
                virtual: true

        ## Transaction Details
        order_reference:
            validation:
                presence: true
        order_contact_uuid:
            validation:
                presence: true
        order_contact_email:
        order_contact_first_name:
        order_contact_last_name:                
        order_status: ## String = "Paid" ??
        order_payment_status: ## String = "Paid" ??
        order_shipping_status: ## String = "Processing" 
        date_time: ## String! = date-time order success
        notes: ## stripe descrition
        currency: ## String! = AUD (System settings)
        subtotal_amount: ## Float!
        total_tax_amount: ## Float!
        total_shipping_amount: ## Float!
        total_discount_amount:
        total_amount: ## Float!
        total_amount_paid:
        discount_code_uuids:        
        uuid:
            validation:
                presence:  
                    message: UUID is required                           
default_payload: >
    {%- comment -%} Get currency from eCommerce settings {%- endcomment -%}
    {%- graphql settings = "modules/ecommerce/system/get_settings" | dig: 'items' | dig: 'results' | first -%}

    {% comment %} Get current_user details {% endcomment %}
    {% graphql order_contact_uuid = 'modules/ecommerce/account/get_current_user' | dig: 'current_user','uuid' %}
    {% assign order_contact_first_name =  context.current_user.first_name %}
    {% assign order_contact_last_name = context.current_user.last_name %}
    {% assign order_contact_email = context.current_user.email %}
    
    {%- comment -%} Compute order values {%- endcomment -%}
    {% include 'modules/ecommerce/checkout/compute_order_summary' %}

    {% comment %} Get guest details {% endcomment %}
    {% if order_contact_uuid == '' or order_contact_uuid == null %}
        {% assign order_contact_uuid = context.session.guest_info.uuid %}
        {% assign order_contact_first_name = context.session.billing_contact_first_name %}
        {% assign order_contact_last_name = context.session.billing_contact_last_name %}
        {% assign order_contact_email = context.session.billing_contact_email %}
    {% endif %}

    {% assign computed = context.exports.computed %}

    {
        "properties_attributes": {
            "shipping_company_name": "{{context.session.shipping_company_name | default: ''}}",
            "shipping_contact_first_name": "{{context.session.shipping_contact_first_name | default: ''}}",
            "shipping_contact_last_name": "{{context.session.shipping_contact_last_name | default: ''}}",
            "shipping_contact_email": "{{context.session.shipping_contact_email | default: ''}}",
            "shipping_contact_phone_number": "{{context.session.shipping_contact_phone_number}}",
            "shipping_contact_phone_country_code": "{{context.session.shipping_contact_phone_country_code}}",
            "shipping_address_id": "{{context.session.shipping_address_id | default: ''}}",
            "shipping_address_1": "{{context.session.shipping_address_1 | default: ''}}",
            "shipping_address_2": "{{context.session.shipping_address_2 | default: ''}}",
            "shipping_address_3": "{{context.session.shipping_address_3 | default: ''}}",
            "shipping_city": "{{context.session.shipping_city | default: ''}}",
            "shipping_state": "{{context.session.shipping_state | default: ''}}",
            "shipping_postcode": "{{context.session.shipping_postcode | default: ''}}",
            "shipping_country": "{{context.session.shipping_country | default: ''}}",
            "shipping_instructions": "{{context.session.shipping_instructions | default: ''}}",
            "billing_company_name": "{{context.session.billing_company_name | default: ''}}",
            "billing_contact_first_name": "{{context.session.billing_contact_first_name | default: ''}}",
            "billing_contact_last_name": "{{context.session.billing_contact_last_name | default: ''}}",
            "billing_contact_email": "{{context.session.billing_contact_email | default: ''}}",
            "billing_contact_phone_number": "{{context.session.billing_contact_phone_number}}",
            "billing_contact_phone_country_code": "{{context.session.billing_contact_phone_country_code}}",
            "billing_address_id": "{{context.session.billing_address_id | default: ''}}",
            "billing_address_1": "{{context.session.billing_address_1 | default: ''}}",
            "billing_address_2": "{{context.session.billing_address_2 | default: ''}}",
            "billing_address_3": "{{context.session.billing_address_3 | default: ''}}",
            "billing_city": "{{context.session.billing_city | default: ''}}",
            "billing_state": "{{context.session.billing_state | default: ''}}",
            "billing_postcode": "{{context.session.billing_postcode | default: ''}}",
            "billing_country": "{{context.session.billing_country | default: ''}}",
            "order_reference": "{{ '' | uuid | split: '-' | first }}", 
            "order_contact_uuid": "{{ order_contact_uuid }}", 
            "order_contact_first_name": "{{ order_contact_first_name }}", 
            "order_contact_last_name": "{{ order_contact_last_name }}", 
            "order_contact_email": "{{ order_contact_email }}", 
            "order_status": "Open", 
            "order_payment_status": "Open",
            "order_shipping_status": "", 
            "date_time": "", 
            "notes": "", 
            "currency": "{{ settings.currency | default: 'AUD' }}", 
            "subtotal_amount": "{{ computed.sub_total_amount }}",
            "total_tax_amount": "{{ computed.tax_amount }}",
            "total_shipping_amount": "{{ computed.shipping_amount  }}",
            "total_discount_amount": "{{ computed.total_discount_amount }}",
            "total_amount_paid": "{{ computed.total_amount }}",
            "total_amount": "{{ computed.total_amount }}",
            "uuid": "{{ '' | uuid }}"                       
        }
    }
callback_actions: >
    {%- comment -%}
    These actions are made intentionally on `callback_actions` and not on `async_callback_action` bec.
    confirmation page needs to be able to see the 'payment details' & cart summary. 
     
    START: Checkout callback process
        - API call to Stripe (Payment)
        - Create / Update records
        - Trigger Email & API callback via GraphQL    
    {%- endcomment -%}
    
    {%- assign user_id = context.current_user.id | default: "" -%}
    {% export user_id %}
    {%- include 'modules/ecommerce/checkout/callback_init', 
        form: form
        context: context -%}
    {%- comment -%}END: Checkout callback process{%- endcomment -%}

    {%- session latest_step = 5 -%}
---
{% log context.session., type: "==== context.session in checkout_payment====" %}
{% comment %} Get the user uuid {% endcomment %}
{%  liquid
    if context.session.user_uuid and context.session.user_uuid != ''
        assign user_uuid = context.session.user_uuid
    else
        graphql user = 'modules/client/account/get_current_user'
        session user_uuid = user.current_user.external_id
        assign user_uuid = user.current_user.external_id
    endif
%}


{% function stripe_settings = "modules/client/stripe/get_stripe_settings" %}


{% form 
    html-id: "checkout-form"
    html-onsubmit:"return Checkout.events.paymentFormSubmit(event);"
    html-novalidate: true %}
   

    <!-- Payment Details -->

    <div id="payment-details" class="aa">
        <h2 class="heading-1">Payment Method</h2>
        <div class="spacer xxx-large"></div>

        <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 small-12 cell">
                <h2 class="heading-2">Credit Card</h2>
            </div>
            <div class="large-6 medium-6 small-12 cell text-right">
                {% if context.current_user %}
                <div class="spacer x-small"></div>
                <ins-button type="button" id="add-card-btn" size="small" icon="icon-plus" label="Add Card">
                </ins-button>
                {% endif %}
            </div>
        </div>

        <div class="validate-credit-card">
            {% comment %} Credit Cards {% endcomment %}
            <div id="credit-card-fields" required class="card-fields">
                <div class="spacer x-large"></div>
                <p class="error-message hide">Credit Card is required.</p>
                <div id="card-options-list" class="grid-x grid-padding-x">
                    {%- if user_uuid -%}
                    {%- graphql cards = "modules/ecommerce/payment_method/get_payment_method", 
                        contact_uuid: user_uuid
                        size: 50 | dig: 'items' -%}
                    {%- for card in cards.results -%}
                        {%  liquid
                            assign is_card_active = ''
                            if forloop.first
                                assign selected_card = card.payment_method_token
                                assign is_card_active = 'active'
                            endif
                        %}
                        <div class="large-6 medium-6 small-12 cell card-options">
                            <ins-credit-card {{ is_card_active }} data-id="{{ card.id }}" brand="{{ card.card_brand }}"
                                last-four="{{ card.card_last_four_digits }}" expiry-month="{{ card.card_expiry_month }}"
                                expiry-year="{{ card.card_expiry_year }}" full-year
                                value="{{ card.payment_method_token }}"
                                compact>
                            </ins-credit-card>                        
                            <div class="spacer small"></div>
                        </div>
                    {%- endfor -%}
                    {%- endif -%}
                </div>
                <ins-input required validate
                    style="height:0px; display: block; overflow: hidden;"
                    field="hidden"
                    id="stripe-card"
                    name="{{ form.fields.properties.stripe_credit_card.name }}"
                    value="{{ selected_card }}"></ins-input>
            </div>

            {%- if context.current_user -%}
                <ins-card steady id="no-card" class="empty-state text-center {% if cards.total_entries > 0 %}hide{% endif %}">
                    No Cards Added
                </ins-card>
            {%- else -%}
                <div id="guest-add-card-form">
                    {% include 'modules/ecommerce/forms/add_card' %}
                </div>
            {%- endif -%}

        </div>
        {% comment %}END: Credit Cards {% endcomment %}

        <div class="spacer xxx-large test"></div>

        {%- comment -%}Check if there's items to pay for{%- endcomment -%}
        {%- include 'modules/ecommerce/checkout/compute_order_summary' -%}
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 cell">
                <div class="spacer small"></div>                
                            
                {%- assign stripe_account_id = stripe_settings.account_id -%}
                
                {%- if stripe_account_id == '' or stripe_account_id == null -%}
                    <ins-button disabled color="negative"
                        label="Payment settings not configured, please contact website administrator.">
                    </ins-button>
                {%- else -%}
                    {% comment %} context.exports.order.total_amount > 0 {% endcomment %}
                    {%- if true -%}
                        <div id="submit-buttons" class="grid-x grid-padding-x {% unless context.current_user %} hide {% endunless %}">  
                            <div class="large-6 medium-6 small-12 cell">
                                <a href="/checkout/billing">
                                    <ins-button solid type="button" label="Back" outlined></ins-button>
                                </a>
                            </div>
                            <div class="large-6 medium-6 small-12 cell text-right">
                                <ins-button solid type="submit" id="checkout-submit-btn" class="w-100 checkout-btn" label="Purchase Order"></ins-button>
                            </div>
                        </div>
                        
                    {%- else -%}
                        <ins-button disabled color="negative" label="No items to pay">
                        </ins-button>
                    {%- endif -%}
                {%- endif -%}
            </div>
        </div>
    </div>
    <!-- END Payment Details -->
    
{% endform %}

<!-- Stripe Element -->
<script>
    let guestAddCardForm = document.getElementById("guest-add-card-form");
    let submitButtons = document.getElementById("submit-buttons");    
</script>
{%- include 'modules/ecommerce/forms/stripe_element',
    cc_field_id: "checkout-credit-card",
    public_key: stripe_settings.pk_key -%}
<!-- END Stripe Element -->