---
metadata: {
    partial_name: 'Ecommerce | Menu | Mega Menu'
}
---
{% parse_json sort_by %}
{
  "properties": [
    { "name": "category_weighting", "order": "ASC" }
  ]
}
{% endparse_json %}

 {% graphql all_categories = 'modules/ecommerce/categories/get_categories', 
            sort_by: sort_by | dig: 'items','results'  %}


<ins-modal 
  id="mega-menu"
  class="no-hover-border hide"
  with-backdrop=false light
    value="DATA"
  height="400px"  
  width="100%"
  no-button>
    
  <div class="grid-x">
    <div class="top-categories cell large-3 medium-3">
        <p class="body-small bold">Shop By</p>        

        {% assign parent_categories = all_categories | array_select: parent_category_uuids: '[]' %}

        {% session parent_categories = parent_categories %}
        {% export parent_categories %}

        <ul>
            <li><a href="/products">All</a></li>
            {% for category in parent_categories %}
            <li><a href="/products/{{category.slug}}">{{category.category_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="featured-categories cell large-9 medium-9 grid-x align-justify">

        {% graphql featured_categories = 'modules/ecommerce/categories/get_featured_categories' | dig: 'items','results' %}

        {% assign parent_category_uuids = featured_categories | map: 'uuid' %}
        {% graphql sub_categories = 'modules/ecommerce/categories/get_subcategories',
            parent_category_uuids: parent_category_uuids | dig: 'items','results' %}        

        {% for parent_category in featured_categories %}
            <div class="wrap">
                <p class="body-small bold">{{ parent_category.category_name }}</p>
                <ul>
                    {% for sub_category in sub_categories %}
                        {% if sub_category.parent_category_uuids contains parent_category.uuid %}
                            <li><a href="/products/{{sub_category.slug}}">{{ sub_category.category_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
  </div>

</ins-modal>

<script>
  var megaMenu = document.getElementById('mega-menu');
  var megaMenuBtn = document.getElementById('mega-menu-btn');

  megaMenu.addEventListener('didLoad', () => {
    megaMenu.classList.remove('hide');
  });
  
  megaMenuBtn.addEventListener('insClick', () => {
    megaMenu.open();
    megaMenuBtn.classList.add('show-modal');    
  });

  megaMenu.addEventListener('insClose', () => {
    megaMenuBtn.classList.remove('show-modal');
  });
</script>