---
metadata: {
    partial_name: 'Events | Details | Details'
}
---

{% assign event_url = "/purchase-ticket?event=" | append: event.uuid %}

<section class="width-1296 event-details wrapper">

     {% comment %} Back {% endcomment %}
     <a href="/{{context.params.slug}}" aria-label="Back to events">
          <ins-button label="Back to events" icon="icon-arrow-back" class="back-events" aria-hidden="true"></ins-button>
     </a>
     <div class="spacer xxxx-large hide-for-small-only"></div>
     <div class="spacer show-for-small-only"></div>

     <div class="grid-x">
          {% comment %} First Column {% endcomment %}
          <div class="large-7 medium-7 small-12 grid-y col-1">
               {% comment %} Category {% endcomment %}
               <div class="event-card-wrap">
                    <div class="grid-x">
                         <i class="icon-bookmark-1" aria-hidden="true"></i>
                         <span>{{ event.category.value }}</span>
                    </div>
               </div>
               <div class="spacer small"></div>

               {% comment %} Event Name {% endcomment %}
               <h1 class="heading-1-small">{{ event.event_name }}</h1>
               <div class="spacer xxx-large"></div>

               {% comment %} Date and time {% endcomment %}
               <h2 class="heading-2-xsmall">Date and time</h2>
               <div class="spacer"></div>
               <div class="event-card-wrap">
                    {% comment %} Date & time {% endcomment %}
                    {% include 'modules/events/events/event_date_time', item: event, is_details_page: true %}
               </div>
               <div class="spacer xxx-large"></div>

               {% comment %} Location {% endcomment %}
               <h2 class="heading-2-xsmall">Location</h2>
               <div class="spacer"></div>
               {% if event.event_type == 'online_event' %}
                    <div class="event-card-wrap">
                         <div class="grid-x">
                              <i class="icon-map-pin" aria-hidden="true"></i>
                              <span>Online event</span>
                         </div>
                    </div>
               {% else %}                    
                    <div id="map-container"></div>
                    <div class="spacer"></div>
                    <div class="event-card-wrap">
                         {% include 'modules/events/events/event_location', item: event, show_address: true, is_bold_name: true, is_print: true %}
                    </div>
                    <div class="spacer"></div>
                    <a href="https://www.google.com/maps?q={{ event.venue_name | url_encode }}&ll={{ event.venue_geojson.coordinates[1] }},{{ event.venue_geojson.coordinates[0] }}" target="_blank" rel="noopener noreferrer" aria-label="Get directions (opens in new tab)">
                         <ins-button label="Get directions" icon="icon-navigation" outlined aria-hidden="true"></ins-button>
                    </a>
               {% endif %}
               <div class="spacer xxx-large"></div>

               {% comment %} About the event {% endcomment %}
               {% if event.long_description.size > 0 %}
                    <h2 class="heading-2-xsmall">About the event</h2>
                    <div class="spacer"></div>
                    <div class="about-event">
                         {{ event.long_description }}
                    </div>               
                    <div class="spacer xxx-large"></div>   
               {% endif %}         

          </div>
          {% comment %} Second Column {% endcomment %}
          <div class="large-5 medium-5 small-0 col-2">
               {% if context.params.slug == 'upcoming-events' %}
                    {% include 'modules/events/events/get_tickets_card', event_url: event_url %}
               {% endif %}
          </div>
     </div>
     
</section>

{% comment %} Google Maps {% endcomment %}
{% if event.event_type != 'online_event' %}
     {% include 'modules/website/layout/googlemaps' %}
     <script id="map-data" type="application/json">
     {
          "lng": {{ event.venue_geojson.coordinates[0] | default: 0 }},
          "lat": {{ event.venue_geojson.coordinates[1] | default: 0 }},
          "location_name": "{{ event.venue_name }}",
          "map_id": "{{ context.constants.GOOGLE_MAPS_MAP_ID }}"
     }
     </script>
     {% if context.environment == "staging" %}
          <script src="{{ 'modules/events/scripts/event-map.js' | asset_url }}" defer></script>
     {% else %}
          <script src="{{ 'modules/events/scripts/event-map.min.js' | asset_url }}" defer></script>
     {% endif %}
{% endif %}