---
slug: confirmation
layout: modules/ecommerce/checkout-layout
searchable: false
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Checkout - Order Successful",
    "page_title": "Checkout - Order Successful",
    "meta_title": "Checkout - Order Successful"       
}
authorization_policies:
    - modules/ecommerce/order_created_date_valid
---
{% assign order_uuid = context.params.id %}
{% if order_uuid != blank %}
    {% graphql order = "modules/ecommerce/orders/get_order_details", 
        uuid: order_uuid, is_shipping_info_needed: true | dig: 'items' | dig: 'results' | first %}
{% endif %}

{% liquid
    assign billing_account_name = order.billing_contact_first_name | append: ' ' | append: order.billing_contact_last_name 
    assign shipping_phone_data = "{}" | parse_json
    assign account_phone_data = "{}" | parse_json

    # Fetch current user data
    function has_profile = "modules/website/layout/check_if_user_has_profile"
    graphql current_user = 'modules/ecommerce/account/get_current_user' | dig: 'current_user'

    if has_profile
        assign account_contact = current_user | dig: 'crm_contact' | first

        # Assign account details
        assign company_uuid = account_contact.company_uuid | default: null
        assign account_name = current_user.first_name | append: ' ' | append: current_user.last_name
        assign account_email = current_user.email

        assign account_phone_data = account_phone_data | add_hash_key: 'account_phone', true
        assign account_phone_data = account_phone_data | add_hash_key: 'country_code', account_contact.mobile_phone_country_code
        assign account_phone_data = account_phone_data | add_hash_key: 'phone_number', account_contact.mobile_phone_number

        include 'modules/ecommerce/checkout/phone_format', data: account_phone_data

        # Fetch company details if company UUID is available
        if company_uuid
            graphql company = "modules/ecommerce/companies/get_company", uuid: company_uuid | dig: 'items', 'results' | first
            if company
                assign account_company_name = company.company_name
            endif
        endif
    else 
        include 'modules/ecommerce/checkout/clear_local_storage' 
        include 'modules/ecommerce/checkout/clear_session'
        
        # Guest: Fetch billing contact number
        if order.billing_contact_phone_number 
            assign account_phone_data = account_phone_data | add_hash_key: 'account_phone', true
            assign account_phone_data = account_phone_data | add_hash_key: 'country_code', order.billing_contact_phone_country_code
            assign account_phone_data = account_phone_data | add_hash_key: 'phone_number', order.billing_contact_phone_number

            include 'modules/ecommerce/checkout/phone_format', data: account_phone_data
        endif
    endif

    if order.shipping_contact_phone_number 
        assign shipping_phone_data = shipping_phone_data | add_hash_key: 'shipping_phone', true
        assign shipping_phone_data = shipping_phone_data | add_hash_key: 'country_code', order.shipping_contact_phone_country_code
        assign shipping_phone_data = shipping_phone_data | add_hash_key: 'phone_number', order.shipping_contact_phone_number
        include 'modules/ecommerce/checkout/phone_format', data: shipping_phone_data
    endif 
%}


{%- if order -%}

    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell text-center">
            <h1 class="heading-1">We've received your order</h1>
            <div class="spacer small"></div> 
            <p class="body-large">Your order has been received with order number <strong>{{ order.id }}-{{ order.order_reference }}</strong></p>
        </div>
    </div>
    <div class="spacer xxxx-large"></div>

    <div class="grid-x grid-padding-x confirmation__wrapper">
        <div class="large-7 medium-6 small-12 cell">
            <h2 class="heading-2">Order Details</h2>
            <div class="spacer xx-large"></div>

            <div class="grid-x grid-padding-x">

                {% if has_profile %}
                    {% comment %} Account Details {% endcomment %}
                    <div class="large-5 medium-12 small-12 cell">
                        <h3 class="heading-3">Account Details</h3>
                        <div class="spacer small"></div>
                        <p class="font-cabin">{{ account_company_name | default: order.billing_company_name }}</p>
                        <p class="font-cabin">{{ account_name | default: order.billing_account_name }}</p>
                        <p class="font-cabin">{{ account_email | default: order.billing_contact_email  }}</p>
                        <p class="font-cabin">{{ context.exports.formatted_account_mobile_phone | default: 'N/A' }}</p>
                        <div class="spacer xx-large"></div>
                    </div>
                {% endif %}

                {% comment %} Shipping Details {% endcomment %}                
                <div class="{% if has_profile %}large-offset-1{% endif %} large-5 medium-12 small-12 cell">
                    <h3 class="heading-3">Shipping Details</h3>
                    <div class="spacer small"></div>
                        {%- assign shipping_address = "" -%}
                        {%- if order.shipping_address_1 and order.shipping_address_1 != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_address_1 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.shipping_address_2 and order.shipping_address_2 != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_address_2 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.shipping_address_3 and order.shipping_address_3 != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_address_3 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.shipping_suburb and order.shipping_suburb != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_suburb | append : ", " -%}
                        {%- endif -%}
                        {%- if order.shipping_state and order.shipping_state != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_state | append : " " -%}
                        {%- endif -%}
                        {%- if order.shipping_postcode and order.shipping_postcode != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_postcode | append : ", " -%}
                        {%- endif -%}
                        {%- if order.shipping_country and order.shipping_country != '' -%}
                            {%- assign shipping_address = shipping_address | append: order.shipping_country | append : " " -%}
                        {%- endif -%}
                    {%- if order.shipping_company_name -%}
                    <p class="font-cabin">{{ order.shipping_company_name }}</p>
                    {%- endif -%}
                    <p class="font-cabin">{{ order.shipping_contact_first_name | append: ' ' | append: order.shipping_contact_last_name }}</p>
                    <p class="font-cabin">{{ order.shipping_contact_email }}</p>
                    <p class="font-cabin">{{ context.exports.formatted_shipping_mobile_phone | default: 'N/A' }}</p>
                    <p class="font-cabin">{{ shipping_address }}</p>
                    <div class="spacer xx-large"></div>
                </div>

                {% comment %} Billing Details {% endcomment %}
                <div class="large-5 medium-12 small-12 cell {% unless has_profile %}large-offset-1{% endunless %}">
                    <h3 class="heading-3">Billing Details</h3>
                    <div class="spacer small"></div>
                    {%- assign billing_address = "" -%}
                        {%- if order.billing_address_1 and order.billing_address_1 != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_address_1 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.billing_address_2 and order.billing_address_2 != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_address_2 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.billing_address_3 and order.billing_address_3 != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_address_3 | append : ", " -%}
                        {%- endif -%}
                        {%- if order.billing_suburb and order.billing_suburb != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_suburb | append : ", " -%}
                        {%- endif -%}
                        {%- if order.billing_state and order.billing_state != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_state | append : " " -%}
                        {%- endif -%}
                        {%- if order.billing_postcode and order.billing_postcode != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_postcode | append : ", " -%}
                        {%- endif -%}
                        {%- if order.billing_country and order.billing_country != '' -%}
                            {%- assign billing_address = billing_address | append: order.billing_country | append : " " -%}
                        {%- endif -%}
                    <p class="font-cabin">{{ billing_address }}</p>
                    <div class="spacer xx-large"></div>
                </div>

                {% comment %} Payment Details {% endcomment %}
                
                <div class="{% if has_profile %}large-offset-1{% endif %} large-5 medium-12 small-12 cell">
                    <h3 class="heading-3">Payment Details</h3>
                    <div class="spacer small"></div>
                    <p class="font-cabin">{{ order.payment.card_brand | upcase }} **** **** **** {{ order.payment.card_last_four_digits }}</p>
                    {%- assign month = order.payment.card_expiry_month -%}
                    {%- if order.payment.card_expiry_month.size < 2 -%}
                        {%- assign month = "0" | append: order.payment.card_expiry_month -%}
                    {%- endif -%}
                    <p class="font-cabin">{{ month }} / {{ order.payment.card_expiry_year }}</p>
                    <div class="spacer xx-large"></div>
                </div>
                                              

            </div>
        </div>
        <div class="large-4 large-offset-1 medium-6 small-12 cell">        
            {% include 'modules/ecommerce/layout/order_summary', 
                show_product: true, is_ordered_items: true,
                order_uuid: context.params.id %}
        </div>
    </div>

    {% include 'modules/ecommerce/checkout/clear_session' %}
    
{%- else -%}
    {% include 'modules/ecommerce/checkout/clear_session' %}
    {%- redirect_to '/shopping-cart' -%}
{%- endif -%}