---
name: add_to_cart
resource:  modules/insites_ecommerce/insites_cart
resource_owner: anyone
flash_alert: Fail-AddCart
flash_notice: Success-AddCart
fields:
  properties:
    ## session_id, crm_id
    user_id:
    quantity:
    order_id:
    status:
    product_id:
    product_name:
    product_sku:
    product_variant:
    product_variant_id:
    product_variant_sku:
    product_price:
    tax_amount:
    shipping_amount:

    redirect:
      property_options:
        virtual: true
default_payload: |-
  {
    "properties_attributes":{
        "status": "Cart"
    }
  }
callback_actions: >
  {% include 'modules/ins_template_ecommerce/shop/update_cart' %}

  {% comment %} Check & Update Cart Discount Codes {% endcomment %}
  {% graphql discount_codes = "modules/ins_template_ecommerce/discount_code/get_cart_discount_codes" 
        user_id: form.properties.user_id,
        discount_debited: false
        | dig: 'items' | dig: 'results' %}

  {%- for item in discount_codes -%}
    {%- assign code = item.discount_code.properties -%}
    {% parse_json payload %}
    {
        "check_duplicates": false,
        "form_update": true,
        "form_delete": true,
        "form_id": "{{ item.id }}",
        "user_id": "{{ form.properties.user_id }}",
        "discount_code": "{{ code.discount_code }}"
    }
    {% endparse_json %}
    {% function validate_code = "modules/ins_template_ecommerce/checkout/validate_discount_code"
        payload: payload %}
  {%- endfor -%}
---

{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- if user -%}
{%- assign user_id = user.id -%}
{%- else -%}
{%- assign user_id = context.session.session_id -%}
{%- endif -%}
{%- comment -%}
{{ context | json }}

<hr>
{{ product_info | json }}
{%- endcomment -%}

{%- if product_info.properties.variant_enabled == false -%}

{%- if product_info.properties.on_sale -%}
{%- assign prod_price = product_info.properties.sale_price | times: 100  | default: 0 -%}
{%- else -%}
{%- assign prod_price = product_info.properties.regular_price | times: 100  | default: 0 -%}
{%- endif -%}


{%- assign tmptax = product_info.properties.tax | divided_by: 100.0 -%}
{%- assign tmptax_amount = prod_price | times: tmptax -%}
{%- assign tax_amount = prod_price | times: tax | times: 100 | advanced_format: '%.0f' -%}

{%- endif -%}



{%- form 
    html-id: "add-to-cart-form"
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return productDetail.methods.validateForm(event);" -%}
    
    
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell hide">
            <ins-input validate
                id="prod-det-user"
                field="hidden"
                name="{{ form.fields.properties.user_id.name }}" 
                value="{{ user_id }}" >
            </ins-input>
            <input type="hidden" id="prod-det-quantity" name="{{ form.fields.properties.quantity.name }}" value="{{ form.fields.properties.quantity.value | default: 1 }}">
            <input type="hidden" id="prod-det-status" name="{{ form.fields.properties.status.name }}" value="{{ form.fields.properties.status.value}}">

            <ins-input validate
                id="prod-det-id"
                field="hidden"
                name="{{ form.fields.properties.product_id.name }}" 
                value="{{ product_info.id }}" >
            </ins-input>
            <input type="hidden" id="prod-det-name" name="{{ form.fields.properties.product_name.name }}" value="{{ product_info.properties.name }}">
            <input type="hidden" id="prod-det-sku" name="{{ form.fields.properties.product_sku.name }}" value="{{ product_info.properties.sku }}">

            {%- if product_info.properties.variant_enabled -%}
            <ins-input validate
                id="prod-det-variant-id"
                field="hidden"
                name="{{ form.fields.properties.product_variant_id.name }}" 
                value="{{ form.fields.properties.product_variant_id.value }}" >
            </ins-input>
            {%- else -%}
            <input type="hidden" id="prod-det-variant-id" name="{{ form.fields.properties.product_variant_id.name }}" value="{{ form.fields.properties.product_variant.value}}">
            {%- endif -%}
            <input type="hidden" id="prod-det-variant" name="{{ form.fields.properties.product_variant.name }}" value="{{ form.fields.properties.product_variant.value}}">
            <input type="hidden" id="prod-det-variant-sku" name="{{ form.fields.properties.product_variant_sku.name }}" value="{{ form.fields.properties.product_variant.value}}">

            <input type="hidden" id="prod-det-price" name="{{ form.fields.properties.product_price.name }}" value="{{ prod_price }}">
            <input type="hidden" id="prod-det-tax" name="{{ form.fields.properties.tax_amount.name }}" value="{{ tmptax_amount }}">
            <input type="hidden" id="prod-det-ship-amount" name="{{ form.fields.properties.shipping_amount.name }}" value="{{ form.fields.properties.shipping_amount.value}}">
            <input type="hidden" id="prod-det-order-id" name="{{ form.fields.properties.order_id.name }}" value="{{ form.fields.properties.order_id.value}}">

            <input type="hidden" id="redirect-input" name="redirect_to" value="{{ context.location.href }}">
            
        </div>
        <div class="small-12 cell">
          <ins-button id="buy-now-btn" label="BUY NOW" solid class="full" color="blue" type="submit" size="large"></ins-button>
        </div>
        <div class="small-12 cell spacer"></div>
        <div class="small-12 cell">
          <ins-button id="add-to-cart-btn" label="ADD TO CART" outlined class="full button-large" color="blue" type="submit" size="large"></ins-button>
        </div>


    </div>

{%- endform -%}