---
name: notify_out_of_stock
resource: modules/ins_template_ecommerce/notify_out_of_stock
resource_owner: anyone
flash_alert: Error-OutStockNotify
flash_notice: Success-OutStockNotify
fields:
  properties:
    email:
      validation: 
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address
    product_id:
    product_name:
    product_sku:
    product_variant:
email_notifications:
    - modules/ins_template_ecommerce/out_of_stock_inquire_email
    - modules/ins_template_ecommerce/out_of_stock_workflow
#    - modules/insites_core/insites_internal_email
---

{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- form 
    html-id: "out-of-stock-form"
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return productDetail.methods.validateForm(event);" -%}
    
    <div class="grid-x">
        <div class="small-12 cell">
            <ins-input validate
                id="email"
                label="Email Address"
                field="email"
                name="{{ form.fields.properties.email.name }}" 
                value="{{ form.fields.properties.email.value }}" 
                {% if form.errors['email'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.email.validation.rules.presence.message }}"
                placeholder="Email Address">
            </ins-input>
            
            <input type="hidden" id="prod-id" name="{{ form.fields.properties.product_id.name }}" value="{{ product_info.id }}">
            <input type="hidden" id="prod-name" name="{{ form.fields.properties.product_name.name }}" value="{{ product_info.properties.name }}">
            <input type="hidden" id="prod-sku" name="{{ form.fields.properties.product_sku.name }}" value="{{ product_info.properties.sku }}">
            <input type="hidden" id="prod-variant" name="{{ form.fields.properties.product_variant.name }}" value="">

            <input type="hidden" id="redirect-inp" name="redirect_to" value="/thank-you">

        </div>
        <div class="small-12 cell">
            <div class="spacer x-large"></div>
            <ins-button id="notify-me-btn" class="full" label="NOTIFY ME" solid color="blue" type="submit" size="large"></ins-button>
        </div>
    </div>


{%- endform -%}