---
name: checkout_billing_address_guest
resource: modules/insites_core/crm_address
resource_owner: anyone
redirect_to: checkout/payment
flash_alert: "Error-UserAddressBilling"
flash_notice: "Success-UserAddressBilling"
fields:
  properties:
    uuid:
    related_uuid:
    related_type: 
      property_options:
        default: "contact"
    address_1:
    address_2:
    suburb:
    state:
    postcode:
    country:     
    billing_same_with_shipping:
      property_options:
        virtual: true   
    billing_company_name:
      property_options:
        virtual: true
    billing_contact_first_name:
      property_options:
        virtual: true
    billing_contact_last_name:
      property_options:
        virtual: true
    billing_contact_email:
      property_options:
        virtual: true
    billing_contact_phone_number:
      property_options:
        virtual: true
    billing_contact_phone_country_code:
      property_options:
        virtual: true
    
callback_actions: |-    

  {%- session billing_address_id = form.id -%}
  {%- session latest_step = 4 -%}

---

{% assign prop = form.fields.properties %}

{%- form 
  html-id: "billing-address-form"
  html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return Checkout.events.billingSubmit(event);" -%}  

    {% unless context.session.billing_address_id %}
      <input type="hidden" name="{{ prop.uuid.name }}" value="{{ '' | uuid }}" >
      <input type="hidden" name="{{ prop.related_uuid.name }}" value="{{ context.session.guest_uuid }}" >
    {% endunless %}  

    {% include 'modules/ecommerce/checkout/checkout_billing_contacts', prop %}

    <div class="spacer large"></div>
    <div class="grid-x">        
      <h4>Billing address</h4>
    </div>
    <div class="spacer x-large"></div> 

    {% comment %} Search address {% endcomment %}
    <div id="billing-address-fields" class="address-fields" >
      <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
          <ins-input address-lookup label="Search Address" 
            id="billing-address-search" name="billing"
            placeholder="Search Address" icon="icon-map-pin">
          </ins-input>            
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input required validate 
            label="Address 1*" 
            id="billing_address_1"
            placeholder="Address 1" 
            name="{{ prop.address_1.name }}"
            value="{{ context.session.billing_address_1 }}"
            error-message="Address 1 is required.">
          </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input  
            label="Address 2" 
            id="billing_address_2" 
            placeholder="Address 2"
            name="{{ prop.address_2.name }}"
            value="{{ context.session.billing_address_2 }}">
          </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input validate
            label="Suburb*" 
            id="billing_suburb" 
            placeholder="Suburb"
            name="{{ prop.suburb.name }}"
            value="{{ context.session.billing_suburb }}"
            error-message="Suburb is required.">
          </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input required validate 
            label="State*" 
            id="billing_state" 
            placeholder="State"
            name="{{ prop.state.name }}"
            value="{{ context.session.billing_state }}"
            error-message="State is required.">
          </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input  required validate 
            label="Postcode*" 
            id="billing_postcode"
            placeholder="Postcode" 
            name="{{ prop.postcode.name }}"
            value="{{ context.session.billing_postcode }}"
            error-message="Postcode is required.">
          </ins-input>
        </div>
        <div class="large-6 medium-6 small-12 cell">
          <ins-input  required validate 
            label="Country*" 
            id="billing_country"
            placeholder="Country" 
            name="{{ prop.country.name }}"
            value="{{ context.session.billing_country }}"
            error-message="Country is required.">
          </ins-input>
        </div>
      </div>
    </div>
    
    <div class="spacer xx-small"></div>       

   {% comment %} Buttons {% endcomment %}
   {% include 'modules/ecommerce/checkout/checkout_billing_buttons' %} 

{%- endform -%}