<ins-filter label="Filter:" class="form-label-large ins_filter_custom industry_filter">
    <ins-filter-item
        name="Category"
        id="select-event-category"
        selected="{{ data_event_category }}"
        options='["All","Upcoming","Previous"]'>
    </ins-filter-item>
    <ins-filter-item
        name="Location"
        id="select-event-location"
        selected="{{ data_event_location }}"
        options='{{ data_filter_location_value | split: ","}}'>
    </ins-filter-item>
    <ins-filter-item
        name="Meeting"
        id="select-event-meeting"
        selected="{{ data_event_meeting }}"
        options='["All","Venue","To be announced","Online event"]'>
    </ins-filter-item>
    <ins-filter-item
        name="Sort By"
        id="select-event-sort"
        selected="{{ data_event_sort }}"
        options='["Earliest to Latest", "Latest to Earliest"]'>
    </ins-filter-item>
</ins-filter>
<div class="spacer xxx-large"></div>