---
metadata: {
    partial_name: 'Ecommerce | Client Portal | Order History Tabs'
}
---
<div>
    <div class="spacer x-large show-for-small-only"></div>
    <a href="/order-history">
        <ins-button label="Go back" icon="icon-arrow-back" class="inline"></ins-button>
    </a>
</div>
<div class="spacer xxx-large"></div>

{%  liquid

  graphql order = "modules/ecommerce/orders/get_order_details", id: context.params.slug2, is_shipping_info_needed: true | dig: 'items','results' | first

  function localisation_date_format = 'modules/ecommerce/localisation/get_localisation'
  if localisation_date_format == 'DD/MM/YYYY'
    assign date_time = order.date_time | date: '%d/%m/%Y'
  else
    assign date_time = order.date_time | date: '%m/%d/%Y'
  endif

  comment
    Get products info 
  endcomment
  if order.uuid
    graphql ordered_items = 'modules/ecommerce/order_items/get_order_items', order_uuid: order.uuid, is_product_info_needed: true  | dig: 'items','results'
  else 
    redirect_to '/404'
  endif

%}



{% assign reorder_items = '' | split: ',' %}

{% for item in ordered_items %}
  {% liquid
      if item.sku == item.product.sku
        assign selected_prop = item.product
      else 
        for variant in item.product.variants
          if item.sku == variant.sku
            assign selected_prop = variant
            assign is_variant = true
          endif
        endfor
      endif

      if selected_prop.is_on_sale == true 
          assign price = selected_prop.sale_price
      else 
          assign price = selected_prop.regular_price
      endif
  %}       

  {% parse_json reorder_data %}
  {
      "id": "{{ selected_prop.id }}",
      "product_uuid": "{{ item.product_uuid }}",
      "product_sku": "{{ item.sku }}",
      "product_name": "{{ item.product.product_name }}",
      "price": "{{ price | default: 0 }}",
      "quantity": "{{ item.quantity | default: 1 }}"
  }
  {% endparse_json %}
  {% assign reorder_items = reorder_items | array_add: reorder_data %}

{% endfor %}


<div class="grid-x">
  <div class="grid-y large-7 medium-12 small-12">
    <h1 class="heading-1">Order number: {{ context.params.slug2 }}</h1>
    <div class="spacer small"></div>
    <p><span class="font-color-head bold">Date ordered:</span> {{ date_time }}</p>
  </div>  

  <div class="spacer hide-for-large cell"></div>

  <div class="large-5 medium-12 small-12 text-right">
      <ins-button label="Re-order" id="reorder-btn" class="reorder-btn" data='{{ reorder_items }}' icon="icon-shopping-cart" outlined ></ins-button>

      <div class="spacer x-small hide-for-large cell"></div>

      {% comment %} Downloads {% endcomment %}
      {% comment %} Uncomment the code below to enable 'Downloads' {% endcomment %}
      {% comment %}  
      <ins-dropdown 
        id="downloads-dropdown"     
        class="button-large"
        lined   
        label="More">
        <ins-dropdown-item
          label="Download Invoice" 
          link="#">
        </ins-dropdown-item>
        <ins-dropdown-item
          label="Download Proof of Delivery" 
          link="#">
        </ins-dropdown-item>
      </ins-dropdown>
      {% endcomment %}
  </div>
</div>
<div class="spacer xxx-large"></div>

<ins-tab id="order-tab">

  <ins-tab-item label="Order details" >
    {% include 'modules/ecommerce/client_portal/orders/order_history_detail', order %}
  </ins-tab-item>
    
  <ins-tab-item label="Order summary">
    {% include 'modules/ecommerce/client_portal/orders/order_history_summary', order, ordered_items %}
  </ins-tab-item>

</ins-tab>


{% comment %} Reorder - Cart {% endcomment %}
<script>
  const reorderBtn = document.getElementById("reorder-btn");
  reorderBtn.addEventListener('insClick', async event => {   
    reorderBtn.loading = true;
    await addToCartPreProcess(event, 'reorder');
  });
</script>