---
name: create_password
resource: User
resource_owner: anyone
redirect_to: /create-password
flash_alert: Error-UserPassword
flash_notice: Success-UserPassword
fields:
  password:
    validation:
      confirmation: true
      presence:
        message: Password is required
  password_confirmation:
    validation: 
      presence:
        message: Password should match
    property_options:
      virtual: true
---

{%- form 
  html-id: "create-password-form"
  html-novalidate: true
  html-onsubmit:"return validateForm(event);" -%}

  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">       
      <ins-input validate
      id="password"
      label="Password"
      field="password"
      name="{{ form.fields.password.name }}" 
      value="{{ form.fields.password.value }}" 
      {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
      {% if errmatch %}
      error-message="Password doesn't match." 
      {% else %}
      error-message="Invalid password" 
      {% endif %}
      placeholder="Password">
    </ins-input>
    </div>
    <div class="small-12 cell spacer"></div>
    <div class="small-12 cell">
      <ins-input validate
        id="password_confirmation"
        label="Confirm Password"
        field="password"
        name="{{ form.fields.password_confirmation.name }}" 
        value="{{ form.fields.password_confirmation.value }}" 
        {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
        {% if errmatch %}
        error-message="Password doesn't match" 
        {% else %}
        error-message="Invalid password" 
        {% endif %}
        placeholder="Confirm Password">
    </ins-input>
    </div>
    <div class="small-12 cell spacer x-large"></div>
    <div class="small-12 cell text-center">
      <ins-button id="submit-btn" class="full" label="Create my password" solid color="blue" type="submit" ></ins-button>
    </div>
    <div class="small-12 cell spacer x-large"></div>
  </div>    

{%- endform -%}


{%- if context.environment == "staging" -%}
  <script src="{{ 'modules/portal/scripts/user-profile.js' | asset_url }}"></script>
{%- else -%}
  <script src="{{ 'modules/portal/scripts/user-profile.min.js' | asset_url }}"></script>
{%- endif -%}  

<script>
  async function validateForm(event) {
    event.preventDefault();
    const formElem = document.getElementById("create-password-form");
    const submitBtn = document.getElementById("submit-btn");
    submitBtn.loading = true;

    if (await UserProfileScript.methods.validationForm(formElem)) {      
      formElem.submit();
      submitBtn.loading = false;
    } else {
      submitBtn.loading = false;
      return false;
    }    
  }
</script>