---
name: apply_discount_code
resource: modules/insites_ecommerce/insites_cart_discount_codes
resource_owner: anyone
redirect_to: > 
    {{ context.params.slug }}
fields:
    properties:
        user_id:
        temp_discount_code:
            property_options:
                virtual: true
            validation:
                presence: true
callback_actions: >
    {%- parse_json payload -%}
    {
        "check_duplicates": true,
        "form_update": true,
        "form_delete": true,
        "form_id": "{{ form.id }}",
        "user_id": "{{ form.properties.user_id }}",
        "discount_code": "{{ form.properties.temp_discount_code }}"
    }
    {%- endparse_json -%}
    {% include "modules/ins_template_ecommerce/checkout/validate_discount_code" 
        payload: payload %}
---

{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- if user -%}
    {%- assign user_id = user.id -%}
{%- else -%}
    {%- assign user_id = context.session.session_id -%}
{%- endif -%}

<ins-accordion>
    <ins-accordion-item 
        class="discount-code-form"
        heading="Have a Discount Code?" 
        open-icon="icon-plus"
        close-icon="icon-minus">
        
        <div>
            {% form 
                html-id: "apply-discount-code" 
                html-novalidate: true 
                html-onsubmit:"return shoppingCart.methods.validateDiscountCode(event);" %}

                <input type="hidden" 
                    id="user-id-input"
                    name="{{ form.fields.properties.user_id.name }}"
                    value="{{ user_id }}" />
                <ins-input required validate
                    id="discount-code-input"
                    error-message="Discount Code is required"
                    label=""
                    placeholder="Discount Code"
                    name="{{ form.fields.properties.temp_discount_code.name }}">
                </ins-input>
                <div class="text-right btn-container">
                    <ins-button 
                        size="small"
                        id="apply-discount-btn"
                        label="Apply Discount Code"
                        type="submit">
                    </ins-button>
                </div>
            {% endform %}
        </div>

    </ins-accordion-item>
</ins-accordion>
