{%- comment -%}
By adding the global content to the top of the layout
It can be accessed in the includes without calling the GraphQL again
It IS NOT accessable in {{content_for_layout}} which includes the specific page
{%- endcomment -%}
{%- include "modules/insites_cms/globals" -%}
{%- assign global = context.exports.global -%}

{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{%- include "modules/website/cache/layout_fragment_cache_key" -%}

<!doctype html>
<html class="no-js" lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <meta content="authenticity_token" name="csrf-param">
    <meta content="{{ context.authenticity_token }}" name="csrf-token">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%- comment -%}
    <!--
    Try to limit assets that are part of the head / technical head to minimize page size & improve page performance.
    Assets like 'Google Map API', should only be referenced as needed.
    -->
    {%- endcomment -%}

    <!-- [Preload] -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" as="style">
    <link rel="preload" href="https://components.insites.io/latest/css/insites-font-icons.css" as="style">
    <link rel="preload" href="https://components.insites.io/latest/css/insites.css" as="style">
    <link rel="preload" href="{{ 'modules/website/styles/vendor/foundation.min.css' | asset_url }}" as="style">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" as="style">


    {%- include 'modules/insites_cms/seo' -%}
    
    <link rel="shortcut icon" type="image/png" href="{{ global.company_icon }}">
    

    <!-- [Vendor Assets] -->
    <link rel="stylesheet" href="{{ 'modules/website/styles/vendor/foundation.min.css' | asset_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <!-- [Insites Assets] -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" >
    <!-- Font Icons -->
    <link rel="stylesheet" href="https://components.insites.io/latest/css/insites-font-icons.css">
    <!-- Components -->
    {%- assign ins_version = 'https://components.insites.io/v2/latest/' -%}
    <link rel="stylesheet" href="{{ ins_version | append: 'css/insites.css' }}" >
    <script type="module" src="{{ ins_version | append: 'insites.esm.js' }}"></script>
    <script nomodule src="{{ ins_version | append: 'insites.js' }}" defer></script>
    

    <!-- [Project Assets] -->
    {% include 'modules/website/layout/technical_head' %}
    
    <!--[Pixel Tracking]-->
    {% include 'modules/website/layout/pixel_tracking' %}
    
    <!-- [Google Maps] -->
    {% include 'modules/website/layout/googlemaps' %}
</head>
<body>
    <div class="main-wrap">
        {% include 'modules/website/layout/header' %}
        <div class="wrapper">
            <div class="grid-container">
                <div class="spacer xxxx-large"></div>
                    {{ content_for_layout }}
                <div class="spacer xxxx-large"></div>
            </div>
        </div>
    </div>
    
    {% include 'modules/ecommerce/carts/cart_drawer' %}

    {% include 'modules/website/layout/header_mobile_default' %}

    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%}
    {% include 'modules/website/layout/footer' %}
    {%- endcache -%}

    {% include 'modules/website/layout/foot' %}

    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ecommerce/scripts/checkout/checkout-steps.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/checkout/address-lookup.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/checkout/checkout.js' | asset_url }}"></script>
    {%- else -%}
        <script src="{{ 'modules/ecommerce/scripts/checkout/checkout-steps.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/checkout/address-lookup.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/checkout/checkout.min.js' | asset_url }}"></script>
    {%- endif -%}

    {% comment %} Services {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ecommerce/services/apiServices.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/services/stripeServices.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/shopping-cart.js' | asset_url }}"></script>
    {%- else -%}
        <script src="{{ 'modules/ecommerce/services/apiServices.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/services/stripeServices.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ecommerce/scripts/shopping-cart.min.js' | asset_url }}"></script>
    {%- endif -%}

    {% comment %} Get cart from local storage {% endcomment %}
    {% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
    <div>
    <hr>
    context.current_user = {{context.current_user}}
    <hr>
    context.params.is_new_user = {{context.params.is_new_user}}
    <hr>
    </div>
    {%- if has_profile == false or context.params.is_new_user == 'true'  -%}
        <script>var is_new_user = {{ context.params.is_new_user | default: false }};</script>
        {%- if context.environment == "staging" -%}
            <script src="{{ 'modules/ecommerce/scripts/cart-items-from-local-storage.js' | asset_url }}"></script>
        {%- else -%}
            <script src="{{ 'modules/ecommerce/scripts/cart-items-from-local-storage.min.js' | asset_url }}"></script>
        {%- endif -%}
    {%- endif -%}
    
</body>

</html>