---
metadata: {
    partial_name: 'Ecommerce | Products | Detail'
}
---
{%- graphql product = 'modules/ecommerce/products/get_product', 
    slug: context.params.slug2 | dig: 'items','results' | first -%}
    
{% liquid

    ## Galleries
    assign galleries = '' | split: ','    
    assign gallery_indexes = '{}' | parse_json 
    assign index = 0
    if product.gallery_1.size > 0
        for gallery in product.gallery_1
            assign galleries = galleries | array_add: gallery.file.url
            assign gallery_indexes = gallery_indexes | add_hash_key: variant.id, index
            assign index = index | plus: 1
        endfor
    elsif product.product_image.url
        assign galleries = galleries | array_add: product.product_image.url    
        assign gallery_indexes = gallery_indexes | add_hash_key: variant.id, index  
        assign index = index | plus: 1
    endif


    if product.is_product_variant_enabled
        assign selected_prop = product.variants[0] 
        assign variant_id = selected_prop.id
        assign variant_uuid = selected_prop.uuid        
         
        ## Variant Galleries        
        for variant in product.variants
            assign galleries = galleries | array_add: variant.product_image.url
            assign gallery_indexes = gallery_indexes | add_hash_key: variant.id, index
            assign index = index | plus: 1
        endfor
    else 
        assign selected_prop = product    
        assign variant_id = null
        assign variant_uuid = null    
    endif

    if selected_prop.is_on_sale == true 
        assign price = selected_prop.sale_price
        assign price_strikethrough = selected_prop.regular_price
    else 
        assign price = selected_prop.regular_price
        assign price_strikethrough = ''
    endif

    assign variants = '[]'
    
%}


<ins-button label="Go back" icon="icon-angle-left" class="inline go-back" onclick=window.history.back();></ins-button>
<div class="spacer"></div>

<div class="product-detail grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">                
        <div class="gallery">   

            {% comment %} On sale {% endcomment %}
            <div id="on-sale-tag" class="on-sale-tag {% unless selected_prop.is_on_sale == true %}hide{% endunless %}">ON SALE</div>


            {% comment %} Out of Stock {% endcomment %}
            {%  liquid 
                assign btnLabel = 'Pre-order'
                if product.is_product_variant_enabled 
                    ## Initially hide the out-of-stock overlay when a variant is enabled
                    assign hideOutOfStock = 'hide'
                    assign btnLabel = 'Buy now'
                elsif product.stock_level > 0
                    assign hideOutOfStock = 'hide'
                    assign btnLabel = 'Buy now'
                else
                    assign hideOutOfStock = ''
                endif
            %}
            <div id="out-of-stock-overlay" class="out-of-stock {{hideOutOfStock}}"></div>

            {% comment %} Use gallery or product_image {% endcomment %}
            {%- if galleries.size > 0 -%}                  
                <div class="main-gallery variant-gallery">                       
                    <ins-gallery 
                        with-indicator 
                        slidable 
                        thumbnail-layout="slider"
                        id="product-galleries">
                        {%- for gallery in galleries -%}
                            <ins-gallery-image
                                thumbnail="{{ gallery }}"
                                image="{{ gallery }}">
                            </ins-gallery-image>
                        {%- endfor -%}
                    </ins-gallery>
                </div>
            {%- else -%}
                {%- include 'modules/website/layout/placeholder_image', size: 'large' -%}
            {%- endif -%}
        </div>
        <div class="spacer xx-large hide-for-small-only"></div>
        <div class="show-for-large">
            {%- if product.long_description != blank -%}
            <h4>Key features</h4>
            <div class="spacer"></div>
            <div class="body description">                
                {{ product.long_description  | html_safe }}
            </div>
            {%- endif -%}
        </div>
    </div>

    <div class="large-4 medium-12 small-12 large-offset-1 cell">
        <div class="hide-for-large spacer x-large"></div>

        <div class="grid-y grid-padding-y product-details-column-2">
            {% comment %} Text heading {% endcomment %}
            <div>
                <h1 class="heading-1">{{ product.product_name }}</h1>                
                <p>SKU: <span id="product-sku">{% if product.is_product_variant_enabled != true %}{{ product.sku }}{% endif %}</span></p>
            </div>
            
            {% comment %} Price {% endcomment %}
            <div>                                                
                <h5 id="product-price" class="heading-5-small">{{ price | pricify: 'USD', no_cents_if_whole: false }}</h5>
                {% if price_strikethrough != '' %}
                <p id="regular-product-price" class="strikethrough">{{ price_strikethrough | pricify: 'USD', no_cents_if_whole: false }}</p>
                {% endif %}
            </div>

            {% comment %} Description {% endcomment %}
            {% if product.short_description %}
            <div>
                <p>{{ product.short_description }}</p>
            </div>
            {% endif %}
                    
            <div id="out-of-stock-notice" class="out-of-stock-notice {{ hideOutOfStock }}">    
                <p class="bold">Sorry, this product is currently out of stock.</p>                         
                <p>You can secure yours by placing a pre-order now! We will notify you when your pre-order becomes available for delivery.</p>            
            </div>

            {% comment %} Variants {% endcomment %}
            {%- if product.is_product_variant_enabled -%} 
                <div class="grid-y">
                    <div class="small-12 cell">
                        
                        {% comment %} Get variant info {% endcomment %}
                        {% assign variants = '' | split: ',' %}
                        {%- for variant in product.variants -%}
                            {%  liquid 
                                ## Convert an array of strings into an array of objects
                                assign item_obj = '' | split: ',' 
                                for item in variant.product_options
                                    assign item_json = item | parse_json
                                    assign item_obj = item_obj | array_add: item_json
                                endfor
                                assign variant = variant | add_hash_key: 'options', item_obj
                                assign variants = variants | array_add:variant
                            %}
                        {%- endfor -%}
                
    
                        {% comment %} Get variant options {% endcomment %}
                        {% graphql variant_options = 'modules/ecommerce/products/variant_options/get_product_variant_options', 
                                product_uuid: product.uuid | dig: 'items','results' %}

                        {%- for option in variant_options -%}
                            <ins-select 
                                class="variant-select" 
                                label="{{ option.product_option_label | capitalize }}"
                                label-key="{{ option.product_option_label }}"
                                placeholder="Select Variant"
                                error-message="Please select a variant"
                                small>
                        
                                {%- for value in option.product_option_values -%}
                                    {% comment %}
                                        - Check if the value exists in the product variants, and render the option if found
                                    {% endcomment %}
                                    {%- assign value_exists = false -%}
                                    {%- for variant_option in product.variants -%}
                                        {%- if variant_option.options[0].product_option_value == value -%}
                                            {%- assign value_exists = true -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                        
                                    {%- if value_exists -%}
                                        {%- if forloop.first -%}
                                            <ins-select-option label="{{ value }}" value="{{ value }}" default ></ins-select-option>
                                        {%- else -%}
                                            <ins-select-option label="{{ value }}" value="{{ value }}"></ins-select-option>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                        
                            </ins-select>
                            {% unless forloop.last %}
                            <div class="spacer"></div>
                            {% endunless %}
                        {%- endfor -%}
                    </div>
                </div>
            {%- endif -%} 
            
            {% comment %} Quantity {% endcomment %}
            <div>                                                    
                <p class="form-label">Quantity</p>
                <ins-input-stepper
                    name="cart-quantity"
                    id="cart-quantity" 
                    value="1" 
                    step="1" min="1" 
                    max="100" 
                    small>
                </ins-input-stepper>                
            </div>
    
            {% comment %} Buttons {% endcomment %}
            {% if variant_uuid %}
                {% comment %} The product has variants: The data will vary. {% endcomment %}
                {% parse_json add_to_cart_data %}
                {
                    "variant_product": true
                }
                {% endparse_json %}
            {% else %}    
                {% comment %} The product has no variants: The data will remain unchanged {% endcomment %}
                {% parse_json add_to_cart_data %}
                {
                    "id": "{{ product.id }}",
                    "product_uuid": "{{ product.uuid }}",
                    "variant_uuid": "",
                    "product_name": "{{ product.product_name | replace: "'", "`" }}",
                    "price": "{{ price | default: 0 }}",
                    "product_sku": "{{ product.sku }}"
                }
                {% endparse_json %}
            {% endif %} 
            <div>
                <ins-button id="add-to-cart-btn-{{ add_to_cart_data.id }}"  class="full add-to-cart-btn" data='{{ add_to_cart_data }}' label="{{ btnLabel }}" solid></ins-button>
                <div class="spacer small"></div>
                <ins-button class="full add-to-cart-btn" label="Add to cart" data='{{ add_to_cart_data }}' icon="icon-shopping-cart"outlined></ins-button>
            </div>
            
        </div>
        
    </div>

    <div class="hide-for-large">        
        {%- if product.long_description != blank -%}
         <div class="spacer x-large"></div>
        <h4>Key features</h4>
        <div class="spacer large"></div>
        <div class="body description">
            {{ product.long_description  | html_safe }}
        </div>
        {%- endif -%}
    </div>

    <div class="cell show-for-large spacer xxxx-large"></div>

    <div class="cell">
        {% include 'modules/ecommerce/blocks/you_may_also_like', not_uuid: product.uuid %}
    </div>
    
</div>

<script>
    let variants = {{ variants }};
    let variant_data = {
       "id": {{ variant_id | default: 0 }},
        "product_uuid": "{{ product.uuid }}",
        "variant_uuid": "{{ variant_uuid }}",
        "product_name": "{{ product.product_name | replace: "'", "`" }}",
        "sku": "{{ product.sku }}",
        "price": "{{ price | default: 0 }}",
        "quantity": 1
    };
    let galleryIndexes = {{ gallery_indexes | default: '[]' }};
    let onSaleTag = document.getElementById('on-sale-tag');
    let productGalleries = document.getElementById('product-galleries');    

    let productSKU = document.getElementById("product-sku");
    let productPrice = document.getElementById("product-price");
    let regularProductPrice = document.getElementById("regular-product-price");
    let ourOfStockNotice = document.getElementById("out-of-stock-notice");
    let outOfStockOverlay = document.getElementById("out-of-stock-overlay");
    let variantSelect = document.querySelectorAll(".variant-select");

    if (variants.length > 0){
        //Extracts and processes the first product option to update the content
        document.addEventListener("DOMContentLoaded", function() {
                let productOption = JSON.parse(variants[0].product_options[0]);
                options = [
                    {
                        product_option_label: productOption.product_option_label,
                        product_option_value: productOption.product_option_value
                    }

                ]
                // Call the 'updateContent' function with the 'options' array as an argument
                updateContent(options);
            });
    }

    variantSelect.forEach(el => {
        el.addEventListener('insValueChange', event => { 
            getSelectedVariant();
        });
    });

    function getSelectedVariant(){
        let options = [];
        for (let i = 0; i < variantSelect.length; i++) {               
            let el = variantSelect[i];   
            let label =  el.getAttribute("label-key");              

            el.getValue().then(result => {                
                options.push({product_option_label: label, product_option_value: result});
                //end of loop
                if (i === variantSelect.length - 1) {
                    updateContent(options);
                } 
            }).catch(error => {
                console.error(error); 
            });
        };        
    }

    function updateContent(options){
        let selectedVariant = {};
        variants.forEach(variant => {                
            if(arraysEqual(variant.options, options)){
                selectedVariant = variant;                
            } 
        });

        //Update active view in galleries based on selected variant
        productGalleries.activate(galleryIndexes[selectedVariant.id]); 

        if(selectedVariant.id){
            //Identifiers
            variant_data.id = selectedVariant.id;
            variant_data.variant_uuid = selectedVariant.uuid;                        
            //SKU
            variant_data.sku = selectedVariant.sku;
            productSKU.textContent = `${selectedVariant.sku}`;
            //Product Price
            if(selectedVariant.is_on_sale){
                variant_data.price = selectedVariant.sale_price;
                productPrice.textContent = `$${selectedVariant.sale_price}`;
                regularProductPrice.textContent = `$${selectedVariant.regular_price}`;                
            } else {
                variant_data.price = selectedVariant.sale_price;
                productPrice.textContent = `$${selectedVariant.regular_price}`;
                if (regularProductPrice) {
                    regularProductPrice.textContent = "";
                }
            }
            //Out of Stock Notice
            if(selectedVariant.stock_level < 1){
                ourOfStockNotice.classList.remove("hide");
                outOfStockOverlay.classList.remove("hide");
            } else {
                ourOfStockNotice.classList.add("hide");
                outOfStockOverlay.classList.add("hide");
            }
            //Sale tag
            if(onSaleTag){
                if(selectedVariant.is_on_sale == true){
                    onSaleTag.classList.remove("hide");
                } else {
                    onSaleTag.classList.add("hide");
                }
            }
        } else {
            productSKU.textContent = "";
            productPrice.textContent = "$--";
            regularProductPrice.textContent = "";
            ourOfStockNotice.classList.remove("hide");
            outOfStockOverlay.classList.remove("hide");
        }
    }

    function arraysEqual(arr1, arr2) {
        if (arr1.length !== arr2.length) return false;

        // Stringify each object and sort arrays
        let arr1Sorted = arr1.map(obj => JSON.stringify(obj)).sort();
        let arr2Sorted = arr2.map(obj => JSON.stringify(obj)).sort();

        // Compare each stringified object
        return arr1Sorted.every((value, index) => value === arr2Sorted[index]);
    }
</script>