---
metadata: {
    partial_name: 'Ecommerce | Products | List'
}
---
{% comment %} 
    Variable passed from parent page
    - all_categories
{% endcomment %}

{% assign params = context.params %}


{%- comment -%} Filter params {%- endcomment -%}
{%- assign page_num = params.page | default: 1 | plus: 0 -%}
{%- assign per_page = params.per_page | default: 9 | plus: 0 -%}
{%- assign brand = params.brand | default: "" -%}
{%- assign show = params.show | default: "all" -%}
{%- assign keyword = params.keyword | default: "" -%}
{%- assign min_price = params.min_price | default: "" -%}
{%- assign max_price = params.max_price | default: "" -%}


{%- comment -%} Sorting {%- endcomment -%}
{%- assign sort = params.sort | default: "newest" -%}
{%- if sort == "newest" -%}
    {%- parse_json sort_by -%}
    { "created_at": { "order": "DESC" } }
    {%- endparse_json -%}
{%- elsif sort == "price-ascending" -%}
    {%- parse_json sort_by -%}
    [{ "properties": [
        { "name" : "regular_price", "order": "ASC" },
        { "name" : "name", "order": "ASC" }
    ]
    }]
    {%- endparse_json -%}
{%- elsif sort == "price-descending" -%}
    {%- parse_json sort_by -%}
    [{ "properties": [ 
        { "name" : "regular_price", "order": "DESC" },
        { "name" : "name", "order": "ASC" } 
    ] 
    }]
    {%- endparse_json -%}
{%- endif -%}


{% comment %} Filter by Categories {% endcomment %}
{%  liquid
    assign param_cat = params.category | strip
    assign param_slug2 = params.slug2 | strip

    if param_cat != ''
        assign category_uuids = all_categories | array_detect: slug: param_cat | dig: 'uuid' | split: ','
        assign category_name = all_categories | array_detect: slug: param_cat | dig: 'category_name'
    elsif param_slug2 != '' 
        assign category_uuids = all_categories | array_detect: slug: param_slug2 | dig: 'uuid' | split: ','
        assign category_name = all_categories | array_detect: slug: param_slug2 | dig: 'category_name'
    endif
%}


{%- comment -%} Step build parameters to pass to GraphQL {%- endcomment -%}
{%- parse_json filters -%}
{
    "page": {{page_num}},
    "size": {{per_page}},
    "keyword": "{{keyword}}",
    "brand": "{{brand}}",    

    {%- if category_uuids.size > 0 -%}
        "category_uuids": {{ category_uuids }},
    {%- endif -%}

    {%- comment %} Filter by: show {% endcomment %}
    {%- if show == "sale" -%}
        "is_on_sale": true,
    {%- elsif show == "in-stock" -%}
        "not_number": 0,
    {%- endif -%}

    "sort":{{ sort_by | json }}
}
{%- endparse_json -%}

{%- comment -%}
Step: Call the search GraphQL with the parameters
{%- endcomment -%}
{%- graphql products = 'modules/ecommerce/products/search_products', args: filters -%}


{% comment %} Title Heading {% endcomment %}
<div class="grid-x grid-padding-x">
    <div class="small-10 small-offset-1 cell text-center">
        {%- if keyword and keyword != blank -%}
            <h1 class="heading-1 weight-normal">Search result for <br><b>"{{ keyword }}"</b></h1>
        {%- else -%}
            {%- if params.slug2 -%}
                <h1 class="heading-1">{{ category_name }}</h1>
            {%- else -%}
                <h1 class="heading-1">All products</h1>
            {%- endif -%}
        {%- endif -%}
        <div class="spacer xxx-large hide-for-small-only"></div>
        <div class="spacer large show-for-small-only"></div>
    </div>
</div>



<div class="product-list grid-x grid-padding-x  {% if total_cat_child == 0 %} align-center {% endif %}">    
    <div class="large-3 medium-12 small-12 cell">
        
        {% comment %} Drawer Categories for Mobile view {% endcomment %}
        <div class="hide-for-large">
            <ins-button label="Categories" icon="icon-sliders" id="mobile-category-button" outlined></ins-button>
            <div class="spacer small"></div>
            <ins-drawer 
                custom-width="430px"
                position="right"
                bordered=false
                id="mobile-filter-drawer">
                <div class="wrap">
                    {% comment %} copy #sidebar-categories html via javascript {% endcomment %}
                    {%- include 'modules/ecommerce/products/sidebar_categories_mobile' -%}
                </div>
            </ins-drawer>
        </div>    
            
        {% comment %} Sidebar Categories for Desktop view {% endcomment %}
        <div class="sidebar-categories show-for-large">        
            {%- include 'modules/ecommerce/products/sidebar_categories' -%}
        </div>        
    </div>
    

    <div class="large-9 medium-12 small-12 cell">
        
        {% include "modules/ecommerce/products/main_filters" %}
        
        <div class="spacer"></div>
        
        {%- if products.items and products.items.total_entries > 0 -%}                
        
        <div id="product-grid" class="product-cards products-grid grid-x grid-padding-x grid-padding-y medium-up-3 small-up-1">
            
            {%- for product in products.items.results -%}
                {% include "modules/ecommerce/products/product_card", product, all_categories %}
            {%- endfor -%}

        </div>

        <div class="spacer x-large"></div>

        {% include "modules/ecommerce/layout/pagination",  data: products.items, label: 'Products per page' %}
        
        {%- else -%}

        <div class="empty-box">
            <p class="body-large bold">No results found.</p>
        </div>

        {%- endif -%}
    
    </div>
</div>