---
metadata: {
    partial_name: 'Ecommerce | Products | Sidebar Categories Mobile'
}
---
{%-
    liquid

    assign params = context.params
    
    comment
        Get all top categories (no parent)
    endcomment

    if context.session.parent_categories.size > 0 
        assign top_categories = context.session.parent_categories 
    else
        graphql top_categories = 'modules/ecommerce/categories/get_category_parent', parent_category_uuids: '[]' | dig: 'items','results' 
    endif
    
    assign topCat_uuids = top_categories | map: 'uuid' 

    comment
        Get all categories whose parent belongs to top categories
    endcomment
    graphql sub_categories = 'modules/ecommerce/categories/get_category_uuids', parent_category_uuids: topCat_uuids | dig: "items" | dig: "results"

    comment
        Get top categories having child/sub-category
    endcomment
    assign parent_with_child = sub_categories | map: 'parent_category_uuids' | array_flatten | uniq

    comment
        URL param: per_page 
    endcomment
    if params.page
        assign paramPerPage = '&per_page=' | append: params.per_page        
    endif
-%}



{%- comment -%} 
    Step 1: Loop on Top Categories
    Step 2: If current category in the loop has child, use 'ins-accordion'
    Setp 3: Else use only <a/> tag
{%- endcomment -%}
<a href="/products" {% unless params.slug2 %}class="active"{% endunless %}>
    <span class="ui-sidebar" >All products</span>
</a>
{%- for topCat in top_categories -%}                                        
    {%- assign withChild = parent_with_child | array_any: topCat.uuid -%}                    
    {%- if withChild -%}        
        {%-  
            liquid 
            if topCat.slug == params.slug2
                assign is_active = 'active'
            else 
                assign is_active = ''
            endif
        -%}                    
        <ins-accordion menu>
            <ins-accordion-item id="sub-{{topCat.id}}"
                {{ is_active }}
                class="ui-sidebar {{ is_active }}"
                heading="{{topCat.category_name | capitalize}}" 
                link="/products/{{topCat.slug}}?{{paramPerPage}}"
                link-target="_self" 
                open-icon="icon-plus"
                close-icon="icon-minus"
                arrow-activated >
                {%- for subCat in sub_categories -%}
                    {%- liquid
                        assign urlparams = 'category=' | append: subCat.slug | strip                                     
                        if params.page
                            assign urlparams =  urlparams | append: paramPerPage
                        endif
                    -%}
                    {%- assign isChild = subCat.parent_category_uuids | array_any: topCat.uuid -%} 
                    {%- if isChild -%}
                        <a href="/products/{{topCat.slug}}?{{urlparams}}" {%- if subCat.slug == params.category -%}class="active"{%- endif -%}>
                            <span class="ui-sidebar" id="sub-{{subCat.id}}">{{subCat.category_name | capitalize}}</span>
                        </a>
                    {%- endif -%}
                {%- endfor -%}
            </ins-accordion-item>
        </ins-accordion>
    {%- else -%}                
        <a href="/products/{{topCat.slug}}?{{paramPerPage}}" {%- if topCat.slug == params.slug2 -%}class="active"{%- endif -%}>
            <span class="ui-sidebar" id="sub-{{topCat.id}}">{{topCat.category_name | capitalize}}</span>
        </a>
    {%- endif -%}
{%- endfor -%}
        
<div class="spacer x-large"></div>