---
metadata: {
    partial_name: 'Events | Blocks | Photo Library'
}
---

{% comment %} Gallery 1,2,3 uuids {% endcomment %}
{%   liquid
     assign gallery_uuids = ',' | split: ','
     if event.gallery_1.size > 0
          assign gallery_uuids =  gallery_uuids | array_add: event.gallery_1
     endif
     if event.gallery_2.size > 0
          assign gallery_uuids =  gallery_uuids | array_add: event.gallery_2
     endif
     if event.gallery_3.size > 0
          assign gallery_uuids =  gallery_uuids | array_add: event.gallery_3
     endif
     assign gallery_uuids = gallery_uuids | array_flatten
%}

{% comment %} Get Galleries {% endcomment %}
{% graphql galleries = 'modules/events/attachments/get_galleries', uuids: gallery_uuids, size: 100 | dig: 'items','results' -%}     


{% if galleries.size > 0 %}

     {% comment %} 
          Pagination 
          - All galleries will be fetched through a GraphQL query, and pagination will be handled here
     {% endcomment %}
     {% assign per_page = 12 %}
     {% assign float_denominator = per_page | times: 1.0 %}
     {% assign total_pages = galleries.size | divided_by: float_denominator | ceil %}
     {% assign start_page = 2 %}

     <div class="grid-container wrapper width-1296">
          <hr>
     </div>     
     <div class="spacer xxxx-large"></div>

     <section id="event-galleries" class="event-galleries grid-container wrapper width-1296">
          <h2 class="heading-2-xsmall">Photo library</h2>
          <div class="spacer"></div>
          <div class="grid-x grid-padding-x grid-padding-y">
          
               {% comment %} Get the first per_page (12) items {% endcomment %}
               {% assign item_number = 1 %}
               {% for item in galleries limit:per_page %}
                    {% if item.file.url %}
                         <div class="cell large-3 medium-4 small-12 pagination-item" data-item="{{ item_number }}" role="button" tabindex="0" aria-label="View photo {{ item_number }}">
                              <div class="img-wrap">
                                   <img src="{{ item.file.url | replace: ' ', '%20' | escape }}" loading="lazy" decoding="async" width="288" height="200" alt="">
                              </div>
                         </div>
                         {% assign item_number = item_number | plus: 1 %}
                    {% endif %}
               {% endfor %}

               {% comment %}
                    Get the remaining gallery items, but keep them hidden for now.
                    The js function showPaginatedItems will show/hide gallery items depending on the selected page and per_page
               {% endcomment %}
               {% for page in (start_page..total_pages) %}
                    {% assign offset = page | minus: 1 | times: per_page %}
                    {% if galleries.size > offset %}
                         {% for item in galleries limit: per_page offset: offset %}
                              {% if item.file.url %}
                                   <div class="cell large-3 medium-4 small-12 pagination-item hide" data-item="{{ item_number }}" role="button" tabindex="0" aria-label="View photo {{ item_number }}">
                                        <div class="img-wrap">
                                             <img src="{{ item.file.url | replace: ' ', '%20' | escape }}" loading="lazy" decoding="async" width="288" height="200" alt="">
                                        </div>
                                   </div>
                                   {% assign item_number = item_number | plus: 1 %}
                              {% endif %}
                         {% endfor %}
                    {% endif %}
               {% endfor %}
          
          </div>
          <div class="spacer xxx-large"></div>

          {% comment %} Pagination {% endcomment %}
          <ins-table no-wrap
               static-table
               id="event-galleries-pagination"
               class="event-pagination"
               without-search>    
          </ins-table>
     </section>     



     {% comment %} 
          Modal Carousel - Gallery Slider 
          - This does not use the actual <ins-modal> component; it only mimics some of its element classes.
     {% endcomment %}
     <div id="galleries-modal" class="ins-modal-wrap no-button full-height show-modal" role="dialog" aria-modal="true" aria-label="Photo gallery">
          <div class="ins-backdrop-wrap hide"></div>
          <div class="ins-card-wrap steady no-padding">
               <div class="ins-modal-content">
                    <div class="ins-modal-head no-heading">
                        <span class="icon-close-1" role="button" tabindex="0" aria-label="Close photo gallery"></span>
                    </div>
               </div>
          </div>
          <div class="carousel-container">
               <div class="carousel-wrapper">
                    <ins-carousel 
                         no-pagination
                         id="galleries-carousel"                
                         bind-to="galleries-carousel-img">
                         <div id="galleries-carousel-img">                         
                              {% for item in galleries %}
                                   {% if item.file.url %}
                                        <div class="img-wrap">
                                             <img src="{{ item.file.url | replace: ' ', '%20' | escape }}" decoding="async" alt="">
                                        </div>
                                   {% endif %}
                              {% endfor %}  
                         </div>   
                    </ins-carousel>    
               </div>
          </div>
 
     </div>


     {% comment %} Scripts for Pagination and Modal Carousel {% endcomment %}
     <script id="galleries-data" type="application/json">
     {
          "perPage": {{ per_page | default: 12 }},
          "totalCount": {{ galleries.size | default: 1 }}
     }
     </script>
     {% if context.environment == "staging" %}
          <script src="{{ 'modules/events/scripts/event-photo-library.js' | asset_url }}" defer></script>
     {% else %}
          <script src="{{ 'modules/events/scripts/event-photo-library.min.js' | asset_url }}" defer></script>
     {% endif %}
     

{% endif %}
