---
metadata: {
    partial_name: 'Events | Blocks | Speakers'
}
---

{% parse_json params %}
{
     "page" : 1,
     "size" : 50,
     "sort_by" : "speaker_weighting",     
     "sort_order" : "ASC"
}
{% endparse_json %}
{% function event_speakers = "events/event_speakers/list", uuid: event.uuid, params: params  %}

{% assign speakers = event_speakers | dig: 'results' %}
     
{% if speakers.size > 0 %}

     <section class="event-speakers wrapper width-1296">
          <h2 class="heading-2-xsmall">Speakers</h2>
          <div class="spacer"></div>
          <div class="grid-x grid-padding-x grid-padding-y event-card-wrap">

               {% for item in speakers %}
                    <div class="cell large-3 medium-6 small-12" data-id="{{item.id}}">
                         <div class="img-wrap">
                              {% if item.image.url %}
                                   <img src="{{ item.image.url | replace: ' ', '%20' | escape }}" loading="lazy" decoding="async" width="270" height="280" alt="{{ item.first_name }}">
                              {% else %}
                                   {% include 'modules/website/layout/placeholder_image', size: 'medium' %}
                              {% endif %}
                         </div>
                         <div class="spacer"></div>
                         <h5 class="heading-5">{{ item.first_name}} {{ item.last_name}}</h5>
                         <div class="spacer x-small"></div>
                         {%   liquid
                              if item.company_name 
                                   assign company_text = 'at ' | append: item.company_name
                              else 
                                   assign company_text = ''
                              endif                         
                         %}
                         <p class="body-small">{{ item.job_title }} {{ company_text }}</p>
                         <div class="spacer"></div>
                    </div>
               {% endfor %}

          </div>
     </section>
     <div class="spacer xxx-large"></div>

     <ins-modal
          id="speaker-modal"
          class="event-speakers event-modal"
          heading=""
          full-height
          with-backdrop
          no-button>
          <div>
               <div class="spacer"></div>
               <div id="speaker-content"></div>
          </div>
     </ins-modal>

     {% comment %} Modal Script {% endcomment %}
     <script id="speakers-data" type="application/json">
     {
          "speakers": {{ speakers | default: '[]' | parse_json }}
     }
     </script>
     {% if context.environment == "staging" %}
          <script src="{{ 'modules/events/scripts/event-speakers.js' | asset_url }}" defer></script>
     {% else %}
          <script src="{{ 'modules/events/scripts/event-speakers.min.js' | asset_url }}" defer></script>
     {% endif %}  

{% endif %}