{% parse_json filters %}
{
  "page": 1,
  "size": 50,
  "sort_by": "sponsor_weighting",
  "order": "ASC"
  {% comment %}  
  Additional filters that can be used to retrieve sponsors:
  "search_by": "first_name",
  "keyword": "John",
  {% endcomment %}
}
{% endparse_json %}

{% parse_json sponsors_payload %}
{
     "uuid": "{{ event.uuid }}",
     "query_string": "{{ filters | querify }}"
}
{% endparse_json %}

{% graphql sponsors = 'modules/website/trigger_api_call', 
     name: 'modules/events/get_sponsors', 
     data: sponsors_payload
     | dig: 'items','response','body' | parse_json
     | dig: 'results' %}

     
{% if sponsors.size > 0 %}

     <section class="event-sponsors grid-container wrapper width-1296">
          <h2 class="heading-2-xsmall">Thanks to our event sponsors</h2>
          <div class="spacer"></div>
          <div class="grid-x grid-padding-x grid-padding-y">

               {% for item in sponsors %}
                    <div class="cell large-3 medium-4 small-6" data-id="{{item.id}}">
                         <div class="img-wrap">
                              {% if item.logo.url %}
                                   <img src="{{ item.logo.url }}" loading="lazy" width="180" height="170" >
                              {% else %}
                                   {% include 'modules/website/layout/placeholder_image', size: 'medium' %}
                              {% endif %}
                         </div>
                    </div>
               {% endfor %}

          </div>
     </section>
     <div class="spacer xxxx-large"></div>

     <ins-modal
          id="sponsor-modal"
          class="event-sponsors event-modal"
          heading=""
          full-height
          with-backdrop
          no-button>
          <div>
               <div class="spacer"></div>
               <div id="sponsor-content"></div>
          </div>
     </ins-modal>

     {% comment %} Modal Script {% endcomment %}
     <script id="sponsors-data" type="application/json">
     {
          "sponsors": {{ sponsors | default: '[]' | parse_json }}
     }
     </script>
     {% if context.environment == "staging" %}
          <script src="{{ 'modules/events/scripts/event-sponsors.js' | asset_url }}" defer></script>
     {% else %}
          <script src="{{ 'modules/events/scripts/event-sponsors.min.js' | asset_url }}" defer></script>
     {% endif %}  

{% endif %}