---
metadata: {
    partial_name: 'Ecommerce | Carts | Cart Drawer'
}
---
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}

{%- if has_profile -%}
    {% comment %} Get the user uuid {% endcomment %}
    {%  liquid
        if context.session.user_uuid and context.session.user_uuid != ''
            assign user_uuid = context.session.user_uuid
        else
            graphql user = 'modules/portal/account/get_current_user'
            session user_uuid = user.current_user.external_id
            assign user_uuid = user.current_user.external_id
        endif
    %}

    {% comment %} Get the user's cart(s) {% endcomment %}
    {% if user_uuid != '' %}
        {% graphql user_cart = 'modules/ecommerce/carts/get_user_cart', 
            contact_uuid: user_uuid | dig: 'items','results' | first %}
    {% endif %}
{% endif %}

{% if user_cart.items.size > 0 %}

    {% comment %} Get the product info {% endcomment %}
    {%  liquid

        ## Convert an array of strings into an array of objects
        assign item_obj = '' | split: ',' 
        for item in user_cart.items
            assign item_json = item | parse_json
            assign item_obj = item_obj | array_add: item_json
        endfor

        assign product_uuids = item_obj | array_map: 'product_uuid' | array_flatten
        graphql products = 'modules/ecommerce/products/get_cart_products', uuid: product_uuids, size: user_cart.items.size | dig: 'items','results'
    %}

{% endif %}

{% comment %} 
    Add class 'hide' to this ins-drawer component to prevent glitch in the UI, 
    then remove the class 'hide' when the drawer has loaded.
{% endcomment %}
<ins-drawer 
  label="Cart ({{ user_cart.items.size | default: 0 }})" 
  custom-width="390px" 
  position="right" 
  id="cartDrawer"
  class="cart-drawer hide">

    <div id="cart-items-wrap">

    {% if user_cart.items.size > 0 %}
    
        {% assign subtotal = 0 %}

        {% for item in item_obj %}

        {% liquid 
            assign product = products | array_detect: uuid: item.product_uuid
            assign product_name = product.product_name

            ## to fix issues in comparing '' versus null
            if product.product_sku == null 
                assign product = product | add_hash_key: 'product_sku', ''
            endif
            
            ## Check if the item is a product or a variant of the product
            if item.product_sku == product.product_sku
                ## item is NOT a variant
                assign selected_prop = product
            else 
                ## item is a variant                
                for variant in product.variants
                    if item.product_sku == variant.product_sku
                        assign selected_prop = variant
                    endif
                endfor
            endif             

            if selected_prop.is_on_sale == true 
                assign price = selected_prop.sale_price
                assign price_strikethrough = selected_prop.regular_price
            else 
                assign price = selected_prop.regular_price
                assign price_strikethrough = ''
            endif          

            assign product_id = selected_prop.id
            assign item_total = price | times: item.quantity
            assign subtotal = subtotal | plus: item_total
        %}

        <div id="cart-item-{{product_id}}" class="cart-item-wrap">
            <div class="grid-x" >
                <div class="cell grid-y large-7 medium-7 small-7">
                    <h6>{{ product_name }}</h6>
                    <p class="body-x-small">SKU {{ item.product_sku }}</p>
                    <div class="spacer x-small"></div>
                    {% comment %} Get variant info {% endcomment %}
                    {% if item.product_sku != product.product_sku %}
                        {%  liquid 
                            ## Convert an array of strings into an array of objects
                            assign options = '' | split: ',' 
                            for option in selected_prop.product_options
                                assign option_json = option | parse_json
                                assign options = options | array_add: option_json
                            endfor
                        %}
                        {% for option in options %}
                            <p>
                                <span class="body-x-small-bold">{{ option.product_option_label | titleize }}:</span>
                                <span class="body-x-small">{{ option.product_option_value | titleize }}</span>
                            </p>
                        {% endfor %}
                    {% endif %}
                    <p>
                        <span class="body-x-small-bold">Price:</span>
                        <span class="body-x-small item-price">{{ price | plus: 0 | pricify: 'USD', no_cents_if_whole: false }}</span>
                        {% if selected_prop.is_on_sale == true %}
                        <span class="body-x-small strikethrough">{{ price_strikethrough | default: 0 | pricify: 'USD', no_cents_if_whole: false }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="cell grid-y large-5 medium-5 small-5 text-right">
                    <p class="cart-price compute-price">{{ item_total | plus: 0 | pricify: 'USD', no_cents_if_whole: false }}</p>
                    <div class="spacer x-small"></div>
                    <ins-input-stepper
                        class="cart-stepper" 
                        data-id="{{ item.id }}"
                        data-product_uuid="{{ item.product_uuid }}"
                        data-product_sku="{{ item.product_sku }}"
                        data-product_name="{{ item.product_name }}"
                        value="{{ item.quantity }}" 
                        step="1" min="1" 
                        {% if selected_prop.stock_level > 0 %}
                            max="{{ selected_prop.stock_level }}" 
                        {% endif %}
                        small>
                    </ins-input-stepper>
                    <div class="spacer small"></div>
                    <div class="text-right" >
                        {% parse_json remove_item %}
                        {
                            "product_uuid": "{{ item.product_uuid }}",
                            "product_sku": "{{ item.product_sku }}"
                        }
                        {% endparse_json %}
                        <ins-button label="Remove" icon="icon-trash-2" size="small" class="cart-remove-btn" data='{{ remove_item }}' ></ins-button>
                    </div> 
                </div>        
            </div>               
            <div class="spacer x-large"></div>
        </div>
        {% endfor %}    

    {% endif %}

    </div>
    
    {% comment %} user_cart = blank if the user has a guest account {% endcomment %}
    <div id="empty-cart-wrap" class="empty-cart-wrap {% if user_cart.items.size > 0 %}hide{% endif %}">
        <h3 class="text-center">Your cart is empty!</h3>
        <div class="spacer x-small"></div>
        <p class="text-center">Don't miss out on the best deals!</p>
    </div>
    
    {% comment %} user_cart = blank if the user has a guest account {% endcomment %}
    <div id="bottom-wrap" class="bottom-wrap {% if user_cart.items.size <= 0 or user_cart == blank %}hide{% endif %}">
        <div class="wrap">
            <div class="spacer"></div>
            <div class="grid-x align-justify" >
                <p class="heading-3-small font-color-head">Sub Total</p>
                <p id="cart-subtotal" class="heading-3-small font-color-head">{{ subtotal | plus: 0 | pricify: 'USD', no_cents_if_whole: false }}</p>
            </div>
            <div class="spacer"></div>
            <ins-button id="go-to-cart" label="Go to Cart" icon="icon-shopping-cart" solid class="full" 
                onclick="goToShoppingCartPage()">
            </ins-button>
            <div class="spacer x-small"></div>
            <ins-button label="Continue Shopping" icon="icon-arrow-back" id="continue-shopping-btn" class="full"></ins-button>
            <div class="spacer"></div>
            <p class="body-small text-center">Shipping calculated at checkout</p>
        </div>
    </div>    
    

</ins-drawer>



<script>
    var page = "{{ context.params.slug }}";
    var user_uuid = "{{ user_uuid }}";  
</script>
{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/ecommerce/scripts/cart-drawer.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/ecommerce/scripts/cart-drawer.min.js' | asset_url }}"></script>
{%- endif -%}