{%- comment -%}
By adding the global content to the top of the layout
It can be accessed in the includes without calling the GraphQL again
It IS NOT accessable in {{content_for_layout}} which includes the specific page
{%- endcomment -%}
{%- include "modules/ins_template_website/data/global_content" -%}
{%- assign global = context.exports.global -%}

<!doctype html>
<html class="no-js" lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <meta content="authenticity_token" name="csrf-param">
    <meta content="{{ context.authenticity_token }}" name="csrf-token">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%- comment -%}
    <!--
    Try to limit assets that are part of the head / technical head to minimize page size & improve page performance.
    Assets like 'Google Map API', should only be referenced as needed.
    -->
    {%- endcomment -%}

    <!-- [Preload] -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" as="style">
    <link rel="preload" href="https://components.insites.io/latest/css/insites-font-icons.css" as="style">
    <link rel="preload" href="https://components.insites.io/latest/css/insites.css" as="style">
    <link rel="preload" href="{{ 'modules/ins_template_website/styles/vendor/foundation.min.css' | asset_url }}" as="style">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" as="style">


    {%- include 'modules/insites_layouts/seo' -%}
    
    <link rel="shortcut icon" type="image/png" href="{{ global.company_icon.original }}"/>
    {% include 'modules/ins_template_website/layout/seo/og-tags' %}

    <!-- [Vendor Assets] -->
    <link rel="stylesheet" href="{{ 'modules/ins_template_website/styles/vendor/foundation.min.css' | asset_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <!-- [Insites Assets] -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" >
    <!-- Font Icons -->
    <link rel="stylesheet" href="https://components.insites.io/latest/css/insites-font-icons.css">
    <!-- Components -->
    {%- assign ins_version = 'https://components.insites.io/v2/latest/' -%}
    <link rel="stylesheet" href="{{ ins_version | append: 'css/insites.css' }}" />
    <script type="module" src="{{ ins_version | append: 'insites.esm.js' }}"></script>
    <script nomodule src="{{ ins_version | append: 'insites.js' }}" defer></script>
    
    <script src="https://components.insites.io/insites_utilities.js" defer></script>
    <script src="https://components.insites.io/S3UploaderService.js" defer></script>

    <!-- [Project Assets] -->
    {%- if context.environment == "staging" -%}
        <link rel="stylesheet" href="{{ 'modules/ins_template_website/styles/app.css' | asset_url }}" />
        <link rel="stylesheet" href="{{ 'modules/ins_template_ecommerce/styles/style-ecommerce.css' | asset_url }}" />
    {%- else -%}
        <link rel="stylesheet" href="{{ 'modules/ins_template_website/styles/app.min.css' | asset_url }}" />
        <link rel="stylesheet" href="{{ 'modules/ins_template_ecommerce/styles/style-ecommerce.min.css' | asset_url }}" />
    {%- endif -%}
    
    <!--[Pixel Tracking]-->
    {% include 'modules/ins_template_website/layout/pixel_tracking' %}
    
    <!-- [Google Maps] -->
    {% include 'modules/ins_template_website/layout/googlemaps' %}
</head>
<body>
    <div class="main-wrap">
        {% include 'modules/ins_template_website/layout/header' %}
        <div class="wrapper">
            <div class="grid-container">
                <div class="spacer xxxx-large"></div>
                    {{ content_for_layout }}
                <div class="spacer section"></div>
            </div>
        </div>
    </div>
    
    {%- if context.params.slug == "checkout" -%}
        {% include 'modules/ins_template_ecommerce/layout/footer_nomenu' %}
    {%- elsif context.params.slug == "confirmation" -%}    
        {% include 'modules/ins_template_ecommerce/layout/footer_nomenu' %} 
    {%- else -%}
        {% include 'modules/ins_template_website/layout/footer' %}   
    {%- endif -%}
    {% include 'modules/ins_template_website/layout/foot' %}

    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/checkout-steps.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/address-lookup.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/checkout.js' | asset_url }}"></script>
    {%- else -%}
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/checkout-steps.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/address-lookup.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/checkout/checkout.min.js' | asset_url }}"></script>
    {%- endif -%}

    {% comment %} Services {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/services/stripeServices.js' | asset_url }}"></script>
    {%- else -%}
        <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/services/stripeServices.min.js' | asset_url }}"></script>
    {%- endif -%}
</body>

</html>

