---
slug: products
layout: modules/ins_template_ecommerce/shop-layout
# enable_profiler: true
searchable: "true"
max_deep_level: 2
redirect_to: |-
  {%- if context.params.slug2 -%}
    {%- graphql slug2_cat = 'modules/ins_template_ecommerce/shop/get_category', slug: context.params.slug2 -%}
    {%- graphql slug2_prod = 'modules/ins_template_ecommerce/shop/get_product_detail', slug: context.params.slug2 -%}
    {%- if slug2_cat and slug2_cat.items.total_entries > 0 -%}
    {%- elsif slug2_prod and slug2_prod.items.total_entries > 0 -%}
    {%- else -%}
        /404
    {%- endif -%}
  {%- endif -%}
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "{{ context.exports.global.company_url | strip }}",
    "og:type": "",
    "og:image": "",
    "og:title": "Products | {{ context.exports.global.company_name | strip }}",
    "og:description": "Products | {{ context.exports.global.company_name | strip }}",
    "og:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "Products | {{ context.exports.global.company_name | strip }}",
    "page_title": "Products | {{ context.exports.global.company_name | strip }}",
    "meta_description": "Products | {{ context.exports.global.company_name | strip }}",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "2", ## secondary order (ASC)
    "sitemap_changefreq": "daily"
}
##dynamic_cache:
##  layout: false
##  key: |-
##    {%- parse_json models -%}
##    [
##      "modules/insites_layouts/insites_global_content",
##      "modules/insites_ecommerce/insites_category",
##      "modules/insites_ecommerce/insites_product",
##      "modules/insites_ecommerce/insites_settings",
##      "modules/insites_ecommerce/insites_freight_suppliers"
##    ]
##    {%- endparse_json -%}
##
##
##    {%- comment -%}Check if product details page, add variant to cache rule{%- endcomment -%}
##    {%- if context.params.slug2  -%}
##        {%- graphql product = 'modules/ins_template_ecommerce/shop/get_product_detail', 
##            slug: context.params.slug2 | dig: "items" | dig: "results" | first -%}
## 
##        {%- if product.properties.variant_enabled and product.properties.variant_schema != '' -%}
##            {%- assign models = models | add_to_array: product.properties.variant_schema -%}
##        {%- endif -%}
##    {%- endif -%}
## 
##    {%- include "modules/ins_template_website/generate_cache_key", models: models -%}
---

{% comment -%}
URL Structures: 
/products/mens-shoes
/products/mens-shoes/product_id
{% endcomment -%}

{%- assign slug_type = 'error' -%}
{%- comment -%}Check if has slug2{%- endcomment -%}
{%- if context.params.slug2 -%}
    {%- comment -%}Check via graphql if there is a category with slug2{%- endcomment -%}
    {%- graphql slug2_cat = 'modules/ins_template_ecommerce/shop/get_category', slug: context.params.slug2 -%}
    {%- if slug2_cat.items and slug2_cat.items.total_entries > 0 -%}
    {%- assign category_slug2 = slug2_cat.items.results[0] -%}
    {%- assign slug_type = 'category' -%}
    {%- endif -%}

    {%- comment -%}Check via graphql if there is a product with slug2{%- endcomment -%}
    {%- graphql slug2_prod = 'modules/ins_template_ecommerce/shop/get_product_detail', slug: context.params.slug2 -%}
    {%- if slug2_prod.items and slug2_prod.items.total_entries > 0 -%}
    {%- assign product_slug2 = slug2_prod.items.results[0] -%}
    {%- assign slug_type = 'product' -%}
    {%- endif -%}
    
{%- endif -%}

<div class="ecommerce-wrapper grid-container">
    <div>
        <div class="spacer x-large"></div>
    </div>

    {%- if context.params.slug2 -%}
        {%- if slug_type == 'product' -%}
        {%- include 'modules/ins_template_ecommerce/products/detail' -%}
        {%- else -%}
        {%- include 'modules/ins_template_ecommerce/products/list' -%}
        {%- endif -%}
    {%- else -%}
        {%- include 'modules/ins_template_ecommerce/products/list' -%}
    {%- endif -%}

</div>



{%- if context.params.slug2 -%}

    {%- if slug_type == 'product' -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        {%- if context.environment == "staging" -%}
            <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.js' | asset_url }}"></script>
            <script src="{{ 'modules/ins_template_ecommerce/scripts/product-detail.js' | asset_url }}"></script>
        {%- else -%}
            <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.min.js' | asset_url }}"></script>
            <script src="{{ 'modules/ins_template_ecommerce/scripts/product-detail.min.js' | asset_url }}"></script>
        {%- endif -%}
    {%- else -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        {%- if context.environment == "staging" -%}
            <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.js' | asset_url }}"></script>
            <script src="{{ 'modules/ins_template_ecommerce/scripts/product-list.js' | asset_url }}"></script>
        {%- else -%}
            <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.min.js' | asset_url }}"></script>
            <script src="{{ 'modules/ins_template_ecommerce/scripts/product-list.min.js' | asset_url }}"></script>
        {%- endif -%}
    {%- endif -%}

{%- else -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/product-list.js' | asset_url }}"></script>
    {%- else -%}
        <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.min.js' | asset_url }}"></script>
        <script src="{{ 'modules/ins_template_ecommerce/scripts/product-list.min.js' | asset_url }}"></script>
    {%- endif -%}
{%- endif -%}



{%- if context.flash and context.flash.notice == "Success-AddCart" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Product has been added to cart!");
}, 200);
</script>
{% endif -%}


{%- if context.flash and context.flash.notice == "Success-OutStockNotify" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Your inquiry has been sent!");
}, 200);
</script>
{% endif -%}