---
metadata: {
    partial_name: 'Events | Card'
}
---

<div class="wrap" >
     <div class="img-wrap">
          {% if item.event_image.url %}
               <img src="{{ item.event_image.url | replace: ' ', '%20' | escape }}" loading="lazy" decoding="async" width="920" height="585" alt="{{ item.event_name }}">
          {% else %}
               {% include 'modules/website/layout/placeholder_image', size: 'medium' %}
          {% endif %}
     </div>
</div>
<div class="wrap" >

     {% comment %} Spacer {% endcomment %}
     {% if list == true %}                         
          <div class="spacer"></div>
     {% else %}
          <div class="spacer show-for-small-only"></div>
     {% endif %}

     {% comment %} State | Category {% endcomment %}
     <div class="grid-x">
          {% if item.event_type == 'online_event' %}
               {% assign venue_state = 'WEB' %}
          {% else %}     
               {% assign venue_state = item.venue_state |  default: 'State' %}
          {% endif %}
          <p class="venue-state">{{ venue_state }}</p>
          <div class="flex-child-auto text-right">
               <i class="icon-bookmark-1"></i>
               <span>{{ item.category.value }}</span>
          </div>
     </div>

     <hr>

     {% comment %} Event Name | Button {% endcomment %}
     <div class="event-heading-wrap">
          {% if list == true %}                         
               <h5 class="flex-child-auto">{{ item.event_name }}</h5>
          {% else %}
               <h4 class="flex-child-auto">{{ item.event_name }}</h4>
          {% endif %}                         
          <div class="event-button-wrap">
               <a href="/{{page | default: 'upcoming-events'}}/{{ item.slug }}">
                    <ins-button size="large" icon="icon-arrow-up-right" class="event-card-btn" label=""></ins-button>
               </a>
          </div>                         
     </div>
     
     <div class="spacer small"></div>
     
     {% comment %} Date & Time {% endcomment %}
     {% include 'modules/events/events/event_date_time', item: item %}   

     <div class="spacer xx-small"></div>

     {% comment %} Locataion {% endcomment %}
     {% include 'modules/events/events/event_location', item: item, type: type %} 

</div>