---
metadata: {
    partial_name: 'Events | Date and Time'
}
---

{% comment %} ? Comparing Start Date and End Date {% endcomment %}
{% assign start_date_comparison = item.start_date_time | date: "%b %d, %y" %}
{% assign end_date_comparison =  item.end_date_time | date: "%b %d, %y"  %}


{% comment %} Time zone {% endcomment %}
{% if item.event_time_zone and item.event_time_zone != '' %}
    {% assign time_zone = item.event_time_zone | split: "@" %}
    {% assign time_zone = time_zone | first %}
    {% assign time_zone_abbr = "UTC" %}
    
    {% capture formatted_time_zone %}{{ time_zone | slice: 0, 3 }}.{{ time_zone | slice: 3, 2 }}{% endcapture %}
    {%  assign time_zone = '(' | append: time_zone_abbr | append: formatted_time_zone | append: ')' %}
{% endif %}


{% if start_date_comparison == end_date_comparison %}
    {% comment %} Calendar {% endcomment %}
    <div class="grid-x">
        <i class="icon-calendar" aria-hidden="true"></i>
        <span>{{ item.start_date_time | date: "%A %-d, %B %Y" }}</span>
    </div>
    <div class="spacer xx-small"></div>
    {% comment %} Clock {% endcomment %}
    <div class="grid-x">
        <i class="icon-clock" aria-hidden="true"></i>
        <span>{{ item.start_date_time | date: "%H:%M" }} - {{ item.end_date_time | date: "%H:%M" }} {{ time_zone }}</span>        
    </div>
{% else %}
    {% if context.params.slug == "purchase-ticket" %}
        {% comment %} ? DETAILS VIEW TIME AND TIMEZONE {% endcomment %}
        <div class="details_page_start_end_time">
            <div class="start_time">
                <span class="body-x-small-bold">Start Date & Time</span>
                <div class="grid-x">
                    <i class="icon-calendar" aria-hidden="true"></i>
                    <span>{{ item.start_date_time | date: "%A %-d, %B %Y" }}</span>
                </div>
                <div class="spacer xx-small"></div>
                <div class="grid-x">
                    <i class="icon-clock" aria-hidden="true"></i>
                    <span>{{ item.start_date_time | date: "%H:%M" }} {{ time_zone }}</span>        
                </div>    
            </div>
            <div class="spacer xx-small"></div>
            <div class="end_time">
                <span class="body-x-small-bold">End Date & Time</span>
                <div class="grid-x">
                    <i class="icon-calendar" aria-hidden="true"></i>
                    <span>{{ item.end_date_time | date: "%A %-d, %B %Y" }}</span>
                </div>
                <div class="spacer xx-small"></div>
                <div class="grid-x">
                    <i class="icon-clock" aria-hidden="true"></i>
                    <span>{{ item.end_date_time | date: "%H:%M" }} {{ time_zone }}</span>        
                </div>
            </div>
        </div>       
    {% else %}
        {% if is_details_page == true %}
            <div class="start_end_time_wrap">
                <div>
                    <p class="body-small-bold">Start date & time</p>
                    <div>
                        <i class="icon-calendar" aria-hidden="true"></i> <span>{{ item.start_date_time | date: "%A %-d, %B %Y" }}</span>
                    </div>
                    <div>
                        <i class="icon-clock" aria-hidden="true"></i> <span>{{ item.start_date_time | date: "%H:%M" }} {{ time_zone }}</span> 
                    </div>                    
                </div>
                <div>
                    <p class="body-small-bold">End date & time</p>
                    <div>
                        <i class="icon-calendar" aria-hidden="true"></i> <span>{{ item.end_date_time | date: "%A %-d, %B %Y" }}</span> 
                    </div>
                    <div>
                        <i class="icon-clock" aria-hidden="true"></i> <span>{{ item.end_date_time | date: "%H:%M" }} {{ time_zone }}</span>     
                    </div>
                </div>
            </div>    
        {% else %}
            {% comment %} List view {% endcomment %}
            <div class="grid-x">
                <i class="icon-calendar" aria-hidden="true"></i>
                <span>{{ item.start_date_time | date: "%A %-d, %B %Y" }} - {{ item.end_date_time | date: "%A %-d, %B %Y" }}</span>
            </div>
            <div class="spacer xx-small"></div>
            <div class="grid-x">
                <i class="icon-clock" aria-hidden="true"></i>
                <span>{{ item.start_date_time | date: "%H:%M" }} - {{ item.end_date_time | date: "%H:%M" }} {{ time_zone }}</span>        
            </div>    
        {% endif %}
    {% endif %}
{% endif %}

