---
name: bill_payment_success_workflow
delay: 0
enabled: true
trigger_condition: true
to: >
    {%- include 'modules/insites_ecommerce/email_layout/email_data'
      status: "success",
      type: 'workflow',
      field: 'to' -%}
from: >
    {%- include 'modules/insites_core/email_layout/workflow_from' -%}
reply_to: >
    {%- include 'modules/insites_ecommerce/email_layout/email_data'
      status: "success",
      type: 'workflow',
      field: 'reply_to' -%}
cc: >
    {%- include 'modules/insites_ecommerce/email_layout/email_data'
      status: "success",
      type: 'workflow',
      field: 'cc' -%}
bcc: >
    {%- include 'modules/insites_ecommerce/email_layout/email_data'
      status: "success",
      type: 'workflow',
      field: 'bcc' -%}
subject: Bill payment successful
layout: modules/insites_core/insites_admin/insites_internal_email_layout
---

{%- assign amountPayable = data.cart[0].properties.product_price | divided_by: 100.0 | advanced_format: '%.2f' -%}
{%- assign ccSurcharge = data.cart[1].properties.product_price | divided_by: 100.0 | advanced_format: '%.2f' -%}
{%- assign subTotal = amountPayable | plus: ccSurcharge | default: 0.00 -%}
{%- assign taxTotal = data.order.properties.tax_amount | divided_by: 100.0 | advanced_format: '%.2f' -%}
{%- assign totalAmount = data.order.properties.total_amount | divided_by: 100.0 | advanced_format: '%.2f' -%}

{%- assign amountPayable = amountPayable | pricify -%}
{%- assign ccSurcharge = ccSurcharge | pricify -%}
{%- assign subTotal = subTotal | pricify -%}
{%- assign taxTotal = taxTotal | pricify -%}
{%- assign totalAmount  = totalAmount | pricify -%}

{%- unless amountPayable contains '.' -%}
    {%- assign amountPayable = amountPayable | append: '.00' -%}
{%- endunless -%}

{%- unless ccSurcharge contains '.' -%}
    {%- assign ccSurcharge = ccSurcharge | append: '.00' -%}
{%- endunless -%}

{%- unless subTotal contains '.' -%}
    {%- assign subTotal = subTotal | append: '.00' -%}
{%- endunless -%}

{%- unless taxTotal contains '.' -%}
    {%- assign taxTotal = taxTotal | append: '.00' -%}
{%- endunless -%}

{%- unless totalAmount contains '.' -%}
    {%- assign totalAmount = totalAmount | append: '.00' -%}
{%- endunless -%}

{%- include 'modules/insites_core/email_layout/email_icon' -%}

<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 24px 24px; line-height:27px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="font-size: 24px"><strong>Payment Successful</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Content text --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 40px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center">
            <span style="white-space: pre-wrap"><strong>{{- data.order.properties.billing_first_name | append: ' ' | append: data.order.properties.billing_last_name -}}'s</strong> payment has been processed successfully.</span>
            <br>
            <span style="white-space: pre-wrap">Log in to the Insites Platform to view further information.</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Order number --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="b13844a0-c587-4880-afda-09c68ec00c01.1.1"
  data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 40px 24px; line-height:20px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center">
            <span style="white-space: pre-wrap; font-size: 18px"><strong>Order Number: {{ data.order_id }}</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Invoice Details --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Invoice Details</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Invoice Number --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Invoice Number</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap">{{ data.cart[0].properties.product_name | default: '-' }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Company Name --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Company Name</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap">{{ data.order.properties.billing_company_name | default: '-' }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Name --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Name</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ data.order.properties.billing_first_name | append: ' ' | append: data.order.properties.billing_last_name }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Contact Number --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap"><strong>Contact Number</strong></span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ data.order.properties.billing_phone | default: '-' }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Email --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Email</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap">{{ data.order.properties.billing_email| default: '-' }}</span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Spacer --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="1cdd73c0-f6dc-4283-a005-01f96ca48196">
  <tbody>
    <tr>
      <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Billing Details --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Billing Details</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Card Type --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Card Type</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ data.order.payment.card_brand | upcase }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Card Number --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap"><strong>Card Number</strong></span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">**** **** **** {{ data.order.payment.card_last4 }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Expiration Date --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Expiration Date</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            {%- assign month = data.order.payment.card_exp_month -%}
                            {%- if data.order.payment.card_exp_month.size < 2 -%}
                                {%- assign month = "0" | append: data.order.payment.card_exp_month -%}
                            {%- endif -%}
                            <span style="white-space: pre-wrap">{{ month }} / {{ data.order.payment.card_exp_year }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Spacer --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="1cdd73c0-f6dc-4283-a005-01f96ca48196">
  <tbody>
    <tr>
      <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Payment Summary --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Payment Summary</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Bill Amount --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Bill Amount</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ amountPayable }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Credit Card Processing Fee (1.7%) --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap"><strong>Credit Card Processing Fee (1.7%)</strong></span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ ccSurcharge }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Subtotal --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Subtotal</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ subTotal }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Tax --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Tax</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ taxTotal }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- spacer 16px --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="bf7cb6d0-0cb0-4762-a8d0-38f7b0553216">
  <tbody>
    <tr>
      <td style="padding:0px 0px 16px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Total --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor="#FFFFFF"
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:20px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap; font-size: 18px"><strong>Total</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:20px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap; font-size: 18px"><strong>{{ totalAmount }}</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- spacer --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="a15f4ddd-d611-4626-945c-62c1a481f19f">
  <tbody>
    <tr>
      <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- button --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button"
  data-type="button" role="module" style="table-layout:fixed;" width="100%"
  data-muid="7564a63d-604e-486b-a509-14550d6d9be3">
  <tbody>
    <tr>
      <td align="center" bgcolor="#ffffff" class="outer-td"
        style="padding:0px 24px 0px 24px; background-color:#ffffff;">
        <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile"
          style="text-align:center;">
          <tbody>
            <tr>
              <td align="center" bgcolor="#FF3366" class="inner-td"
                style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                
                {%- capture cta_link -%}{{ platform_context.host }}/admin/insites/#/ecommerce/order/{{ data.order_id }}{%- endcapture -%}
                <a href="{{- cta_link -}}"
                  style="background-color:#FF3366; border:0px solid #FF3366; border-color:#FF3366; border-radius:4px; border-width:0px; color:#ffffff; display:inline-block; font-size:16px; font-weight:700; letter-spacing:0px; line-height:normal; padding:16px 40px 16px 40px; text-align:center; text-decoration:none; border-style:solid; font-family:arial,helvetica,sans-serif;"
                  target="_blank">View Order</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
