---
metadata: {
    partial_name: 'Events | Purchase Ticket | Billing Step'
}
---

<div id="ticket-billing-step" class="hide">
    {% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
    {% assign fields = form.fields %}
    {% assign prop = fields.properties %}
    {% assign profiles_prop = fields.profiles['modules/insites_core/crm_contact'].properties %}

    {% if has_profile %}
        {%  liquid
            assign contact_first_name = context.current_user.first_name
            assign contact_last_name = context.current_user.last_name
            assign contact_email = context.current_user.email
            graphql user_details = "modules/portal/account/get_user_by_email" email: context.current_user.email | dig: "items" | dig: "results" | first
            assign crm_contact = user_details.crm_contact | first
            assign contact_company_uuid = crm_contact.company_uuid
            assign contact_company_name = crm_contact.company.company_name
            assign contact_phone_country_code = crm_contact.mobile_phone_country_code
            assign contact_phone_number = crm_contact.mobile_phone_number
            assign company_uuid = crm_contact.company_uuid
        %} 
    {% else %}
        {%  liquid      
            assign contact_first_name = context.session.contact_first_name
            assign contact_last_name = context.session.contact_last_name
            assign contact_email = context.session.contact_email
            assign contact_company_name = context.session.contact_company_name
            assign contact_phone_country_code = context.session.contact_phone_country_code
            assign contact_phone_number = context.session.contact_phone_number
        %} 
    {% endif %}

    

    <div id="account-details">
    <h2 class="heading-2-xsmall">Order contact</h2>
    <div class="spacer x-large hide-for-small-only"></div>
    <div class="spacer show-for-small-only"></div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y account-details">      

            <div class="large-12 medium-12 small-12 cell">
            {% if context.current_user %}
                
                <ins-input   
                id="contact-company-name"
                class="label-input" 
                label="Company Name"
                placeholder="Company Name" 
                field="text" 
                value="{{ contact_company_name }}"
                name="temp_company_name"
                readonly >
                </ins-input>

                <input type="hidden" id="contact-company-uuid" name="contact_company_uuid" value="{{ contact_company_uuid }}" >

            {% else %} 

                <ins-input   
                id="contact-company-name"
                class="label-input" 
                label="Company Name"
                placeholder="Company Name" 
                field="text" 
                value="{{ context.session.contact_company_name }}"
                name="contact_company_name">
                </ins-input>

            {% endif %}        
            </div>

            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate  
                id="contact-first-name"
                class="label-input"
                label="First Name*"
                placeholder="First Name" 
                value="{{ contact_first_name }}"
                name="contact_first_name" 
                error-message="First name is required.">
            </ins-input>
            </div>

            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate  
                id="contact-last-name"
                class="label-input"
                label="Last Name*"
                placeholder="Last Name" 
                value="{{ contact_last_name }}"
                name="contact_last_name" 
                error-message="Last name is required.">
            </ins-input>
            </div>

            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate 
                id="contact-email"
                class="label-input"
                {% if context.current_user and context.current_user.email %} readonly {% endif %} 
                label="Email*"
                placeholder="Email" 
                field="email" 
                value="{{ contact_email }}"
                name="contact_email" 
                error-message="Email is required.">
            </ins-input>
            <p id="contact-email-error-message" class="error-message hide">Looks like you already have an account with us, please <a href='/sign-in'>login</a> to continue.</p>
            </div>

            <div class="large-6 medium-6 small-12 cell">
            <ins-input-tel  
                class="label-input" 
                id="contact-phone"
                label="Phone"
                country-code="{{ contact_phone_country_code | default: '61' }}"  
                phonenum-value="{{ contact_phone_number }}"
                phonenum-placeholder="Phone" 
                no-areacode>
            </ins-input-tel>

            <input type="hidden" 
                id="contact-phone-number"
                name="contact_phone_number"
                value="{{ contact_phone_number }}" >

            <input type="hidden" 
                id="contact-phone-country-code"
                name="contact_phone_country_code"
                value="{{ contact_phone_country_code }}" >
            </div>

        </div>
    </div>
    </div>      


    {% comment %} Billing contact {% endcomment %}
<div id="billing-details" class="insites-form">
        
  <div class="grid-x">

    <div class="cell">
      <div class="spacer xxx-large hide-for-small-only"></div>
      <div class="spacer x-large show-for-small-only"></div>
      <h4 class="heading-2-xsmall">Billing contact</h4>
      <div class="spacer x-large hide-for-small-only"></div>
      <div class="spacer show-for-small-only"></div>
        {% if context.session.is_billing_same_with_contact == true %}
            {% assign checked = 'checked' %}
            {% assign isChecked = 'true' %}
        {% else %}
            {% assign checked = '' %}
            {% assign isChecked = 'false' %}
        {% endif %}
        <ins-checkbox class="inline" 
            {{ checked }}
            name="is_billing_same_with_contact"
            value={{isChecked}}
            id="billing-same-with-order" 
            label="My billing contact is the same as my order contact.">
        </ins-checkbox>
    </div>

  </div>

  <div id="billing-contact-inputs" class="grid-x grid-padding-x grid-padding-y  billing-contact {% if context.session.is_billing_same_with_contact == true %} hide {% endif %}">

    <div class="large-12 medium-12 small-12 cell">
      <ins-input  
        class="label-input" 
        label="Company Name" 
        placeholder="Company Name"
        field="text" 
        id="billing-company-name" 
        value="{{ context.session.billing_company_name }}"
        name="billing_company_name">
      </ins-input>
    </div>
    <div class="large-6 medium-6 small-12 cell">
      <ins-input required validate 
        label="First Name*" 
        placeholder="First Name"
        class="required-billing-contact"
        name="billing_first_name}" 
        id="billing-first-name" 
        value="{{ context.session.billing_first_name | default: ''}}"
        error-message="First name is required.">
      </ins-input>
    </div>
    <div class="large-6 medium-6 small-12 cell">
      <ins-input required validate 
        label="Last Name*" 
        placeholder="Last Name"
        class="required-billing-contact"
        name="billing_last_name" 
        id="billing-last-name" 
        value="{{ context.session.billing_last_name | default: ''}}"
        error-message="Last name is required.">
      </ins-input>
    </div>
    <div class="large-6 medium-6 small-12 cell">
      <ins-input required validate 
        label="Email*" 
        placeholder="Email*" 
        field="email"
        class="required-billing-contact"
        name="billing_email" 
        id="billing-email" 
        value="{{ context.session.billing_email | default: ''}}"
        error-message="Email is required.">
      </ins-input>
    </div>
    <div class="large-6 medium-6 small-12 cell">
      <ins-input-tel 
        class="label-input" 
        id="billing-phone" 
        label="Phone"
        country-code="{{ context.session.billing_phone_country_code | default: '61'}}"
        phonenum-value="{{ context.session.billing_phone_number | default: ''}}"
        phonenum-placeholder="Phone" no-areacode>
      </ins-input-tel>

      <input type="hidden" 
        id="billing-phone-number"
        name="billing_phone_number"
        value="{{ context.session.billing_phone_number }}" > 

      <input type="hidden" 
        id="billing-phone-country-code"
        name="billing_phone_country_code"
        value="{{ context.session.billing_phone_country_code }}" >
    </div>
  </div>

</div>

 
    
    {% comment %} Billing Address {% endcomment %}
    {% if has_profile %}
        {% include "modules/events/purchase_ticket/billing_step/billing_form_address", company_uuid: company_uuid %}    
    {% else %}

        {% comment %} Responsive spacers {% endcomment %}
        {% include 'modules/events/layout/responsive_spacers', desktop: 'xxx-large', mobile: 'x-large' %}

        {% comment %} Search address {% endcomment %}
        <div id="billing-address-fields" class="address-fields" >
        <div class="grid-x">        
            <h4 class="heading-2-xsmall">Billing address</h4>
        </div>
        <div class="hide-for-small-only spacer x-large"></div>
        <div class="show-for-small-only spacer"></div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="large-12 medium-12 small-12 cell">
            <ins-input address-lookup label="Search Address" 
                id="billing-address-search" name="billing"
                placeholder="Search Address" icon="icon-map-pin">
            </ins-input>            
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate 
                label="Address 1*" 
                id="billing_address_1"
                placeholder="Address 1" 
                name="billing_address_1"
                value="{{ context.session.billing_address_1 }}"
                error-message="Address 1 is required.">
            </ins-input>
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input  
                label="Address 2" 
                id="billing_address_2" 
                placeholder="Address 2"
                name="billing_address_2"
                value="{{ context.session.billing_address_2 }}">
            </ins-input>
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate
                label="Suburb*" 
                id="billing_suburb" 
                placeholder="Suburb"
                name="billing_suburb"
                value="{{ context.session.billing_suburb }}"
                error-message="Suburb is required.">
            </ins-input>
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate 
                label="State*" 
                id="billing_state" 
                placeholder="State"
                name="billing_state"
                value="{{ context.session.billing_state }}"
                error-message="State is required.">
            </ins-input>
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input  required validate 
                label="Postcode*" 
                id="billing_postcode"
                placeholder="Postcode" 
                name="billing_postcode"
                value="{{ context.session.billing_postcode }}"
                error-message="Postcode is required.">
            </ins-input>
            </div>
            <div class="large-6 medium-6 small-12 cell">
            <ins-input  required validate 
                label="Country*" 
                id="billing_country"
                placeholder="Country" 
                name="billing_country"
                value="{{ context.session.billing_country }}"
                error-message="Country is required.">
            </ins-input>
            </div>
        </div>
        </div>
    {% endif %}

      
    <div class="hide-for-small-only spacer xxx-large"></div>
    <div class="show-for-small-only spacer x-large"></div>    

</div>

<ins-modal id="address-form-modal" with-backdrop no-button >
    <div class="inviteUserModalBodyContainer">
        <h5 class="heading-3">Add new address</h5>
        <div class="spacer"></div> 

        <div class="address-fields" >

            <ins-input address-lookup 
                label="Search Addresss" name="modal" id="modal_search"              
                placeholder="Search Addresss" icon="icon-map-pin">
            </ins-input>  

            <input type="hidden" id="modal_latitude" value="">
            <input type="hidden" id="modal_longitude" value="">    
                        
            <ins-input required validate 
                label="Address 1*" 
                id="modal_address_1"
                placeholder="Address 1" 
                value=""
                error-message="Address 1 is required.">
            </ins-input>

            <ins-input  
                label="Address 2" 
                id="modal_address_2" 
                placeholder="Address 2"
                value=""
                error-message="">
            </ins-input>

            <ins-input validate
                label="Suburb*" 
                id="modal_suburb" 
                placeholder="Suburb"
                value="" 
                error-message="Suburb is required.">
            </ins-input>

            <ins-input validate 
                label="State*" 
                id="modal_state" 
                placeholder="State"
                value=""
                error-message="State is required.">
            </ins-input>

            <ins-input validate 
                label="Postcode*" 
                id="modal_postcode"
                placeholder="Postcode" 
                value=""
                error-message="Postcode is required.">
            </ins-input>

            <ins-input validate 
                label="Country*" 
                id="modal_country"
                placeholder="Country" 
                value=""
                error-message="Country is required.">
            </ins-input>

            <div class="modal-button">
                <ins-button
                    id="address-cancel-btn"
                    type="button"
                    class="card-form-cancel"
                    label="Cancel"
                    outlined
                    icon="icon-close-1">
                </ins-button>

                <ins-button
                    type="button"
                    id="address-submit-btn"
                    label="Add address"
                    solid
                    icon="icon-check-2">
                </ins-button>
            </div>

        </div>
    </div>
</ins-modal>