---
name: update_user_password
resource: User
resource_owner: anyone
redirect_to: /sign-out
flash_alert: Error-UserPassword
flash_notice: Success-UserPassword
fields:
  password:
    validation:
      confirmation: true
      presence:
        message: Password is required
  password_confirmation:
    validation: 
      presence:
        message: Password should match
    property_options:
      virtual: true
---

{%- form 
    html-id: "user-password-form"
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}
    
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <ins-input validate
                id="password"
                label="New Password"
                field="password"
                name="{{ form.fields.password.name }}" 
                value="{{ form.fields.password.value }}" 
                {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
                {% if errmatch %}
                error-message="Password doesn't match" 
                {% else %}
                error-message="Invalid password" 
                {% endif %}
                placeholder="New password">
            </ins-input>

            <ins-input validate
                id="password_confirmation"
                label="Password Confirmation"
                field="password"
                name="{{ form.fields.password_confirmation.name }}" 
                value="{{ form.fields.password_confirmation.value }}" 
                {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
                {% if errmatch %}
                error-message="Password doesn't match" 
                {% else %}
                error-message="Invalid password" 
                {% endif %}
                placeholder="Confirm new password">
            </ins-input>

            <div class="spacer small"></div>

            {%- if context.flash.notice != blank and context.flash.notice == 'Success-UserPassword' -%}
                <div class="small cell">
                    <p class="color-success">Account password updated.</p>
                    <div class="spacer"></div>
                </div>
            {%- endif -%}
            {%- if context.flash.alert != blank -%}
              <p class="color-error">{{ context.flash.alert | json }}</p>
              <div class="spacer"></div>
            {%- endif -%}
            
            <div class="text-right">
              <ins-button outlined 
                id="save-password-btn" label="Update Password" 
                color="blue" type="submit" size="normal">
              </ins-button>
            </div>

        </div>
    </div>

{%- endform -%}