---
slug: account-information
layout: modules/ins_template_ecommerce/user-profile-layout
metadata: {
    "status": "published",
    "page_type": "system", ## content, system or endpoint
    "og:url": "{{ context.exports.global.company_url | strip }}",
    "og:type": "",
    "og:image": "",
    "og:title": "Account Information | {{ context.exports.global.company_name | strip }}",
    "og:description": "Account Information | {{ context.exports.global.company_name | strip }}",
    "og:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "Account Information | {{ context.exports.global.company_name | strip }}",
    "page_title": "Account Information | {{ context.exports.global.company_name | strip }}",
    "meta_description": "Account Information | {{ context.exports.global.company_name | strip }}",
    "canonical_url": "",
    "search_engine_visibility": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
authorization_policies:
  - modules/ins_template_ecommerce/customer_logged_in
---

{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- if user.customer -%}
  {%- assign prof = user.customer[0] -%}
  {%- if prof != blank  -%}
    {%- if prof.is_activated -%}
      {%- assign verified = true -%}
    {%- else -%}
      {%- assign verified = false -%}
    {%- endif -%}  
  {%- endif -%}
{%- endif -%}

{%- include 'modules/insites_ecommerce/shared/api_credentials' -%}

<div class="my-profile">
    {% comment %} Account Info{% endcomment %}
    <div>
      <div class="grid-x grid-padding-x">
          <div class="small-12 cell">
            <h1 class="heading-1">Account Information</h1>
          </div>

          {%- if verified == false -%}
          <div class="small-12 cell text-center">
            <div class="spacer"></div>
            {%- include_form "modules/ins_template_ecommerce/resend_verification", 
              id: context.current_user.id -%}
          </div>
          {%- endif -%}
      </div>

      <div class="spacer xxx-large"></div>
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-6 small-12 cell">
            <h2 class="heading-2 color-font-sub">Account Details</h2>
            <div class="spacer x-large"></div>
            {%- include_form 'modules/ins_template_ecommerce/update_user_info', id: user.id -%}
        </div>
        <div class="large-4 large-offset-1 medium-6 small-12 cell">
            <div class="spacer xxx-large show-for-small-only"></div>
            <h2 class="heading-2 color-font-sub">Change Password</h2>
            <div class="spacer x-large"></div>
            {% include_form 'modules/ins_template_ecommerce/update_user_password', id: user.id %}
        </div>
      </div>
    </div>

    {% comment %} Credit Cards {% endcomment %}
    <div id="credit-card-fields">
      <div class="spacer xxx-large"></div>
      <div class="grid-x">
          <div class="small-6 medium-auto cell">
            <h2 class="heading-2 color-font-sub">Credit Cards</h2>
          </div>
          {%- if verified -%}
          <div class="small-6 cell align-right vertical-align-middle">
              <ins-button id="add-credit-card" icon="icon-add" label="ADD CREDIT CARD" color="blue" size="small"></ins-button>
          </div>
          {%- endif -%}
      </div>
      
      <div class="spacer x-large"></div>
        {%- if verified -%}
        <div id="card-options-list" card-grid="large-4 medium-6 small-12" 
          class="grid-x grid-padding-x">
          {%- if context.current_user.id -%}
            {%- graphql cards = "modules/ins_template_ecommerce/credit_card/get_credit_card", 
              user_id: context.current_user.id
              size: 50 | dig: 'items' -%}
            {%- if cards.total_entries > 0 -%}
              {%- assign hide = "hide" -%}
            {%- endif -%}
            {%- for card in cards.results -%}
                <div class="large-4 medium-6 small-12 cell card-options">
                    <ins-credit-card 
                        data-id="{{ card.id }}" 
                        brand="{{ card.properties.brand }}"
                        last-four="{{ card.properties.last4 }}"
                        expiry-month="{{ card.properties.exp_month }}"
                        expiry-year="{{ card.properties.exp_year }}"
                        full-year
                        value="{{ card.properties.gateway_id }}">
                    </ins-credit-card>
                </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
        <div class="grid-x grid-padding-x">
          <div id="no-card" class="small-12 cell text-center {{hide}}">
            <ins-card class="empty-state full" steady>
              <p>No Credit card</p>
            </ins-card>
          </div>
        </div>

        {%- include 'modules/ins_template_ecommerce/forms/stripe_element',
          email_field_id: "email" -%}

        {%- else -%}
        <div class="grid-x grid-padding-x">
          <div class="small-12 cell text-center">
            <ins-card class="empty-state full" steady>
              <p>To view / modify your Credit Cards please verify your account.</p>
            </ins-card>
          </div>
        </div>
      {%- endif -%}
    </div>

    {% comment %} Addresses {% endcomment %}
    <div>
      <div class="spacer xxx-large"></div>
      <div class="grid-x grid-padding-x">
        <div class="small-6 medium-auto cell">
          <h2 class="heading-2 color-font-sub">Address Book</h2>
        </div>
        <div class="small-6 cell align-right vertical-align-middle">
          <a href="/account-information/address">
            <ins-button id="add-address" icon="icon-add" label="ADD ADDRESS" color="blue" size="small"></ins-button>
          </a>
        </div>
      </div>
    
      <div class="spacer x-large"></div>
      {%- graphql address_data = 'modules/ins_template_ecommerce/user/get_user_address_list', user_id: user.id -%}
      {%- if address_data.items and address_data.items.total_entries > 0 -%}
      {%- assign addresses = address_data.items.results -%}
              
        <div id="address-list" class="address-list grid-x grid-padding-x grid-padding-y"
          data-equalizer>
          
          {%- for address in addresses -%}
          
          {%- assign main_address = "" -%}
          {%- if address.properties.address_1 and address.properties.address_1 != '' -%}
              {%- assign main_address = main_address | append: address.properties.address_1 | strip | append : ", " -%}
          {%- endif -%}
          {%- if address.properties.address_2 and address.properties.address_2 != '' -%}
              {%- assign main_address = main_address | append: address.properties.address_2 | strip | append : ", " -%}
          {%- endif -%}
          {%- if address.properties.address_3 and address.properties.address_3 != '' -%}
              {%- assign main_address = main_address | append: address.properties.address_3 | strip | append : ", " -%}
          {%- endif -%}
          {%- if address.properties.city and address.properties.city != '' -%}
              {%- assign main_address = main_address | append: address.properties.city | strip | append : " " -%}
          {%- endif -%}
          
          <div class="large-4 medium-6 small-12 cell">
            <a href="/account-information/address/{{ address.id }}">
              <ins-card steady>
                <p class="color-font-head"><strong>{{ main_address }}</strong></p>
                <div class="spacer small"></div>
                <p>{{ address.properties.state | strip }}, {{ address.properties.postcode | strip }}</p>
                <p>{{ address.properties.country | strip }}</p> 
              </ins-card>
            </a>
          </div>
          
          {%- endfor -%}
        </div>

      {%- else -%}
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell grid-x text-center">
              <ins-card class="empty-state full" steady>
                <p>No Address Added</p>
              </ins-card>
            </div>
        </div>

      {%- endif -%}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
  <script src="{{ 'modules/ins_template_ecommerce/services/stripeServices.js' | asset_url }}"></script>
  <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.js' | asset_url }}"></script>
  <script src="{{ 'modules/ins_template_ecommerce/scripts/user-profile.js' | asset_url }}"></script>
{%- else -%}
  <script src="{{ 'modules/ins_template_ecommerce/services/stripeServices.min.js' | asset_url }}"></script>
  <script src="{{ 'modules/ins_template_ecommerce/services/apiServices.min.js' | asset_url }}"></script>
  <script src="{{ 'modules/ins_template_ecommerce/scripts/user-profile.min.js' | asset_url }}"></script>
{%- endif -%}


{%- if context.flash and context.flash.notice == "Success-UserAddress-patch" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Address has been updated.");
}, 200);
</script>
{% endif -%}

{%- if context.flash and context.flash.alert == "Error-UserAddress-patch" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error in updating address.");
}, 200);
</script>
{% endif -%}



{%- if context.flash and context.flash.notice == "Success-UserAddress-post" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Address has been added.");
}, 200);
</script>
{% endif -%}

{%- if context.flash and context.flash.alert == "Error-UserAddress-post" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error in adding address.");
}, 200);
</script>
{% endif -%}


{%- if context.flash and context.flash.notice == "Success-UserProfile" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Account details has been updated.");
}, 200);
</script>
{% endif -%}

{%- if context.flash and context.flash.alert == "Error-UserProfile" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error updating account detail.");
}, 200);
</script>
{% endif -%}


{%- if context.flash and context.flash.notice == "Success-RemoveAddress" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Address has been deleted.");
}, 200);
</script>
{% endif -%}

{%- if context.flash and context.flash.alert == "Error-RemoveAddress" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error remove address.");
}, 200);
</script>
{% endif -%}
