<div id="ticket-payment-step" class="hide">
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
{%- if has_profile -%}
    {% assign contact_uuid = context.current_user.external_id %}
    {% assign email = context.current_user.email %}
{%- else -%}
    {% assign contact_uuid = context.session.guest_uuid %}
    {% assign email = context.session.contact_email %}
{%- endif -%}

{% function stripe_settings = "modules/portal/stripe/get_stripe_settings" %}

    {%- graphql cards = "modules/ecommerce/payment_method/get_payment_method", 
            contact_uuid: contact_uuid
            size: 50 | dig: 'items' -%}

    <div id="payment-details" class="aa">
        <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 small-12 cell">
                <h4>Credit card</h4>
            </div>
            <div class="large-6 medium-6 small-12 cell text-right">
                {% if has_profile %}
                <div class="spacer small"></div>
                <div id="add-credit-card-button-holder">
                    <ins-button type="button" class="add-card-btn {% if cards.total_entries < 1 %}hide{% endif %}" icon="icon-plus" label="Add credit card">
                    </ins-button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="validate-credit-card">
            {% comment %} Credit Cards {% endcomment %}
            <div id="credit-card-fields" class="card-fields">
                <div class="spacer large"></div>
                <p class="error-message hide">Credit Card is required.</p>
                <div class="grid-container">
                    <div id="card-options-list" class="grid-x grid-padding-x grid-padding-y">
                        {%- if email != '' and email != null -%}

                            {% comment %} 
                                Check first if the user crm_contact.properties.stripe_id has value,
                                - because it is possible that the user has card record in payment_method but no crm_contact.properties.stripe_id (during test: manual deletiong of stripe_id)
                            {% endcomment %}
                            {%- graphql user_stripe = 'modules/portal/customers/get_user_stripe_id', email: email | dig: 'items','results' | first -%}
                            {%- assign stripe_id = user_stripe | dig: 'profiles' | first | dig: 'stripe_id' -%}

                            {% if stripe_id != '' and stripe_id != null %}                                
                                {%- for card in cards.results -%}
                                    {%  liquid
                                        assign is_card_active = ''
                                        if forloop.first
                                            assign selected_card = card.payment_method_token
                                            assign is_card_active = 'active'
                                        endif
                                    %}
                                    <div class="large-6 medium-6 small-12 cell card-options">
                                        <ins-credit-card {{ is_card_active }} data-id="{{ card.id }}" brand="{{ card.card_brand }}"
                                            last-four="{{ card.card_last_four_digits }}" expiry-month="{{ card.card_expiry_month }}"
                                            expiry-year="{{ card.card_expiry_year }}" full-year
                                            value="{{ card.payment_method_token }}"
                                            compact>
                                        </ins-credit-card>
                                    </div>
                                {%- endfor -%}
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                </div>
                <ins-input required validate
                    field="hidden"
                    id="stripe-card"
                    class="hide"
                    name="{{ form.fields.properties.stripe_credit_card.name }}"
                    value="{{ selected_card }}"></ins-input>
            </div>

            {%- if has_profile -%}
                <div id="no-card" class="empty-box {% if cards.total_entries > 0 %}hide{% endif %}">
                    <p class="body-large bold">No card added.</p>
                    <div class="spacer"></div>
                    <ins-button solid type="button" class="add-card-btn" icon="icon-plus" label="Add credit card"></ins-button>
                </div>
            {%- else -%}
                {% comment %} Use block stripe form for Guest Chackout {% endcomment %}
                <div class="spacer x-small"></div>
                <div id="guest-add-card-form" class="temp {% if cards.total_entries > 0 %}hide{% endif %}">
                    {% include 'modules/ecommerce/forms/stripe_form', cards: cards %}
                </div>
            {%- endif -%}

        </div>
        {% comment %}END: Credit Cards {% endcomment %}

        <div class="spacer"></div>
        <div class="spacer xx-small"></div>


        {%- comment -%} Check if stripe settings are configured {%- endcomment -%}
        {% comment %} {%- include 'modules/ecommerce/checkout/compute_order_summary' -%} {% endcomment %}
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 cell">                             
                            
                {%- assign stripe_account_id = stripe_settings.account_id -%}
                
                {%- if stripe_account_id == '' or stripe_account_id == null -%}
                    <ins-button disabled color="negative"
                        label="Payment settings not configured, please contact website administrator.">
                    </ins-button>
                {%- else -%}
                
                    <div class="grid-x grid-padding-x">  
                        <div class="large-6 medium-6 small-12 cell">
                        
                        <a href="/checkout/billing">
                            <ins-button type="button" label="Back" outlined icon="icon-arrow-back"></ins-button>
                        </a>
                        </div>
                        <div class="show-for-small-only spacer xxx-large"></div> 
                        <div id="submit-buttons" class="large-6 medium-6 small-12 cell text-right {% if cards.total_entries < 1 or cards == null %} hide {% endif %}">
                            <ins-button solid type="submit" icon="icon-task-completed" id="checkout-ticket-submit-btn" class="w-100 checkout-btn" label="Pay now"></ins-button>
                        </div>
                    </div>

                {%- endif -%}
            </div>
        </div>
    </div>
    <!-- END Payment Details -->
    


<!-- Stripe Element -->
{% comment %} Use modal stripe form for Member Chackout {% endcomment %}
{% if has_profile %}
    <ins-modal id="stripe-modal" 
        no-button 
        with-backdrop
        height="255px" 
        width="520px"
        heading="Add new card">
            {% include 'modules/ecommerce/forms/stripe_form', has_profile %}
    </ins-modal>
{% endif %}
{%- include 'modules/events/forms/stripe_element',
    cc_field_id: "stripe-card",
    public_key: stripe_settings.pk_key,
    has_profile: has_profile -%}
<!-- END Stripe Element -->
</div>
