---
metadata: {
    partial_name: 'Events | Purchase Ticket | Stepper'
}
---

{%- liquid
    if context.flash.notice != blank
        assign statusPersonal = "complete"
        assign statusCompany = "complete"
    endif

    if context.params.slug == 'allocate-ticket'
        assign status = 'complete'
        assign allocateTicket = 'active'
    endif

    if context.params.slug == 'purchase-ticket-thank-you'
        assign status = 'complete'
        assign allocateTicket = 'complete'
    endif

-%}

<div class="form-groups-tab step-scrollbar stepper-wrapper">        
    <ins-steps id="ticket-purchase-stepper">
        <ins-step {{ status }} description="Purchase"></ins-step>
        <ins-step {{ status }} description="Billing"></ins-step>
        <ins-step {{ status }} description="Payment"></ins-step>
        <ins-step {{ allocateTicket }}  description="Allocate"></ins-step>
        <ins-step {{ status }} description="Confirmation"></ins-step>
    </ins-steps>
</div>