{%- if order -%}

    <h2 class="heading-2-small">Order Details</h2>
    <div class="spacer x-large"></div>
                           

    {% comment %}  & Order Status  {% endcomment %}
    <div class="grid-x grid-padding-x">
        {% comment %} 1st Column {% endcomment %}
        <div class="large-6 medium-12 small-12 cell">
            <div class="grid-y">
                {% comment %} Payment Details {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Payment Details</h3>
                    <div class="spacer small"></div>
                    <p>{{ order.billing_company_name }}</p>
                    <p>{{ order.billing_contact_first_name }} {{ order.billing_contact_last_name }}</p>
                    <p>{{ order.payment.card_brand | upcase }} **** **** **** {{ order.payment.card_last_four_digits }}</p>
                    {%- assign month = order.payment.card_expiry_month -%}
                    {%- if order.payment.card_expiry_month.size < 2 -%}
                        {%- assign month = "0" | append: order.payment.card_expiry_month -%}
                    {%- endif -%}
                    <p>{{ month }} / {{ order.payment.card_expiry_year }}</p>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Billing Address {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Billing Address</h3>
                    <div class="spacer small"></div>
                    {%- assign billing_address = '' | split: ',' -%}
                    {%- if order.billing_address_1 and order.billing_address_1 != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_address_1 -%}
                    {%- endif -%}
                    {%- if order.billing_address_2 and order.billing_address_2 != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_address_2 -%}
                    {%- endif -%}
                    {%- if order.billing_address_3 and order.billing_address_3 != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_address_3 -%}
                    {%- endif -%}
                    {%- if order.billing_city and order.billing_city != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_city -%}
                    {%- endif -%}
                    {%- if order.billing_state and order.billing_state != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_state -%}
                    {%- endif -%}
                    {%- if order.billing_postcode and order.billing_postcode != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_postcode -%}
                    {%- endif -%}
                    {%- if order.billing_country and order.billing_country != '' -%}
                        {%- assign billing_address = billing_address | array_add: order.billing_country -%}
                    {%- endif -%}
                    <p>{{ billing_address | join: ', ' | replace: ' ,', ',' }}</p>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Shipping Instructions {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Shipping Instructions</h3>
                    <div class="spacer small"></div>
                    <div class="preserve-line-break">{{ order.shipping_instructions | default: '-' }}</div>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Notes {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Notes</h3>
                    <div class="spacer small"></div>
                    <div class="preserve-line-break">{{ order.notes | default: '-' }}</div>
                    <div class="spacer large"></div>
                </div>
            </div>
        </div>

        {% comment %} 2nd Column {% endcomment %}
        <div class="large-6 medium-12 small-12 cell">
            <div class="grid-y">
                {% comment %} Order Contact {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Order Contact</h3>
                    <div class="spacer small"></div>
                    {%- if order.order_company_name -%}
                    <p>{{ order.order_company_name }}</p>
                    {%- endif -%}
                    <p>{{ order.order_contact_first_name }} {{ order.order_contact_last_name }}</p>
                    <p>
                    {% if order.order_contact_phone_country_code %} ({{ order.order_contact_phone_country_code }}) {% endif %}
                    {{ order.order_contact_phone_number }}
                    </p>
                    <p>{{ order.order_contact_email }}</p>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Shipping Address {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Shipping Address</h3>
                    <div class="spacer small"></div>
                    {%- assign shipping_address = '' | split: ',' -%}
                    {%- if order.shipping_address_1 and order.shipping_address_1 != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_address_1 -%}
                    {%- endif -%}
                    {%- if order.shipping_address_2 and order.shipping_address_2 != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_address_2 -%}
                    {%- endif -%}
                    {%- if order.shipping_address_3 and order.shipping_address_3 != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_address_3 -%}
                    {%- endif -%}
                    {%- if order.shipping_city and order.shipping_city != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_city -%}
                    {%- endif -%}
                    {%- if order.shipping_state and order.shipping_state != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_state -%}
                    {%- endif -%}
                    {%- if order.shipping_postcode and order.shipping_postcode != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_postcode -%}
                    {%- endif -%}
                    {%- if order.shipping_country and order.shipping_country != '' -%}
                        {%- assign shipping_address = shipping_address | array_add: order.shipping_country -%}
                    {%- endif -%}
                    
                    <p>{{ shipping_address | join: ', ' | replace: ' ,', ',' }}</p>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Order Status {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Order Status</h3>
                    <div class="spacer small"></div>
                    <ins-tag label="{{ order.order_status }}" class="tagged {{ order.order_status }}"></ins-tag>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Payment Status {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Payment Status</h3>
                    <div class="spacer small"></div>
                    <ins-tag label="{{ order.order_payment_status }}" class="tagged {{ order.order_payment_status }}"></ins-tag>
                    <div class="spacer large"></div>
                </div>

                {% comment %} Shipping Status {% endcomment %}
                <div class="wrap">
                    <h3 class="heading-3 color-font-sub">Shipping Status</h3>
                    <div class="spacer small"></div>
                    {% assign order_shipping_status = order.order_shipping_status | default: 'Processing' %}
                    <ins-tag label="{{ order_shipping_status }}" class="tagged {{ order_shipping_status }}"></ins-tag>
                </div>
            </div>
        </div>      
    </div>

{%- endif -%}