---
metadata: {
    partial_name: 'Ecommerce | Client Portal | Order History'
}
---
<h1 id="order-history-title">Order History</h1>
<div class="spacer small"></div>
<p>Check the status of your order and review your order history.</p>
<div class="spacer x-large"></div>

{%-
    liquid

    assign has_filter = false

    assign page_num = context.params.page | default: 1 | plus: 0
    assign page_size = context.params.per_page | default: 10 | plus: 0

    assign filters = '{}' | parse_json
    assign filters = filters | add_hash_key: "order_contact_uuid", context.current_user.external_id 
    assign filters = filters | add_hash_key: "page", page_num
    assign filters = filters | add_hash_key: "size", page_size

    if context.params.search
        assign filters = filters | add_hash_key: "keyword", context.params.search
        assign has_filter = true
    endif

    assign sort_order = context.params.sort_order | upcase | default: "DESC"
    assign sort_by = '{}' | parse_json
    assign sort_properties = '[]' | parse_json
    assign sort_properties_item = '{}' | parse_json
    assign sort_properties_item = sort_properties_item | add_hash_key: "name", "date_time"
    assign sort_properties_item = sort_properties_item | add_hash_key: "order", sort_order
    assign sort_properties = sort_properties | add_to_array: sort_properties_item
    assign sort_by = sort_by | add_hash_key: "properties", sort_properties
    assign filters = filters | add_hash_key: "sort", sort_by

    if context.params.status
        comment 
            ** Handle 'completed' and 'Completed' strings
        endcomment
        assign statFilter = '[]' | parse_json
        assign statFilter = statFilter | add_to_array: context.params.status
        assign tempStat = context.params.status | downcase | capitalize 
        assign statFilter = statFilter | add_to_array: tempStat
        assign filters = filters | add_hash_key: "orderStatus", statFilter
        assign has_filter = true
    endif

    if context.params.from
        assign filters = filters | add_hash_key: "dateFrom", context.params.from
        assign has_filter = true
    endif
    if context.params.to
        assign filters = filters | add_hash_key: "dateTo", context.params.to
        assign has_filter = true
    endif

    graphql orders = 'modules/ecommerce/orders/get_orders', args: filters
    
    function localisation_date_format = 'modules/ecommerce/localisation/get_localisation'
-%}


    
    <div class="grid-x">
        <div class="large-7 medium-12 small-12 cell order-filter-wrap">
            <ins-filter 
                id="order-filter"
                label="Filter by:"
                with-date-filter 
                date-title="Date"
                {%- if context.params.from -%}
                    date-from='{{context.params.from}}'
                {%- endif -%}
                {%- if context.params.to -%}
                    date-to='{{context.params.to}}'
                {%- endif -%}
                {%- if context.params.search -%}
                    search-keyword="{{ context.params.search }}"
                {%- endif -%}
                >

                <ins-filter-item
                    name="Order Status"
                    id="order-filter-status"
                    options='["All", "Cancelled", "Completed", "Open", "Processing"]'
                    {%- if context.params.status -%}
                        selected='{{context.params.status | capitalize}}'
                    {%- endif -%}
                    >
                </ins-filter-item>
            </ins-filter>
            <div class="spacer hide-for-large"></div>
        </div>
    </div>
    
    <ins-table 
        id="order-table"     
        class="ecommerce"    
        sort-keyword="order-number"
        searchbar-placeholder="Search by order number"
        {%- if context.params.search -%}
            initial-search="{{context.params.search}}"
        {%- endif -%}
        >         
    </ins-table> 


<script src="{{ 'modules/ecommerce/scripts/table.min.js' | asset_url }}" defer></script>
<script>
    let date_format = "{{ localisation_date_format | default: 'DD/MM/YYYY' }}";
    let hasFilter =  {{ has_filter | default: false }};
    let maxCount = {{ orders.items.total_entries }};
    let maxPages = {{ orders.items.total_pages }}
    let currentURL = window.location.href;
    let sortOrder = "{{ context.params.sort_order | default: 'DESC' }}";
    let sortType = "date_time"
    let currentPage = {{ page_num }};
    let pageSize = {{ page_size }};

    // Used for checking if needs to revert to the first page
    let currentFilter = {
        "searchKeyword": "{{ context.params.search | default: "" }}",
        "filterStatus" : "{{ context.params.status | default: '' | capitalize }}",
        "filterDateTo": "{{ context.params.from | default: '' }}",
        "filterDateFrom" : "{{ context.params.to | default: '' }}"
    };

    let searchKeyword = "{{ context.params.search | default: "" }}";
    let filterStatus = "{{ context.params.status | default: '' | capitalize }}"
    let filterDateTo = "{{ context.params.from | default: '' }}"
    let filterDateFrom = "{{ context.params.to | default: '' }}"

    let orderListTable = document.getElementById('order-table');
    let orderFilter = document.getElementById('order-filter');
    let orderFilterStatus = document.getElementById('order-filter-status');

    let tableContent = {{ orders.items.results }};
    let tableHeaders = [
        { label: 'Order Number', type: "string" },
        { label: 'Date Ordered', type: "string", sortable: true },
        { label: 'Total Amount', type: "currency" },
        { label: 'Order Status', type: "string", hasTag: true },
        { label: 'Shipping Status', type: "string", hasTag: true}
    ];

    function changeDateFormat(dateString) {
        // Split the input date string
        const [month, day, year] = dateString.split('/');
        // Rearrange into DD/MM/YYYY
        return `${day}/${month}/${year}`;
    }

    function resolveStatus(status){
        //This would solve problem involving order_status = 'complete' or 'completed'
        if(status.toLowerCase() === "complete") {            
            status = "Completed"
        } 
        return status;
    }

    function mapData(tableData) {
        return tableData.map(data => {                 
            let toDateOnly = TableScript.methods.toDateOnly(data.date_time);                
            let formatDate = TableScript.methods.formatDate(toDateOnly, date_format);
            let dateOrdered = changeDateFormat(formatDate);
            let shipping_status = data.order_shipping_status || 'Processing';
            let tmp_order_status = "";
            if(data.order_status.includes("_")){
                tmp_order_status = data.order_status.replaceAll("_"," ");
            } else {
                tmp_order_status = data.order_status;
            }
            let order_status = TableScript.methods.toTitleCase(resolveStatus(tmp_order_status));

            return {
                id: data.id,
                "Order Number": data.id,
                "Date Ordered": dateOrdered,
                "Total Amount": TableScript.methods.pricify(data.total_amount),
                "Order Status": order_status,
                "Shipping Status": shipping_status
            }
        });
    }


    function processTableData(){
        orderListTable.totalCount = maxCount;
        orderListTable.pageNumber = currentPage;
        if (maxCount <= 0) {
            orderListTable.loadingScreen = true;
            orderListTable.loaderTitle = '';
            orderListTable.loaderIcon = '';
            if(hasFilter){
                orderListTable.loaderMessage = 'No order history.';
            } else{ 
                orderListTable.loaderMessage = 'No results were found for the selected status and date.';
            }
        } else {
            orderListTable.tableData = mapData(tableContent);
            orderListTable.loadingScreen = false;  
        }
    }
 
    function buildFilterParameter(){
        let urlWithParams = new URL(window.location.origin + window.location.pathname);
        console.log("buildFilterParameter - old", urlWithParams);

        if(sortOrder != 'DESC' && sortOrder != 'desc'){ urlWithParams.searchParams.append('sort_order', sortOrder); }
        if(pageSize > 10){ urlWithParams.searchParams.append('per_page', pageSize); }

        let searchKey = searchKeyword.trim();
        if(searchKeyword != ''){ urlWithParams.searchParams.append('search', searchKey); }
        let statusKey = filterStatus.trim();
        if(statusKey != ''){ urlWithParams.searchParams.append('status', statusKey); }
        if(filterDateTo != ''){ urlWithParams.searchParams.append('to', filterDateTo); }
        if(filterDateFrom != ''){ urlWithParams.searchParams.append('from', filterDateFrom); }

        //check if any filter needs to reset the current page number
        let resetPage = false;

        if(searchKeyword != currentFilter.searchKeyword){ resetPage = true; }
        if(statusKey != currentFilter.filterStatus){ resetPage = true; }
        if(filterDateTo != currentFilter.filterDateTo){ resetPage = true; }
        if(filterDateFrom != currentFilter.filterDateFrom){ resetPage = true; }

        if(resetPage){
            urlWithParams.searchParams.delete('page');
        } else {
            if(currentPage > 1){ urlWithParams.searchParams.append('page', currentPage); }
        }
        
        window.location.href = urlWithParams.href;
    }

    function filterHandler(event){
        let dateSelected = event.detail["Date"];
        let orderStatus = event.detail["Order Status"];

        if(orderStatus == "All"){ filterStatus = ''; } 
        else { filterStatus = orderStatus; }  

        if(dateSelected == "All"){
            filterDateTo = '';
            filterDateFrom = '';
        } else {
            filterDateTo = dateSelected.to;
            filterDateFrom = dateSelected.from;
        }       
        buildFilterParameter()             
    }

    function tableSortHandler(event){
        sortOrder = event.detail.order;
        buildFilterParameter();
    }

    function tableSearchHandler(event){
        if(event.detail.keyCode == 13){
            searchKeyword = event.detail.value;
            let searchKey = searchKeyword.trim();
            if(searchKeyword != ''){
                buildFilterParameter();
            } else if(searchKeyword == '' && hasFilter){
                buildFilterParameter();
            }
        }
    }

    function tablePaginationHandler(event){
        currentPage = event.detail.pageNumber;
        pageSize = event.detail.pageSize;
        buildFilterParameter();
    }

    function initFilter(){
        if(orderFilter){
            orderFilter.addEventListener('insFilterApply', filterHandler);
        }
    }

    function initOrderTable(){
        if(orderListTable){
            orderListTable.sortKeyword = "Date Ordered";
            orderListTable.tableHeaders = tableHeaders;
            orderListTable.rowActions = ['View Order'];

            processTableData(tableContent);
            orderListTable.addEventListener('insPaginationChange', tablePaginationHandler);
            orderListTable.addEventListener('insTableSearch', tableSearchHandler);
            orderListTable.addEventListener('insTableSort', tableSortHandler);
            orderListTable.addEventListener('insTableRowAction', event => {
                window.location.href = '/order-history/' + event.detail.data.id;
            });
        }
    }
    
    setTimeout(() => {
        initOrderTable();
        initFilter();
}, 200);
</script>

